@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* JOBS VIEW */

.vacancy-section {
	margin: 0 0 1.5em 0;
	text-align: left;
}

.vacancy {
	@include centered-columns(9);
	@include small();
	@include text-container();
}




