{% extends "modules/views/_base-view/base-view.html" %}
{% from "modules/components/section-header/_section-header.html" import sectionHeader %}

{% block content %}
{{ sectionHeader('Vacature') }}
<div class="vacancy">
	<div class="vacancy-content">
		<section class="vacancy-section">
			<h2>Vacature</h2>
			<p>
				De Voorhoede is een snelgroeiend team van front-end specialisten. We
				lopen graag voorop en werken aan mooie projecten voor klanten als Ziggo,
				Philips en Post.nl. We werken graag met de nieuwste hard- en software.
				Ons kantoor vind je in Amsterdam, aan de Rijnsburgstraat,
				vlak naast het riviertje de Schinkel.
			</p>
			<p>
				Wij zijn continu op zoek naar ambitieuze en leergierige developers met een passie voor
				front-end. Op het moment zijn we specifiek op zoek naar twee front-end developers en één front-end architect.
				Ook stagiares met ambitie mogen zich melden!
			</p>
			<p>
				Wil je ons team versterken? Laat het ons weten via <a href="mailto:werken@voorhoede.nl">werken@voorhoede.nl</a>.
			</p>
			<ul class="bullet-list">
				<li>
					Graag aangeven waarom je bij ons past
				</li>
				<li>
					Graag aangeven welke rol je in voorgaande projecten hebt vervuld
				</li>
			</ul>
		</section>

		<section class="vacancy-section" itemscope itemtype="http://schema.org/JobPosting">
			<h3 itemprop="title">Front-end developer</h3>
			<p>
				Wat wij van je verwachten:
			</p>
			<ul class="bullet-list" itemprop="skills">
				<li>
					Je bent gespecialiseerd in front-end talen: HTML, CSS, JavaScript.
				</li>
				<li>
					Je volgt nieuwe front-end ontwikkelingen met enthousiasme.
				</li>
				<li>
					Je werkt goed in teams en zelfstandig.
				</li>
				<li>
					Je hebt kennis (maar bent niet afhankelijk) van frameworks & libraries.
				</li>
				<li>
					Je hebt ervaring met CSS pre-processors (LESS, SCSS) en GIT versiebeheer.
				</li>
				<li>
					Je hebt kennis van en ervaring met responsive layouts, progressive enhancement en/of
					continuous integration, testing suites zijn een plus.
				</li>
			</ul>
		</section>

		<section class="vacancy-section" itemscope itemtype="http://schema.org/JobPosting">
			<h3 itemprop="title">Front-end architect</h3>
			<p itemprop="description">
				Nieuwe projecten inventariseren, definiëren en hiervoor een geschikte front-end architectuur opzetten.
			</p>
			<ul class="bullet-list" itemprop="skills">
				<li>
					Je hebt een sterk begrip van front-end webtechnologieën: web standards en moderne technieken.
				</li>
				<li>
					Je hebt kennis van frameworks en libraries en bent in staat hierin keuzes te maken afhankelijk van een project.
				</li>
				<li>
					Je hebt ervaring met tools als CSS pre-processors, NodeJS, versiebeheersystemen, test en build scripts.
				</li>
				<li>
					Je bent communicatief vaardig en in staat klant en team te begeleiden bij het (opstart)proces van een project.
				</li>
				<li>
					Je werkt graag agile en bent bekend met Scrum en/of Kanban.
				</li>
				<li>
					Ervaring met andere talen als PHP, JAVA, C# en .NET is een plus.
				</li>
			</ul>
		</section>

		<section class="vacancy-section" itemscope itemtype="http://schema.org/JobPosting">
			<h3>Stageplek</h3>
			<p class="apply-info" itemprop="description">
				Studeer je CMD, informatica of een vergelijkbare opleiding en wil je graag een werk- of
				projectstage doen bij De Voorhoede? Stuur dan een mailtje naar <a href="mailto:post@voorhoede.nl">post@voorhoede.nl</a> met in
				ieder geval welke opleiding je volgt, gedurende welke periode je stage wilt
				lopen en wat jij zelf binnen je stage wilt bereiken.
			</p>
		</section>

	</div>
</div>
{% endblock %}
