{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-may -->

{% block blog %}
<div class="yammer-best-picks-may" data-component="yammer-best-picks-may">
	<div class="blogpost-illustrated-intro">
		<p>
			At De Voorhoede we like to keep each other posted about interesting articles, nifty
			tools and other nice things we find on the web. We share this on
			<a href="https://www.yammer.com/" target="_blank">Yammer</a>. In &lsquo;Yammer: Best
			Picks...&rsquo; we share the highlights with you, this time of the month May.
		</p>
		<figure>
			<img itemprop="image" src="media/yammer-logo.jpg" alt=" "/>
		</figure>
	</div>
	<h2>Element queries</h2>
	<p>
		Do you want to start using element queries? There&apos;s a nice article on how to use them, with
		code examples and a demo, on
		<a href="http://www.backalleycoder.com/2014/04/18/element-queries-from-the-feet-up/" target="_blank">Back Alley Coder</a>.
	</p>
	<h2>Atomic design</h2>
	<p>
		A one hour speech from
		<a href="http://vimeo.com/95626309" target="_blank">Brad Frost at In Control Conference</a>,
		about &lsquo;atomic design&rsquo;. Divide the code of your project into atoms, molecules, organisms,
		templates and finally pages, to avoid repetition of code and improve maintainability.
	</p>
	<h2>Beginner&apos;s mistakes</h2>
	<p>
		JavaScript is an easy language to get started with, but to achieve mastery takes a lot of
		effort. Beginners often make a few well-known mistakes that come back and bite them when
		they least expect. Read about 10 frequently made mistakes at
		<a href="http://tutorialzine.com/2014/04/10-mistakes-javascript-beginners-make/" target="_blank">Tutorialzine</a>.
	</p>
	<h2>Debugging JS in Webstorm</h2>
	<p>
		In <a href="http://www.jetbrains.com/webstorm/" target="_blank">Webstorm</a>, Debugging
		JavaScript is made easier thanks to
		<a href="http://blog.jetbrains.com/webstorm/2014/04/spy-js-webstorm-secret-service/" target="_blank">Spy-js</a>.
		With this new Webstorm 8 tool, you can link your web page to Webstorm and see real-time what
		is happening when JavaScript is being executed. It shows the following order, and the exact
		lines of code that have been executed for a specific action.
	</p>
	<p>
		Another nice
		<a href="http://www.gamefromscratch.com/post/2012/08/17/Debugging-with-JavaScript-with-WebStorm.aspx" target="_blank">article about debugging JavaScript with Webstorm</a>.
		This time without Spy-js. The writer explains the whole flow, illustrated with example code.
	</p>
	<h2>Node.js</h2>
	<p>Take your first steps with node.js following this interactive tutorial in the terminal, at
		<a href="http://nodeschool.io" target="_blank">nodeschool.io</a>.
	</p>
	<p>
		If you want to start using node.js with Webstorm, take a look at this
		<a href="http://blog.jetbrains.com/webstorm/2014/05/guide-to-node-js-development-with-webstorm/" target="_blank">blogpost by Ekaterina Prigara</a>,
		where she explains how to get a good workflow.
	</p>
	<h2>Octotree</h2>
	<p>
		<a href="https://chrome.google.com/webstore/detail/octotree/bkhaagjahfmjljalopjnoealnfndnagc" target="_blank">Octotree</a>
		is a tool with which you can view GitHub repositories in an easy-to-navigate code tree. Nice
		if you just want to check out some code, but don&apos;t want to checkout the repository.
	</p>
	<h2>Without Photoshop</h2>
	<p>
		With <a href="http://avocode.com" target="_blank">Avocode</a>, you can open Adobe Photoshop
		documents and extract all the info you need for front-end development. Think about saving
		images, and getting CSS code (or Sass if you like) for specific elements, like buttons. It
		looks very fancy, but some patience is needed. There is a waiting list for the beta version.
	</p>
	<p>
		Another browser tool in beta: Adobe&apos;s
		<a href="https://projectparfait.adobe.com/" target="_blank">Project Parfait</a>. This has a
		similar functionality. You can check out all things needed for front-end development on your
		PSD, without having to open Photoshop. Also, you can optimize images and copy the CSS code
		for specific elements. No waiting list here, you can go ahead and upload your PSD now.
	</p>
	<h2>Vector Layout Expressions</h2>
	<p>
		<a href="https://github.com/indus/VLEX" target="_blank">Vlex</a> is a tool that helps you
		manipulate the size of your SVGs, depending on the size of the viewport.
	</p>
	<h2>Site Effect</h2>
	<p>
		<a href="http://siteeffect.io/" target="_blank">SiteEffect</a> is a regression testing
		framework. With this, you compare your web site or web application before and after doing
		work on it. It will check for changes in appearance, and highlight the source of the change
		on &lsquo;before&rsquo; and &lsquo;after&rsquo; screenshots. This way you can check if nothing else than the
		intended has changed.
	</p>
	<h2>Full Spectrum Testing</h2>
	<p>
		On this
		<a href="http://pascalprecht.github.io/full-spectrum-testing-slides/" target="_blank">slideshow by Carmen Popoviciu and Pascal Precht</a>
		you can see the slides from their talk, given at the Codefront front-end conference the 10th
		of May. In this slideshow you will see their advice on how to approach full spectrum
		testing, and what tools are best used to do it.
	</p>
	<h2>Accessibility</h2>
	<p>
		<a href="http://alistapart.com/article/accessibility-the-missing-ingredient" target="_blank">&ldquo;Accessibility, the missing ingredient&rdquo;</a>
		is a nice article on A List Apart, written by Andrew Hoffman. With a practical example of a
		web store, he walks through the necessary things to consider, in order to really have an
		accessible app. Beyond alt texts for images and titles for anchors.
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /yammer-best-picks-may -->
