@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* $_COMPONENT_NAME_$ component */

.meetup-js-mvc-6-slides {
	.iframe-jsmvc {
	 display: block;
	 margin: 1em auto;
	}

	.iframe-ember {
	 width: 100%;
	 max-width: 100%;
	 border: 1px solid $shadow;
	}
}