{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup js mvc 6 slides -->

{% block blog %}
<div class="meetup-js-mvc-6-slides" data-component="meetup-js-mvc-6-slides">
	<div class="blogpost-illustrated-intro">
		<p>
			Woensdag 29 januari was er een event van Meetup JS MVC Amsterdam bij De Voorhoede. Er
			waren veel aanmeldingen en zelfs een flinke wachtlijst, dus het was gezellig druk. Na
			een drankje en een stuk pizza waren er twee presentaties. Hieronder vind je de slides
			bij deze presentaties:
		</p>
		<figure>
			<img itemprop="image" src="media/js-mvc-voorhoede.min.jpg" alt="Er is genoeg om over na te praten bij de Meetup JS MVC #6."/>
		</figure>
	</div>
	<h2>Ember.js Application Architecture</h2>
	<span class="inside-article-author">Door <a href="https://github.com/benkonrath" target="_blank">Ben Konrath</a></span>
	<p>Een hint voor onderstaande presentatie: niet scrollen, maar klikken.</p>
	<figure>
		<iframe style="height: 356px;" class="iframe-jsmvc iframe-ember" src="http://bagu.org/presentations/ember-application-architecture/ember.js-application-architecture.svg" frameborder="0" scrolling="no" allowfullscreen></iframe>
		<figcaption>
			Source: <a href="http://bagu.org/presentations/ember-application-architecture/ember.js-application-architecture.svg">http://bagu.org/presentations/ember-application-architecture/ember.js-application-architecture.svg</a>
		</figcaption>
	</figure>

	<h2>ng Architecture: Best Practices for Setting up Angular Project Structures</h2>
	<span class="inside-article-author">Door <a href="../../index.html#team">Jasper Moelker</a></span>
	<figure>
		<iframe class="iframe-jsmvc" src="http://www.slideshare.net/slideshow/embed_code/30615494" width="100%" style="height: 356px;" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:1em; max-width: 100%;" allowfullscreen> </iframe>
		<figcaption>
			Source: <a href="http://www.slideshare.net/jbmoelker/voorhoede-frontend-architecture">http://www.slideshare.net/jbmoelker/voorhoede-frontend-architecture</a>
		</figcaption>
	</figure>
	<p>Benieuwd naar de reacties van bezoekers van deze Meetup? Kijk dan op de
		<a href="http://www.meetup.com/JavaScript-MVC-Meetup-Amsterdam/events/156767102/" target="_blank">Meetup-pagina van JS MVC Amsterdam</a>.
	</p>
</div>
{% endblock %}

<!-- /meetup js mvc 6 slides -->
