{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup-amsterdamjs -->

{% block blog %}
<div class="meetup-amsterdamjs" data-component="meetup-amsterdamjs">
	<p>
		Op 30 oktober was er weer een meetup van
		<a href="http://www.meetup.com/AmsterdamJS">AmsterdamJS</a>, deze keer
		bij <a href="http://rockstart.com/">Rockstart</a> in Amsterdam. Er waren
		twee presentaties.
	</p>
	<h2>User Experience</h2>
	<p>
		UXer <a href="http://chrissywelsh.com">Chrissy Welsh</a> deed de eerste
		presentatie, met als titel &lsquo;The hitchhikers guide to UXing without
		a UXer&rsquo;. Dit ging over User Experience design, iets waar de meeste
		developers vroeg of laat mee te maken krijgen. Chrissy legde uit waar je
		allemaal aan moet denken op het gebied van UX, nog voordat je aan het
		bouwen van je nieuwe app of website begint. En voordat je het moment
		bereikt dat je een echte UXer bij je project betrekt. Haar belangrijkste
		adviezen:
	</p>
	<ul>
		<li>
			Bedenk 1 ding dat je product heel goed moet doen.
			Laat dat de leidraad zijn voor al je beslissingen. Draagt dit bij
			aan het ene ding?
		</li>
		<li>
			Bedenk wie je gebruiker is. Geef deze zelfs een gezicht (foto),
			naam, beroep, woonplaats etc. Bedenk in een korte zin wat deze
			persoon van jouw product wil.
			En in nog een zin wat juist niet.
			Bedenk bij al je beslissingen of dit je gebruiker blij maakt.
		</li>
		<li>
			Kijk eens naar <a href="http://balsamiq.com/" target="_blank">Balsamiq</a>,
			<a href="http://www.invisionapp.com/" target="_blank">InvisionApp</a>
			en <a href="https://usabilityhub.com/" target="_blank">Usabilityhub</a>.

		</li>
	</ul>
	<p>
		Een goed, helder verhaal. En een erg goede spreker.
	</p>
	<h2>Appcelerator</h2>
	<p>
		Wienke Giezeman verzorgde de tweede presentatie: &lsquo;Building Native
		Apps with Javascript&rsquo;. Wienke heeft een startup,
		<a href="http://www.wappzapp.tv">WappZapp.</a>. Daarvoor heeft hij een
		app gebouwd voor Android en iOS, met behulp van
		<a href="http://www.appcelerator.com">Appcelerator</a>. In het kort liet
		hij zien hoe Appcelerator werkt. Hij is erg enthousiast over deze tool,
		en weet zijn enthousiasme goed over te brengen.
	</p>
	<p>
		Het was een behoorlijk drukke meetup, met meer dan 100 aanmeldingen.
		Een heel levendig, ge&euml;ngageerd publiek.
		Na afloop van de presentaties werden er veel vragen gesteld en kwam er
		een goede discussie op gang. Al met al een heel interessante avond. De
		volgende AmsterdamJS-meetup ben ik er weer bij.
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /meetup-amsterdamjs -->
