{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- op-de-foto -->

{% block blog %}
<div class="op-de-foto" data-component="op-de-foto">
    <p>
        De laatste maanden hebben we bij De Voorhoede een aantal nieuwe collega’s
        mogen verwelkomen. We willen ze natuurlijk graag aan je voorstellen. Daarom
        is het tijd om nieuwe foto’s te maken. Ook hierbij levert De Voorhoede
        geen half werk. Collega Eric weet wel raad met de camera, en pakt het
        professioneel aan. Hij kiest de juiste locatie in ons kantoor, zorgt voor
        een goede achtergrond en stelt de camera op. Ook maakt hij een berekening
        wanneer er een goede lichtval zal zijn, met behulp van een handig tooltje:
        <a href="http://photoephemeris.com" target="_blank">TPE</a>.
    </p>
    <p>
        Tussen 16:00 en 17:00 worden we verwacht in een van de kamers in ons
        kantoor in Amsterdam. Daar is op dat moment de juiste lichtval:
    </p>
    <figure>
        <img itemprop="image" src="media/lichtinval.min.jpg" alt="de juiste lichtinval op het kantoor van De Voorhoede"/>
    </figure>
    <p>
        Na een uurtje fotograferen hebben we mooie plaatjes te pakken. Nog even
        selecteren en netjes maken, en zie hier: onze nieuwe teamleden:
    </p>
    <div class="developers">
        <div class="developer">
            <h4 class="developer-name">Tjerk</h4>
            <img
                class="developer-images"
                itemprop="image"
                src="media/tjerk.jpg"
                alt="[Foto] Tjerk"
                height="202" width="135">
        </div>
        <div class="developer">
            <h4 class="developer-name">Renate</h4>
            <img
                class="developer-images"
                itemprop="image"
                src="media/renate.jpg"
                alt="[Foto] Renate"
                height="202" width="135">
        </div>
        <div class="developer">
            <h4 class="developer-name">Maarten</h4>
            <img
                class="developer-images"
                itemprop="image"
                src="media/maarten.jpg"
                alt="[Foto] Maarten"
                height="202" width="135">
        </div>
    </div>
    <p>
        Benieuwd naar de andere teamleden? Zie hier ons <a href="/index.html#team">volledige team</a>.
    </p>
</div>
{% endblock %}

<!-- /op-de-foto -->
