{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup-js-mvc-8 -->

{% block blog %}
<div class="meetup-js-mvc-8" data-component="meetup-js-mvc-8">
	<div class="blogpost-illustrated-intro">
		<p>
			On wednesday April 9th De Voorhoede attended the 8th Javascript MVC Meeting.
			This time the location was at A-lab in Amsterdam-noord.
			They did a great job, especially with the food and drinks.
			This meetup was all about Hypermedia APIs.
		</p>
		<figure>
			<img itemprop="image" src="media/hal.min.jpg" alt="hello dave"/>
		</figure>
	</div>
	<img itemprop="image" src="media/goabout.min.png" alt="go about!" />
	<h2>Go About</h2>
	<p>
		The first presentation was from Joost Cassee Technical-lead at
		<a href="https://goabout.com/#/">GoAbout</a>.
		He gave an introduction about Hypermedia As The Engine Of Application State (HATEOAS).
		He used the Go About webapplication as an example how a Hypermedia API works.
		Go About is a travel planner currently in open beta.

	</p>
	<p>
		Joost explained that Hypermedia APIs are quite different then traditional REST APIs.
		Where REST APIs have a very hierarchically architecture,
		Hypermedia APIs have more an architecture like the world wide web.
		Instead of using IDs as references, a Hypermedia API uses URLs.
	</p>
	<h2>HAL</h2>
	<p>
		To build a Hypermedia API you need a mediatype that can hyperlink between between the resources.
		One of those is
		<a href="http://stateless.co/hal_specification.html">HAL</a>.
		It makes your API explorable.
		Go About uses HAL.
		With HAL it is possible to use HTTP methods (GET, PUT, POST en DELETE) to submit requests and receive information about the API in the response.
	</p>
	<p>
		Lets say you do a request to a product using Hypermedia API.
		Alongside the normal details of the product,
		you also get list of links with references to other parts of the API.
		This is great.
		You can see what resources are available and how they can be interacted with.
	</p>
	<p>
		On of the great advantages of using a Hypermedia API is that its easily expandable.
		Because it doesn’t rely on hierarchically architecture,
		you can eadd new resources to your API without breaking it.
		Those resources can be from outside you own API.
		Joost showed how Go About uses the GoogleMaps API as a resource.
	</p>
	<h2>Angular-HAL</h2>
	<p>
		The second presentation was from Elmer Bulthuis.
		He talked about
		<a href="https://github.com/LuvDaSun/angular-hal">angular-hal</a>.
		A HAL client for angular build by himself.
		Angular-hal is used in the Go-About application.
		You can find more information about how Go About uses HAL on there
		<a href="https://apidocs.goabout.com/">documents-page</a>,
		including some nice tutorials!
	</p>
	<h2>Excellent meetup</h2>
	<p>
		Hypermedia APIs are looking very promising.
		One meeting is to short to really know how they work,
		but is was great for an introduction.
		I will be reading up on it and hopefully do a more in-depth post on it in the future.
		If you are, like myself, interested in frond-end JS frameworks then I recommend the
		<a href="http://www.meetup.com/JavaScript-MVC-Meetup-Amsterdam/">Javascript MVC meetup</a>.
		Good stuff!
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /meetup-js-mvc-8 -->
