{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-februari -->

{% block blog %}
<div class="yammer-best-picks-februari" data-component="yammer-best-picks-februari">
    <div class="blogpost-illustrated-intro">
        <p>
            Bij De Voorhoede houden we elkaar graag op de hoogte van interessante
            artikelen, handige tooltjes en andere leuke dingen die we op het web
            tegenkomen. Deze delen we met elkaar op <a href="https://www.yammer.com/" target="_blank">Yammer</a>.
            In ‘Yammer: best picks...’ delen we de diamantjes, deze keer van de maand februari.
        </p>
        <figure>
            <img itemprop="image" src="media/yammer-logo.min.jpg" alt=" "/>
        </figure>
    </div>
    <h2>Task managers: Grunt en Gulp</h2>
    <p>
        Twijfel je of het de investering waard is om task manager
        <a href="http://gruntjs.com" target="_blank">Grunt</a> te leren gebruiken? Lees dan het
        artikel
        <a href="http://24ways.org/2013/grunt-is-not-weird-and-hard/" target="_blank">&lsquo;Grunt is not weird and hard&rsquo;</a>
        van Chris Coyer. In een paar simpele stappen laat hij zien hoe je Grunt aan je project
        toevoegt, en hoe je taken laat uitvoeren die je voorheen handmatig moest doen. Er is ook een
        screencast bij dit artikel, te vinden op css-tricks.com.
    </p>
    <p>
        Maar Grunt is niet de enige task manager. Een andere veelbelovende optie is
        <a href="http://gulpjs.com" target="_blank">Gulp</a>. Laat je overtuigen door hun
        <a href="http://slid.es/contra/gulp" target="_blank">slideshow</a>.
    </p>
    <h2>jquery.wanker.js</h2>
    <p>
        Front-end developers hebben een bijna niet te onderdrukken behoefte om hun browser window
        groter en kleiner te slepen, zodat ze kunnen zien of een webpagina wel responsive is.
        Speciaal om deze neurose tegen te gaan is er nu deze
        <a href="http://mig.io/makes/wanker/example/" target="_blank">jQuery-plugin</a>.
    </p>
    <h2>Sass-mixins</h2>
    <p>
        Op zerosixthree.se vind je een
        <a href="http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/%20" target="_blank">artikel met een aantal nuttige Sass-mixins</a>
        , zoals een clearfix.
    </p>
    <h2>JavaScript promises</h2>
    <p>
        Als je nog wat meer zou willen weten over promises in JavaScript, zijn hier twee artikelen
        die ze onder de loep nemen:
        <a href="http://mattgreer.org/articles/promises-in-wicked-detail/%20" target="_blank">&lsquo;Promises in wicked detail&rsquo;</a>
        (Matt Greer) en
        <a href="http://taoofcode.net/promise-anti-patterns/" target="_blank">&lsquo;Promise Anti-patterns&rsquo;</a>
        (Tao of Code).
    </p>
    <h2>Back-end simuleren</h2>
    <p>
        In projecten wordt vaak aan de front-end gewerkt, terwijl ook de back-end nog onder
        constructie is. Hoe kun je toch verder bouwen, terwijl je sommige back-end-informatie nog
        niet kunt verkrijgen? Met
        <a href="http://jsonstub.com" target="_blank">JsonStub</a> kun je een back-end simuleren
        zolang deze nog niet beschikbaar is.
    </p>
    <h2>SVG versus iconfont</h2>
    <p>
        Een vergelijking van verschillen tussen het gebruik van SVG’s versus een icon font vind je in
        de blogpost
        <a href="http://ianfeather.co.uk/ten-reasons-we-switched-from-an-icon-font-to-svg/" target="_blank">&lsquo;Ten reasons we switched from an icon font to SVG&rsquo;</a>.
        De post laat zien dat het gebruik van icon fonts niet altijd te prefereren is boven SVG’s. In
        deze uiteenzetting zie je welke zaken de keuze beïnvloeden.
    </p>
    <h2>Hoe werkt een browser eigenlijk?</h2>
    <p>
        Back to the basics. We werken er dagelijks mee, maar weet je precies hoe een browser werkt
        en al je prachtige front-endwerk weergeeft? In het artikel
        <a href="http://www.html5rocks.com/en/tutorials/internals/howbrowserswork/" target="_blank">&lsquo;How Browsers Work: Behind the scenes of modern web browsers&rsquo;</a>
        (Tali Garsiel en Paul Irish) een gedetailleerd kijkje onder de motorkap.
    </p>
</div>
{% endblock %}

<!-- /yammer-best-picks-februari -->
