{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- cursus-javascript-lessen -->

{% block blog %}
<div class="cursus-javascript-lessen" data-component="cursus-javascript-lessen">
	<div class="image-right">
		<p>
			In februari is de in-house cursus &lsquo;JavaScript Fundamentals&rsquo; bij De Voorhoede
			van start gegaan. Naast ikzelf en een aantal collega-Voorhoeders, doen ook een aantal
			geïnteresseerden &lsquo;van buitenaf&rsquo; mee. Een leuke, gemengde groep. De lessen
			zijn eens per twee weken, zodat er tussendoor genoeg tijd is om huiswerk te doen. De
			eerste drie lessen zitten erop, en het tempo zit er goed in.
		</p>
		<figure>
			<img itemprop="image" src="media/js-course-class.min.jpg" alt="De klas bestaat uit ongeveer 12 cursisten."/>
		</figure>
	</div>
	<h2>Basiskennis</h2>
	<p>
		Hoewel de cursus ‘JavaScript Fundamentals’ heet, wordt er wel al een basiskennis van
		JavaScript verwacht van de deelnemers. In de eerste les merkte ik dat het instapniveau net
		wat hoger was dan de kennis die ik had, dus ik moest even flink doorwerken om bij te
		spijkeren. De eerste onderwerpen die we behandelden waren objecten en
		<a href="https://www.udemy.com/blog/object-oriented-programming-a-critical-approach/" target="_blank">OOP</a>,
		daar was ik nog niet zo in thuis. Om meer kennis op te doen heb ik alle JavaScript-lessen van
		<a href="http://www.codecademy.com/" target="_blank">CodeCademy</a> gedaan. Nu zit ik gelukkig
		weer op schema.
	</p>
	<h2>De les</h2>
	<p>
		Docent <a href="https://twitter.com/joost_faber" target="_blank">Joost Faber</a> begint elke les
		met een stuk theorie, en laat dan de werkopdrachten zien waar we mee aan de slag gaan. Na een
		uurtje werken bespreken we samen wat we gemaakt hebben. Er is veel ruimte voor vragen
		tussendoor, zodat je nooit lang met een vraag hoeft te blijven zitten.
	</p>
	<h2>Huiswerk</h2>
	<p>
		Na de les begint het pas. Alle opdrachten waar we niet aan toe zijn gekomen tijdens de les gaan
		mee als huiswerk. Zo maken we voor de volgende les een basic applicatie waarin we ‘zelfgemaakte’
		JavaScript combineren met de library
		<a href="http://eightmedia.github.io/hammer.js/" target="_blank">Hammer.js</a>. Ook wisselen we
		goede artikelen uit rondom de behandelde onderwerpen. Genoeg te doen dus. Misschien moet ik maar
		weer eens aan de slag!
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /cursus-javascript-lessen -->
