{% from "modules/components/section-header/_section-header.html" import sectionHeader %}
{% from "modules/components/blog-excerpt/_blog-excerpt.html" import blogExcerpt %}

<!-- section-blog -->
<section class="section-blog page-section"
		data-component="section-blog"
		id="blog"
		itemscope
		itemtype="http://schema.org/Blog">
	{{ sectionHeader('Blog') }}

	<!-- blog items-->
	{% set cls = cycler("odd", "even") %}
	{% for item in content.blog  %}
	{% if loop.index < 4 %}

	{{ blogExcerpt(
		item.title,
		item.slug,
		item.excerpt.text,
		item.excerpt.image,
		item.excerpt.imageAltText,
		item.date,
		cls.next()
	) }}
	{% endif %}

	{% endfor %}

	<!-- footer for blog section -->
	<div class="link-wrapper to-blog-overview-wrapper">
		<a href="blog/" class="to-blog-overview button-internal voorhoede-icon icon-right">
			Naar blog
		</a>
	</div>
</section>
<!-- /section-blog -->
