{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- cmi-bedrijvenmarkt -->

{% block blog %}
<div class="cmi-bedrijvenmarkt" data-component="cmi-bedrijvenmarkt">
    <p>
        Donderdag 14 november organiseert het Insitituut voor Communicatie, Media en
        Informatietechnologie (CMI) van de <a href="http://www.hogeschoolrotterdam.nl/" target="_blank">
        Hogeschool Rotterdam</a> de CMI Bedrijvenmarkt. De bedrijvenmarkt is gericht op studenten van de
        opleidingen Informatica, Technische Informatica, Mediatechnologie,
        Communicatie and Multimedia Design, Communicatie en Communicatie:
        specialisatie Digitale Media. Tijdens deze middag gaan de studenten op zoek
        naar een interessante afstudeerstage.
    </p>
    <p>
        Meer dan 95 bedrijven hebben zich voor de middag aangemeld. Ook De Voorhoede
        stuurt twee afgevaardigden naar de Rotterdamse Hogeschool om fris talent te
        ontmoeten.
    </p>
    <p>
        We kunnen de studenten om 14.00u verwachten. Gelukkig zijn we mooi op tijd
        om onze stand op te bouwen.
    </p>
    <figure>
        <img src="media/opbouw-bedrijvenmarkt.min.jpg"
             alt="opbouw Voorhoede stand op bedrijvenmarkt"
             itemprop="image">
    </figure>
    <p>
        We laten een presentatie zien over De Voorhoede en een aantal projecten
        waaraan we hebben gewerkt. Ook hebben we een aantal devices uit ons device
        lab meegenomen. Met de
        <a href="http://vanamco.com/ghostlab/" target="_blank">Ghostlab app</a>, een
        applicatie waarmee je aangesloten
        devices gesynchroniseerd kan testen, laten we op de devices de site van De
        Voorhoede zien.
    </p>
    <p class="image-left">
        <img src="media/tjerk-met-google-glass.min.jpg"
             alt="Tjerk met google glass"
             itemprop="image">
        Om 14.00u wordt de markt geopend. Ook
        <a href="http://glassexplorer.nl/" target="_blank">GLASS Explorer Daphne Channa Horn</a>
        is hierbij aanwezig. Tjerk maakt van de gelegenheid gebruik en krijgt de kans
        om met de Google glass op de foto te gaan!
    </p>
    <p>
        Na de opening komen de eerste studenten binnen. Eerst nog een beetje
        afwachtend, maar al snel worden de eerste gesprekken aangeknoopt. We
        vertellen wat we bij De Voorhoede doen, aan welke projecten we werken en
        wat we belangrijk vinden: ontwikkelen met de nieuwste technieken en
        standaarden, voor elk mogelijk device. De studenten weten vaak nog niet
        precies welke richting ze op willen met hun afstudeeronderzoek, maar De
        Voorhoede staat altijd open voor originele en vernieuwende idee&euml;n. We
        raden hen dus aan om zeker een mailtje te sturen!
    </p>
    <p class="image-left">
        <img src="media/tjerk-op-de-bedrijvenmarkt.min.jpg"
             alt="Tjerk op de bedrijvenmarkt"
             itemprop="image">
        Na afloop van de markt is er een borrel. De meeste studenten zijn al naar
        huis, maar een aantal bedrijven blijft nog even hangen om een praatje te
        maken. We nemen ook nog even een kijkje in het
        <a href="http://stadslabrotterdam.nl/" target="_blank">Fablab</a>, waar
        apparaten als 3D printers en lasercutters te vinden zijn.
        <br/><br/>
        Al met al een geslaagde middag, waardoor we hopelijk in het komend jaar
        enthousiast talent kunnen verwelkomen.
    </p>
</div>
{% endblock %}

<!-- /cmi-bedrijvenmarkt -->
