@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* BLOG VIEW */

.read-blog-post {
	clear: both;
	color: #d57a4b;
	display: block;
	margin: 0 auto;
	overflow: hidden !important;
	padding-top: 1.5em;
	text-overflow: ellipsis;
	width: 82px;
	white-space: nowrap;
}

.blog-items {
	list-style: none;

	.js-show-more-link {
		display: none;
	}
}

.is-hidden {
	display: none;
}

.author {
	border-left: 1px solid #798386;
	color: #798386;
	font-size: 0.9em;
	padding-left: 4px;
}

.blog-article {
	p {
		padding: 0.5em 0;
	}

	h1 {
		font-size: 1.55em;
		line-height: 1.1em;
		margin: 0.67em 0 0 0;
	}

	h2 {
		clear: both;
		font-size: 1.2em;
		padding-top: 1em;
	}

	h3 {
		font-size: 1em;
		padding-top: 0.5em;
	}

	h4 {
		font-size: 1em;
		padding-top: 0.5em;
		color: #798386;
	}

	figure {
		margin: 1.5em 0;
	}

	.article-body {
		margin-top: 1em;
	}

	li {
		font-size: 1em;
	}
}

.blog-item {

	h1 {
		font-size: 1.55em;
		line-height: 1.3;
		margin: 0;
	}

	.item-image {
		@include small();
		width: 30%;
	}

	&.illustrated-item {

		.item-text {
			@include small();
			width: 65%;
		}
	}

	p {
		margin-top: 1em;
	}
}

.blog-links {
	@include centered-columns(9);
	@include small();

	.link-wrapper {
		clear: both;
	}
}

.blog-link-wrapper {
	padding: 0;

	&.previous {
		float:left;
		width: 48%;
	}
	&.next {
		float: right;
		width: 48%;
	}
}

.blog-link {
	color: $dvh-blue;
	display: table;
	height: 130px;
	position: relative;
	width: 100%;

	&:hover,
	&:focus {
		color: $dvh-green;
	}

	&:after,
	&:before {
		font-family: 'icomoon';
		font-size: 3em;
		position: absolute;
		top: 30px;
	}

	&.blog-link-previous {
		&:before {
			content: "\e600";
			left: 5px;
		}

		blockquote {
			padding: 0 1.5em 0 3em;
		}
	}

	&.blog-link-next {
		&:after {
			content: "\e601";
			right: 5px;
		}

		blockquote {
			padding: 0 3em 0 1.5em;
		}
	}
}

blockquote {
	display: table-cell;
	font-size: 1.3em;
	vertical-align: middle;
}


.back-to-blog-overview {
	position: relative;

	&:before,
	&:after {
		font-family: 'icomoon';
		font-size: 0.85em;
		position: absolute;
		top: -2px;
	}
}

.back-to-blog-overview {
	&:before {
		content: "\e600";
		left: -18px;
	}

	&:after {
		content: "\e600";
		left: - 13px;
	}
}

.style-guides-blog {
	h5 {
		clear: left;
		margin-top: 1em;
	}

	figure {
		text-align: center;
	}

	figcaption {
		line-height: 0.8;
	}

	.frontend-style-guide-benefits {
		font-size: 1.1em;
		margin-bottom: 0;
		padding-left: 0;
	}
}

.footnotes {
	font-size: 13px;
	margin-top: 2.5em;
	padding-left: 1.25em;
}

.image-left {
	@include clearfix;
	img {
		float: left;
		width: 35%;
		margin: 0 1em 0 0;
	}
}

.image-right {
	@include clearfix;
	p, figure {
		@media only screen and (max-width: 920px) {
			float: none;
			width: 100%;
		}
	}
	p{
		width: 50%;
		padding-right: 5%;
		float: left;
	}
	figure {
		width: 45%;
		float: left;
		@media only screen and (max-width: 920px) {
			margin: 0.5em auto 0 auto;
			text-align: center;
			img {
				padding: 0;
			}
		}
	}
}

.op-de-foto {
	.developers {
		@include clearfix;
		margin: 0 auto;
		width: 66%;
	}

	.developer {
		float: left;
		margin-bottom: 1em;
		width: 28%;
	}
}

.blogpost-illustrated-intro {
	@include clearfix;

	p {
		float: left;
		width: 65%;

		@media only screen and (max-width: 920px) {
			float: none;
			width: 100%;
		}
	}
	figure {
		float: right;
		margin: 0;
		padding: 0.5em 0 0.5em 0.5em;
		width: 30%;

		@media only screen and (max-width: 920px) {
			float: none;
			margin: 0.5em auto 0 auto;
			text-align: center;
			width: 100%;

			img {
				padding: 0;
			}
		}
	}
}

.code-block {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid $shadow;
}

pre.code-block {
	margin: 1.5em 0;
}

.dvh-font {
	font-family: 'dvh-logo', Arial, sans-serif;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";
	-moz-font-feature-settings:"liga=1, dlig=1";
	-moz-font-feature-settings:"liga","dlig";
	-ms-font-feature-settings:"liga","dlig";
	-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.dvh-logo-wrapper {
	width: 20em;
	margin-right: auto;
	margin-left: auto;
}

.dvh-logo {
	position: relative;
	color: #EDDD3D;
	font-size: 20em;
}

.yellow-blue:before, .yellow-blue-gray:before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	content: "\e002";    // symbol mapped to left half of shield
	color:   #11343C;    // dark blue
}

.yellow-blue-gray:after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	content: "\e001";
	color: #EAEAEA;
}

.overview-dvh-logo-wrapper .dvh-logo {
	font-size: 12em;
}

.blog-list {
	padding: 0.5em 0 0.5em 1em;
	font-size: 1.1em;
}

.weinre-blog {
	img {
		border: 1px solid #cccccc;
	}
}

.weinre-blog-debug-client {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inside-article-author {
	display: inline-block;
	font-size: 0.9em;
}

.youtube-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.youtube-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
