{% extends "modules/views/_base-view/base-view.html" %}
{% from "modules/components/section-header/_section-header.html" import sectionHeader %}
{% from "modules/components/blog-excerpt/_blog-excerpt.html" import blogExcerpt %}

{% block keywords %}<meta name="keywords" content="blog, de voorhoede, front-end specialists, web development, responsive design, html5, css3, javascript">{% endblock %}

{% block content %}
{{ sectionHeader('Blog') }}

{% set cls = cycler("odd", "even") %}

{% for item in content.blog %}
	{% if loop.index < 11 %}
		{{ blogExcerpt(
			item.title,
			item.slug,
			item.excerpt.text,
			item.excerpt.image,
			item.excerpt.imageAltText,
			item.date,
			cls.next()
		)
	}}
{% endif %}
{% endfor %}

<div class="link-wrapper">
	<a class="button-inline icon-down voorhoede-icon js-show-more-link"
		data-view="blog">Meer blog posts</a>
</div>

{% endblock %}
