{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-june -->

{% block blog %}
<div class="yammer-best-picks-june" data-component="yammer-best-picks-june">
	<div class="blogpost-illustrated-intro">
		<p>
			At De Voorhoede we like to keep each other posted about interesting articles, nifty
			tools and other nice things we find on the web. We share this on
			<a href="https://www.yammer.com/" target="_blank">Yammer</a>. In &lsquo;Yammer: Best
			Picks&hellip;&rsquo; we share the highlights with you, this time of the month June.
		</p>
		<figure>
			<img itemprop="image" src="media/yammer-logo.jpg" alt=" "/>
		</figure>
	</div>
	<h2>AngularJS and Firebase Tutorial</h2>
	<p>
		After first making a
		<a href="http://www.thinkster.io/angularjs/GUIDJbpIie/angularjs-tutorial-learn-to-build-modern-web-apps" target="_blank">
			tutorial on AngularJS only
		</a>
		, the team of <a href="http://www.thinkster.io" target="_blank">Thinkster</a> now made a
		long and concise
		<a href="http://www.thinkster.io/angularjs/eHPCs7s87O/angularjs-tutorial-learn-to-rapidly-build-real-time-web-apps-with-firebase" target="_blank">
			tutorial on building real-time web apps with AngularJS and Firebase
		</a>.
	</p>
	<h2>AngularJS Course</h2>
	<p>
		Codeschool and Google get together for an
		<a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro" target="_blank">
			online interactive course about AngularJS
		</a>.
		Funny intro video also included.
	</p>
	<h2>First steps with jQuery</h2>
	<p>
		Nice Article on decoupling jQuery, explaining how "jQuery is just javascript":
		<a href="http://www.smashingmagazine.com/2014/05/29/mystery-jquery-object-syntax-basic-introduction/" target="_blank">
			&ldquo;The Mystery Of The jQuery Object: A Basic Introduction&rdquo;
		</a>
		on Smashing Magazine.
	</p>
	<h2>Intro to XSS</h2>
	<p>
		This <a href="http://xss-game.appspot.com/" target="_blank">introduction to XSS</a>
		(cross-site scripting) has been made in the shape of a small game. Something a developer
		should know about! And they promise: &ldquo;There will be cake at the end of the test&rdquo;.
	</p>
	<h2>Alternative to using select elements</h2>
	<p>
		In the technique described in this
		<a href="https://medium.com/design-ux/bc190d62eff5" target="_blank">
			article on medium.com
		</a>,
		a select element with lots of options is replaced with a nice interface built out of stacked
		layers. The company developing it,
		<a href="http://tradeshift.com" target="_blank">Tradeshift</a>, performed user tests to
		check if the user actually profits from this alternative way of selecting, with positive
		results.
	</p>
	<h2>Sassy z-index</h2>
	<p>
		Nice idea for z-index management with Sass, in the article
		<a href="http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/" target="_blank">
			&ldquo;Sassy Z-Index Management For Complex Layouts&rdquo;
		</a>
		on Smashing Magazine.
	</p>
	<h2>CSS will-change property</h2>
	<p>
		Extensive
		<a href="http://dev.opera.com/articles/css-will-change-property/" target="_blank">
			article about the new CSS 'will-change' property
		</a>,
		on Dev.Opera. This property informs the browser that a particular element will undergo a
		transition, so the browser can prepare.
	</p>
	<h2>Web performance</h2>
	<p>
		In his article
		<a href="http://updates.html5rocks.com/2014/06/Automating-Web-Performance-Measurement" target="_blank">
			&ldquo;Automating Web Performance Measurement&rdquo;
		</a>
		on HTML5 Rocks, Addy Osmani shows how you can automate your process of performance
		measurement with the use of
		<a href="https://github.com/addyosmani/psi/" target="_blank">PSI for Node</a>, instead of
		checking it manually on
		<a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">
			PageSpeed Insights
		</a>.
	</p>
	<p>
		Matt Gaunt explains
		<a href="https://www.youtube.com/watch?v=pNKnhBIVj4w" target="_blank">
			PageSpeed Insights recommendations in this video
		</a>.
		He also recommends yet another
		<a href="http://yeoman.io/blog/performance-optimization.html" target="_blank">
			article on this subject by Addy Osmani
		</a>.
	</p>
	<h2>Internet Explorer Developer Channel</h2>
	<p>
		To create a more open dialog between the IE team and the Web development community,
		Microsoft has brought to life the Internet Explorer Developer Channel. This is a
		&lsquo;fully functioning browser designed to give Web developers and early adopters a sneak
		peek at the Web platform features [Microsoft is] working on&rsquo;. Read more about it on
		<a href="http://blogs.msdn.com/b/ie/archive/2014/06/16/announcing-internet-explorer-developer-channel.aspx" target="_blank">
			MSDN
		</a>.
	</p>
	<h2>Showing off</h2>
	<p>
		Nice work, this
		<a href="http://madebyevan.com/webgl-water/%20" target="_blank">&lsquo;water&rsquo; made with Web GL</a>.
		Web GL is not widely supported by browsers yet, but you can view this in for instance
		latest Google Chrome, Opera and Internet Explorer 11 (see
		<a href="http://caniuse.com/webgl" target="_blank">caniuse</a> for more info).
	</p>
	<p>
		Caught the World Cup fever? Do the checkbox wave with
		<a href="http://codepen.io/hakimel/full/vDnmp" target="_blank">Hakim El Hattab on Codepen</a>!
	</p>
	<h2>Vanilla JS or Vapor.js?</h2>
	<p>
		Try out the most lightweight JavaScript frameworks ever:
		<a href="http://vanilla-js.com" target="_blank">Vanilla JS</a> and
		<a href="https://github.com/madrobby/vapor.js/tree/master" target="_blank">Vapor.js</a>.
		Personally, I can&apos;t choose, though Vapor.js seems to have the most features, with automated
		tests and a mobile version&hellip;
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /yammer-best-picks-june -->
