@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* section-portfolio component */

.section-portfolio {
	.client {
		float: left;
		margin-left: 2%;
		width: 15%;

		&:first-child {
			margin-left: 0;
		}

		img {
			display: block;
			margin: 0 auto;
			height: auto;
			width: auto;
			max-width: 100%;
		}
	}
	.cases-list {
		list-style: disc outside;
		padding-left: 0;
		li {
			padding: 0.3em 0.5em;
		}
	}
}
