{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- remote web inspection met weinre -->

{% block blog %}
<div class="remote-web-inspection-met-weinre" data-component="remote-web-inspection-met-weinre">
    <div class="blogpost-illustrated-intro">
        <p>
            Front-enders houden van developer consoles. Iedere serieuze webbrowser op je desktop
            heeft alles in huis om een kijkje onder de motorkap van een webpagina te nemen. Helaas
            heb je tijdens het ontwikkelen voor mobiele devices niet zonder meer de beschikking over
            een inspector console zoals in je desktop browser. Een tool die uitkomst biedt en
            bovendien cross-browser en cross-platform draait, is
            <a href="http://people.apache.org/~pmuellr/weinre/docs/latest/Home.html" target="_blank">Weinre</a>.
        </p>
        <figure>
            <img src="media/developer-console.min.png" alt="In de web inspector zie je welke code op de pagina-elementen van toepassing is.">
        </figure>
    </div>
    <h2>WEb INspector REmote</h2>
    <p>
        Weinre, geschreven door Patrick Mueller, staat voor WEb INspector REmote. Weinre is een web
        inspector / debugger tool zoals Firebug voor Firefox, of Chrome devtools, met als verschil
        dat Weinre je in staat stelt pagina’s op remote devices te inspecteren. Weinre is
        beschikbaar als node module via NPM.
    </p>
    <h2>Hoe werkt het?</h2>
    <p>
        Je kunt Weinre installeren op de machine waarop je ontwikkelt. Zo krijg je de beschikking
        over een debug server waar je de devices waarop je test mee kunt verbinden. De koppeling van
        de te testen pagina met de server komt tot stand door een script tag in de pagina te
        plaatsen, die verwijst naar het (ip-)adres van de machine waarop de Weinre-server draait.
        Zodra je de pagina laadt, kun je vanuit de debug client (een dashboard pagina aan de kant
        van de Weinre-server) zien dat de verbinding tussen de te debuggen pagina en de server tot
        stand is gekomen. De debug client draait in een web-browser. Daarin heb je beschikking over
        een web inspector, waarmee je op de verbonden pagina naar eigen inzicht los kunt gaan met
        het inspecteren, loggen en profileren van de broncode.
    </p>
    <div class="language-bash">
        <h2>Installeer &amp; configureer</h2>
        <p>
            Weinre draait op <a href="http://nodejs.org/" target="_blank">nodejs</a> en wordt
            geïnstalleerd met npm. Installatie: open een terminal en installeer Weinre globaal:
            <code>npm install -g weinre</code>.
        </p>
        <p>
            Nadat de node module is geinstalleerd, kun je Weinre vanaf de command line starten met
            <code>weinre</code>, gevolgd door een aantal opties.
        </p>
        <p>
            De optie <code>--boundHost [ hostname | ip-adres | -all- ]</code> heeft als default
            value <code>localhost</code>. Als je deze optie niet wijzigt, dan kun je alleen pagina’s
            debuggen die je op je eigen machine laadt. Kies voor de optie <code>-all-</code> om ook
            apparaten met een ander ip-adres te kunnen zien.
        </p>
        <p>
            Met de optie <code>--httpPort [poortnummer]</code> kun je opgeven op welk poortnummer de
            Weinre-server draait. Vanuit huishoudelijk oogpunt is het verstandig om zeker te weten
            dat de poort die jouw Weinre-server gebruikt, niet al door een andere applicatie bezet
            wordt gehouden. De default value is 8080.
        </p>
    </div>
    <h2>Start &amp; gebruik</h2>
    <p class="language-bash">
        Om je Weinre-server te starten en er vervolgens vanaf andere devices mee te kunnen
        verbinden, voer je het volgende commando in in je terminal:
        <code>weinre --boundHost -all-</code>. Om de server weer te stoppen, gebruik je Ctrl+C.
    </p>
    <p class="language-markup">
        Op de pagina die je wilt debuggen, kun je de verbinding tussen die pagina en de
        Weinre-server leggen met behulp van (onder meer) een <code>&lt;script&gt;</code>-tag die
        verwijst naar de weinre server (op jouw machine). Hiervoor moet je weten wat je ip-adres in
        het lokale netwerk is. De <code>&lt;script&gt;</code> tag zet je in de head van je te
        inspecteren pagina:
    </p>
    <pre class="code-block language-markup"><code>&lt;script src="http://{IP_ADRES}:8080/target/target-script-min.js#anonymous"&gt;&lt;/script&gt;</code></pre>
    <p>
        Het apparaat waarop je de pagina laadt, heeft nu een verwijzing naar het script op je
        Weinre-server. Nog makkelijker is het om het adres van de server door PHP in te laten
        vullen:
    </p>
    <pre class="code-block language-markup"><code>&lt;script src="http://&lt;?php echo $_SERVER['SERVER_NAME']; ?&gt;:8080/target/target-script-min.js#anonymous"&gt;&lt;/script&gt;</code></pre>
    <p>
        Zeker als je weet dat je ip-adres in het lokale netwerk nogal eens kan verschillen,
        is deze aanpak handig. Vergeet niet om deze tag uit van pagina te verwijderen als je live
        gaat!
    </p>
    <figure>
        <img src="media/weinre-script-tag.png" alt=" ">
        <figcaption>
            Laad het Weinre-script van de server om de connectie tussen Weinre-server en de te
            debuggen pagina tot stand te brengen.
        </figcaption>
    </figure>
    <p>
        Als de server draait en de pagina geladen wordt, kun je op de machine waarop de
        Weinre-server draait naar de pagina http://localhost:8080 navigeren (vervang eventueel het
        poortnummer, als je dat bij het starten van de server anders hebt opgegeven). Je komt dan in
        het Weinre-dashboard terecht. In het dashboard volg je de link achter &lsquo;debug client
        user interface&rsquo;:
    </p>
    <figure>
        <img class="weinre-blog-debug-client" src="media/debug-client-user-interface.png"
             alt="Door op de link naar ‘debug client user interface’ te klikken, kun je gebruik
								 maken van de web inspector console.">
    </figure>
    <p>
        Je krijgt dan een overzicht van alle verbonden devices die je met de web inspector console
        kunt bekijken. (Een actieve verbonden target wordt in je dashboard groen weergegeven.)
    </p>
    <figure>
        <img src="media/list-connected-devices.png" alt=" ">
        <figcaption>
            Onder targets kun je de verbonden devices zien met hun ip-adressen en de geladen URL.
        </figcaption>
    </figure>
    <p>
        Nu kun je de HTML-structuur van je pagina inzien bij &lsquo;Elements&rsquo; (bij navigatie
        bovenin) en javascript in- en uitvoeren in de console. DOM manipulatie commando’s die je
        invoert in je Weinre-console, zie je meteen terug op je target.
    </p>
    <figure>
        <img src="media/weinre-console.min.jpg" alt="De weinre-console en het target-device naast elkaar.">
    </figure>
    <p>
        De Weinre-server heeft een instelbare timeout op verbindingen met devices. Als een apparaat
        binnen een bepaalde tijd geen contact heeft gehad met de server, wordt de verbinding
        verbroken. Je kunt dan de pagina herladen op het apparaat, zodat de verbinding wordt
        hersteld.
    </p>
    <h2>Eenvoudiger debuggen met Weinre</h2>
    <p>
        Weinre maakt het uitpluizen van de front-end laag op mobiele devices een stuk eenvoudiger en
        biedt geeft je als developer de flexibiliteit om vanuit één enkele installatie op een breed
        spectrum aan apparaten en browsers een web inspector te laten draaien. Het is geen volledige
        debug-uitrusting, maar met een javascript-console en een inspectiepaneel voor je html en
        css, heb je in ieder geval de basis in handen die je een hoop getast in het duister kan
        schelen.
    </p>
</div>
{% endblock %}

<!-- /remote web inspection met weinre -->
