{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup-js-mvc-9 -->

{% block blog %}
<div class="meetup-js-mvc-9" data-component="meetup-js-mvc-9">
	<div class="blogpost-illustrated-intro">
		<p>
			The ninth edition of JS MVC will take place on Wednesday the 25th of June. De Voorhoede
			will be the host this evening. Two presentations will be held:
		</p>
		<figure>
			<img itemprop="image" src="media/meetup-js-mvc-amsterdam-small.min.png" alt=" "/>
		</figure>
	</div>
	<h2>Web Components with React.JS</h2>
	<p>
		&ldquo;<a href="https://twitter.com/PixelsCommander" target="_blank">Denis Radin</a> will
		talk about Web Components (<a href="http://www.x-tags.org/" target="_blank">X-Tag</a>,
		<a href="http://www.polymer-project.org/" target="_blank">Polymer</a>),
		<a href="http://facebook.github.io/react/" target="_blank">React.JS</a> and how they can be
		mixed in order to be a good V in MVC pattern. The presentation gives insights on
		ReactiveElements, which is ready to meet upcoming web standards.&rdquo;
	</p>
	<h2>Conditioner.JS</h2>
	<p>
		&ldquo;<a href="</a>" target="_blank">Rik (Schennink)</a> will present his latest project,
		<a href="http://conditionerjs.com" target="_blank">Condioner.JS</a>: A javascript library
		for loading and unloading behavior based on environment conditions which uses your HTML as
		it&apos;s API.&rdquo;
	</p>
	<p>
		You can register for this event at
		<a href="http://www.meetup.com/JavaScript-MVC-Meetup-Amsterdam/events/182288022/" target="_blank">JS MVC&apos;s Meetup page</a>
		(waiting list available). De Voorhoede will take care of drinks and pizza. Doors will be
		open at 18:30, the first presentation will start at 19:00. We hope to see you the 25th!
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /meetup-js-mvc-9 -->
