{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer best picks januari -->

{% block blog %}
<div class="yammer-best-picks-januari" data-component="yammer-best-picks-januari">
    <div class="blogpost-illustrated-intro">
        <p>
            Bij De Voorhoede houden we elkaar graag op de hoogte van interessante
            artikelen, handige tooltjes en andere leuke dingen die we op het web
            tegenkomen. Deze delen we met elkaar op <a href="https://www.yammer.com/" target="_blank">Yammer</a>.
            In ‘Yammer: best picks...’ delen we de diamantjes, deze keer van de maand januari.
        </p>
        <figure>
            <img itemprop="image" src="media/yammer-logo.min.jpg" alt=" "/>
        </figure>
    </div>
    <h2>Zonder jQuery</h2>
    <p>
        Op <a href="http://youmightnotneedjquery.com" target="_blank">youmightnotneedjquery</a>
        vind je alternatieven voor het gebruik van jQuery methods in ‘gewone’ JavaScript, onder
        andere voor browser support.
    </p>
    <h2>Tests voor AngularJS</h2>
    <p>
        Voor wie <a href="http://angularjs.org" target="_blank">AngularJS</a> begint te begrijpen en
        het schrijven van tests verder wil doorgronden, dit artikel op
        <a href="http://www.yearofmoo.com/2013/01/full-spectrum-testing-with-angularjs-and-karma.html" target="_blank">Year of Moo</a>.
    </p>
    <h2>North</h2>
    <p>
        <a href="https://github.com/Snugug/north" target="_blank">North</a>
        is een verzameling van best practices voor het hele proces van web development.
        Uitgangspunten zijn onder andere: agile, content-first, mobile-first en in-browser design.
    </p>
    <h2>Webstorm</h2>
    <p>
        Handige tips en trucs voor het werken met Webstorm vind je op deze
        <a href="http://blog.jetbrains.com/webstorm/2013/10/webinar-recording-webstorm-tricks-and-tips-with-john-lindquist/" target="_blank">video met John Lindquist</a>.
    </p>
    <h2>ng-conf 2014</h2>
    <p>
        16 en 17 januari was de eerste editie van ng-conf.
        <a href="https://www.youtube.com/user/ngconfvideos/videos" target="_blank">De presentaties van ng-conf 2014</a>
        zijn online te bekijken. Onder andere is er een
        <a href="https://www.youtube.com/watch?v=e4yUTkva_FM" target="_blank">presentatie over Firebase</a>
        te zien.
    </p>
    <h2>Cupcakes!</h2>
    <p>
        In het artikel <a href="http://blogs.adobe.com/webplatform/2014/01/16/making-the-web-sweeter/" target="_blank">&lsquo;Making the Web Sweeter&rsquo;</a>
        wordt de techniek beschreven achter een demo-website, gebaseerd op de Food Network iPad-app
        ‘Cupcakes!’. Gebruik wordt gemaakt van o.a. Canvas Blend Modes, CSS Masks, CSS Clip Paths,
        Dynamic Masks, Regions, CSS Shapes, Web Speech API en Leap Motion.
    </p>
    <h2>HTML5 te complex?</h2>
    <p>
        Is HTML te complex geworden? Een
        <a href="http://studiotendra.com/2014/01/29/html-is-too-complex/" target="_blank">opinie-artikel over HTML5</a>.
    </p>
</div>
{% endblock %}

<!-- /yammer best picks januari -->
