@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* $_COMPONENT_NAME_$ component */

.thuis-bij-de-groot {

	.cases-header {
		margin: 2em auto;
		.cases-header-image {
			margin-top: 0;
		}
	}

	.link-wrapper {
		margin-top: 25px;
	}

	.picture-first {
		padding-bottom: 2em;
		padding-top: 0.5em;
	}

	.picture-between {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.picture-last {
		padding-top: 2em;
	}

	.text-container.content-before-slider {
		box-shadow: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.cases-result {
		margin-top: 2em;
	}

	.short-descriptions {
		@include clearfix();
		padding: 1em 0;

		.short-description {
			width: 33%;
			float: left;

			h4 {
				font-size: 1em;
				padding-left: 0.5em;
			}

			ul {
				list-style: disc inside;
				padding-left: 0;
			}

			li {
				line-height: 1.2;
				padding: 0.3em 0.5em;
			}
		}
	}

	@media only screen and (max-width: 975px) {
		.short-descriptions {
			padding-top: 0;
			.short-description {
				padding-top: 1em;
				width: 100%;
				margin-bottom: 0;
				h5 {
					margin-bottom: 0.5em;
				}
				li {
					padding: 0.2em 0.5em;
				}
			}
		}
	}

	.section-before-slider {
		padding-bottom: 2em;
	}

	.slider-wrapper {
		@include user-select(none);
		-ms-touch-action: none;
		position: relative;
		margin-bottom: 0;
		background-color: #ffffff;
	}

	.slider-background {
		position: absolute;
		top: 0;
		left: 0;
	}

	.m-item figcaption {
		color: $dvh-blue;
		font-family: 'pt-sans-bold', sans-serif;
		text-transform: uppercase;
		font-size: 1em;
		text-align: center;
	}

	.prev-wrapper, .next-wrapper {
		font-size: 42px;
		speak: none;
		line-height: 1.06;
	}

	.prev-wrapper {
		&:after {
			content: $icon-arrow-left;
		}
	}

	.next-wrapper {
		&:after {
			content: $icon-arrow-right;
		}
	}

	.screen-reader-text {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.prev-control-wrapper, .next-control-wrapper {
		position: absolute;
		height: 100%;
		width: 42px;
		top: 0;
		margin-top: -14px;

		a:hover {
			color: $dvh-blue;
		}
	}

	.prev-control-wrapper {
		left: 20px;
	}

	.next-control-wrapper {
		right: 20px;
	}

	.prev-control, .next-control {
		color: $dvh-blue;
		width: 42px;
		height: 42px;
		background-color: #ebebeb;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		@include box-shadow(0 2px 2px 0 $shadow);
		cursor: pointer;
		&:hover, &:active {
			@include box-shadow(0 2px 2px 0 $shadow inset);
		}
		&.disabled {
			opacity: 0.6;
			cursor: default;
			&:hover, &:active {
				@include box-shadow(0 2px 2px 0 $shadow);
			}
		}
	}

	@media only screen and (max-width: 810px) {

		//cases page slider replace navigation buttons on side with pagination buttons on bottom
		.next-control-wrapper,
		.prev-control-wrapper,
		.prev-control, .next-control {
			display: none;
		}
	}

	ul.m-scooch-controls {
		padding-left: 0;
	}

	.m-scooch-bulleted {
		display: none;
		position: absolute;
		left: 50%;
		margin-left: -82px;
		bottom: 10px;
		@media only screen and (max-width: 300px) {
			margin-left: -62px;
		}
		li {
			float: left;
			margin: 0 0 0 40px;
			list-style-type: none;
			&:first-child {
				margin-left: 0;
			}
			@media only screen and (max-width: 300px) {
				margin-left: 20px;
			}
		}
		a {
			position: relative;
			display: block;
			text-indent: -9999px;
			width: 20px;
			height: 20px;
			background-color: $shadow;
			border: 4px solid #ffffff;
			@include border-radius(20px);

			&:after {
				position: absolute;
				content: '';
				width: 28px;
				height: 28px;
				top: -8px;
				left: -8px;
				@include border-radius(20px);
				border: 4px solid $shadow;
			}

			&.m-active {
				background-color: $dvh-blue;
			}
		}
	}

	.first-cases-video, .second-cases-video {
		padding-top: 2em;
		padding-bottom: 1em;
		margin-bottom: 0;
	}

	.cases-videos {
		@include clearfix();
		@include user-select(none);
		object {
			width: 100%;
		}

		video {
			display: block;
			margin: 0 auto;
		}

		.first-cases-video {
			margin-top: 2px;

			video {
				width: 305px;
				height: 201px;
			}
		}

		.second-cases-video {
			video {
				width: 305px;
				height: 203px;
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		.cases-videos {
			.first-cases-video {
				video {
					width: 254px;
					height: 167px;
				}
			}
			.second-cases-video {
				video {
					width: 254px;
					height: 169px;
				}
			}
		}
	}

	@media only screen and (max-width: 920px) {
		.cases-videos {
			.first-cases-video {
				video {
					width: 225px;
					height: 148px;
				}
			}
			.second-cases-video {
				video {
					width: 224px;
					height: 149px;
				}
			}
		}
	}

	@media only screen and (max-width: 840px) {
		// cases page videos get full width
		.first-cases-video, .second-cases-video {
			width: 100%;
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 1em;
		}

		.cases-videos {
			.first-cases-video {
				video {
					width: 434px;
					height: 281px;
				}
			}

			.second-cases-video {
				video {
					width: 434px;
					height: 284px;
					padding-top: 0;
				}
			}
		}
	}

	@media only screen and (max-width: 810px) {
		//cases page parallax videos
		.cases-videos {
			.first-cases-video {
				video {
					width: 343px;
					height: 226px;
					display: block;
					margin: 0 auto;
				}
			}

			.second-cases-video {
				video {
					width: 341px;
					height: 227px;
					display: block;
					margin: 0 auto;
				}
			}
		}
	}


	/* SCOOCH.js */
	.m-scooch  {
		position:  relative;
		overflow:  hidden;
		-webkit-font-smoothing:  antialiased;  }
	.m-scooch.m-left  {
		text-align:  left;  }
	.m-scooch.m-center  {
		text-align:  center;  }
	.m-scooch.m-fluid  >  .m-scooch-inner  >  *  {
		width:  100%;  }
	.m-scooch.m-fluid.m-center  >  .m-scooch-inner  >  *:first-child  {
		margin-left:  0%;  }
	.m-scooch.m-fluid-2  >  .m-scooch-inner  >  *  {
		width:  50%;  }
	.m-scooch.m-fluid-2.m-center  >  .m-scooch-inner  >  *:first-child  {
		margin-left:  25%;  }
	.m-scooch.m-fluid-3  >  .m-scooch-inner  >  *  {
		width:  33.333%;  }
	.m-scooch.m-fluid-3.m-center  >  .m-scooch-inner  >  *:first-child  {
		margin-left:  33.333%;  }
	.m-scooch.m-fluid-4  >  .m-scooch-inner  >  *  {
		width:  25%;  }
	.m-scooch.m-fluid-4.m-center  >  .m-scooch-inner  >  *:first-child  {
		margin-left:  37.5%;  }
	.m-scooch.m-fluid-5  >  .m-scooch-inner  >  *  {
		width:  20%;  }
	.m-scooch.m-fluid-5.m-center  >  .m-scooch-inner  >  *:first-child  {
		margin-left:  40%;  }
	.m-scooch.m-fluid-6  >  .m-scooch-inner  >  *  {
		width:  16.667%;  }
	.m-scooch.m-fluid-6.m-center  >  .m-scooch-inner  >  *:first-child  {
		margin-left:  41.667%;  }
	.m-scooch  img  {
		-ms-interpolation-mode:  bicubic;  }

	.m-scooch-inner  {
		position:  relative;
		white-space:  nowrap;
		text-align:  left;
		/*  Removes  inline-block  gaps  due  to  whitespace  */
		font-size:  0;
		/*  Configure  animations  */
		-webkit-transition-property:  -webkit-transform;
		-moz-transition-property:  -moz-transform;
		-ms-transition-property:  -ms-transform;
		-o-transition-property:  -o-transform;
		transition-property:  transform;
		/*  iOS  like  slide  timings  */
		-webkit-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
		-moz-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
		-ms-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
		-o-transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
		transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
		-webkit-transition-duration:  0.5s;
		-moz-transition-duration:  0.5s;
		-ms-transition-duration:  0.5s;
		-o-transition-duration:  0.5s;
		transition-duration:  0.5s;  }
	.m-scooch-inner  >  *  {
		display:  inline-block;
		vertical-align:  top;
		white-space:  normal;
		/*  We  must  reset  the  font-size  here  */
		font-size:  16px;  }
	.m-fluid  >  .m-scooch-inner  >  *  {
		box-sizing:  border-box;
		-ms-box-sizing:  border-box;
		-moz-box-sizing:  border-box;
		-o-box-sizing:  border-box;
		-webkit-box-sizing:  border-box;  }
	.m-center:not(.m-fluid)  >  .m-scooch-inner  {
		display:  inline-block;
		margin-right:  -20000px  !important;
		margin-left:  0  !important;  }
	.m-center:not(.m-fluid)  >  .m-scooch-inner  >  *  {
		position:  relative;
		left:  -20000px;  }
	.m-center:not(.m-fluid)  >  .m-scooch-inner  >  *:first-child  {
		float:  left;
		margin-right:  20000px;
		left:  0;  }
	.m-center:not(.m-fluid)  >  .m-scooch-inner  >  *:first-child:last-child  {
		margin-right:  0;  }
	.m-center:not(.m-fluid)  >  .m-scooch-inner  >  *:last-child  {
		margin-right:  -30000px;  }

	@media only screen and (max-width: 810px) {

		.m-scooch {
			padding-bottom: 50px;
		}

		.m-scooch-bulleted {
			display: block;
		}
		.text-container.after-slider {
			padding-top: 1em;
		}
	}
}
