{% extends "modules/views/_single-portfolio-item/_single-portfolio-item.html" %}
<!-- thuis-bij-de-groot -->

{% block portfolio %}


<section class="thuis-bij-de-groot" data-component="thuis-bij-de-groot">

	<section class="cases-section">
		<p>
			Via de glasvezelkabel brengt Ziggo een scala aan diensten bij je thuis.
			Haarscherpe televisie, razendsnel en veilig internet, eindeloos muziek luisteren, bellen en nog veel meer.
			Om daar meer bekendheid aan te geven, ontwikkelde Ziggo de campagne
			‘Thuis bij De Groot’, met op internet het platform: <a target="_blank" href="http://www.thuisbijdegroot.nl/">www.thuisbijdegroot.nl</a>.
		</p>
		<p>
			<a target="_blank" href="http://rapp.nl">Rapp</a> bedacht de campagne, <a target="_blank" href="http://www.caviarcontent.com">Caviar</a>
			leverde het videomateriaal en <a target="_blank" href="http://unitid.nl">UNITiD</a> nam het interactie-ontwerp voor haar rekening.
			De Voorhoede realiseerde de complexe interface in HTML, CSS en JavaScript.
		</p>
		<p>
			Op www.thuisbijdegroot.nl krijg je een rondleiding door het huis van de familie De Groot.
			In iedere kamer staat een van Ziggo’s glasvezeldiensten centraal.
			Een complexe klus, met veel animaties en effecten. We nemen je graag mee bij een paar uitdagingen.
		</p>
        <div class="link-wrapper">
            <a class="button-external voorhoede-icon icon-right" target="_blank" href="http://www.thuisbijdegroot.nl">thuisbijdegroot.nl</a>
        </div>
	</section>

	<section class="cases-section">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">Het begin: prototypes</span>
		</h2>
		<p>
			In het oorspronkelijke idee zou iedere video uit meerdere lagen bestaan.
			Deze lagen zouden onafhankelijk van elkaar bewegen.
			Ook zouden de video's zouden zowel vooruit als achteruit afgespeeld kunnen worden.
			We hebben twee technische prototypes gemaakt om de mogelijkheden te testen.
			Het eerste prototype had HTML5-video's, het tweede PNG sequenties.
		</p>
		<p class="cases-tagline">
			Indrukwekkende<br/>effecten gecombineerd met<br/>de beste performance.
		</p>
		<p>
			De gelaagdheid maakte beide prototypes te zwaar om soepel af te spelen in alle browsers.
			Verder werkte het achteruit spelen van de video’s niet mooi met het geluid.
		</p>
		<p>
			Uiteindelijk is er samen met de opdrachtgever gekozen voor enkellaagse HTML5-video’s.
			Dit geeft de beste performance.
			De video’s worden alleen vooruit afgespeeld, zodat ook het geluid goed tot zijn recht komt.

		</p>
	</section>

	<section class="cases-section section-before-slider">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">Het huis van de familie De Groot</span>
		</h2>

		<img class="picture-first" src="media/ziggo-ftth-692x326.min.jpg" alt="Een kijkje in het huis van familie De Groot.">

		<p>
			Op thuisbijdegroot.nl begin je met een introductievideo, en beweeg je daarna van kamer naar kamer.
			Als je in een kamer aankomt, activeer je daar een video- en geluidsfragment. Op de achtergrond hoor je een sfeergeluid.
			Na het afspelen van een videofragment lichten in de kamers zogenaamde ‘hotspots’ op.
			Je kunt hierop klikken voor meer informatie, meer video's, of om de kamer te delen via sociale media.
			Verder is er een ruimtelijk effect te zien in de kamer, het zogenaamde ‘parallax-effect’.
		</p>

		<section class="cases-result">
			<h3>3 varianten, 1 experience</h3>
			<p>
				De website werd ontwikkeld in 3 varianten: voor moderne browsers, oudere browsers en voor smartphones/tablets.
				We creëren een universele ervaring, geoptimaliseerd voor elk type apparaat en browser.
			</p>
			<p>
				Hieronder zie je de verschillen tussen de varianten:
			</p>
			<div class="short-descriptions">
				<div class="short-description">
					<h4>Moderne browsers</h4>
					<ul>
						<li>Chrome, Firefox, Safari en Internet Explorer 9 of nieuwer.</li>
						<li>Met parallax-effect.</li>
						<li>Video’s spelen automatisch af in de browser.</li>
						<li>Sfeergeluid op de achtergrond.</li>
					</ul>
				</div>
				<div class="short-description">
					<h4>Oudere browsers</h4>
					<ul>
						<li>Internet Explorer 8 en ouder.</li>
						<li>Video’s spelen automatisch af in de browser, met Flash.</li>
						<li>Geen sfeergeluid op de achtergrond.</li>
						<li>Voor Internet Explorer 7 en ouder geen parallax-effect.</li>
					</ul>
				</div>
				<div class="short-description">
					<h4>Smartphones/tablets</h4>
					<ul>
						<li>Geen sfeergeluid op de achtergrond.</li>
						<li>Bij iOS spelen video’s af in de native video player.</li>
						<li>Geen parallax-effect voor smartphones.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="cases-result">
			<h3>In een vloeiende beweging</h3>
			<p>
				In het virtuele huis beweegt de bezoeker van kamer naar kamer door te scrollen.
				We hebben voor scrollen gekozen, omdat dit goed werkt zowel op touch devices als met een muis.
				Als je begint te scrollen, zweef je door de lucht en de wolken tot je in de volgende kamer bent.
				De beweging gaat vanzelf door tot de kamer wordt bereikt.
				Welke vorm de weg die je aflegt heeft, hangt af van het type browser en apparaat dat je gebruikt.
				Door daar onderscheid in te maken, hebben we de beweging overal zo vloeiend mogelijk gemaakt:
			</p>
		</section>
	</section>


	<div class="slider-wrapper">
		<img class="slider-background" src="media/ziggo-ftth-paths-background.min.jpg" alt=" ">
		<div class="m-scooch m-fluid m-scooch-photos">
			<div class="m-scooch-inner">
				<div class="m-item" >
					<figure>
						<img src="media/ziggo-ftth-fluent-path.min.png" alt="Een slingerende beweging van kamer naar kamer.">
						<figcaption>Moderne browsers: golvende beweging</figcaption>
					</figure>
				</div>
				<div class="m-item">
					<figure>
						<img src="media/ziggo-ftth-linear-path.png" alt="Een zigzag-beweging van kamer naar kamer.">
						<figcaption>Smartphones: zig-zag beweging</figcaption>
					</figure>
				</div>
				<div class="m-item">
					<figure>
						<img src="media/ziggo-ftth-straight-path.png" alt="Een loodrechte beweging van kamer naar kamer.">
						<figcaption>Oudere browsers: lineaire beweging</figcaption>
					</figure>
				</div>
			</div>
			<div class="m-scooch-controls">
				<div class="prev-control-wrapper">
					<a class="prev-control disabled" href="#" data-m-slide="prev"><span class="prev-wrapper voorhoede-icon"><span class="screen-reader-text">Vorige</span></span></a>
				</div>
				<div class="next-control-wrapper">
					<a class="next-control" href="#" data-m-slide="next"><span class="next-wrapper voorhoede-icon"><span class="screen-reader-text">Volgende</span></span></a>
				</div>
			</div>
			<ul class="m-scooch-controls m-scooch-bulleted">
				<li><a href="#" data-m-slide="1">1</a></li>
				<li><a href="#" data-m-slide="2">2</a></li>
				<li><a href="#" data-m-slide="3">3</a></li>
			</ul>
		</div>
	</div>

	<div class="after-slider cases-content">
		<section class="cases-section">
			<section class="cases-result">
				<h3>Gelaagde bewegende beelden</h3>
				<p>
					In de kamers creëren we een gevoel van diepte met behulp van achter elkaar geplaatste afbeeldingen.
					Afbeeldingen van objecten die verder weg staan bewegen langzamer dan afbeeldingen van objecten die dichtbij staan.
					Denk bijvoorbeeld aan het fietsen door een dorp. De huizen trekken aan je voorbij,
					terwijl de kerktoren op de achtergrond haast stil lijkt te staan. Dit wordt het ‘parallax-effect’ genoemd.
					Het parallax-effect activeer je in dit project door de muis te bewegen of door je tablet te kantelen.
				</p>
				<div class="cases-videos">
					<div class="first-cases-video">
						<video loop controls data-autoplay webkit-playsinline poster="media/ziggo-ftth-parallax-imac.min.jpg">
							<source src="media/iMac-3sec.mp4" type="video/mp4" />
							<source src="media/iMac-3sec.webm"  type="video/webm" />
							<source src="media/iMac-3sec.ogv"  type="video/ogg" />
							<object type="application/x-shockwave-flash" data="media/player-flv-maxi.swf">
								<param name="movie" value="media/player-flv-maxi.swf" />
								<param name="allowFullScreen" value="true" />
								<param name="FlashVars" value="flv=iMac-3sec.flv&amp;loop=1&amp;autoplay=1&amp;autoload=1&amp;margin=0&amp;showplayer=never&amp;showloading=never&amp;onclick=none&amp;onclicktarget=none&amp;ondoubleclicktarget=none&amp;buffermessage=&amp;buffershowbg=0&amp;videobgcolor=ffffff" />
							</object>
						</video>
					</div>
					<div class="second-cases-video">
						<video loop controls data-autoplay webkit-playsinline poster="media/ziggo-ftth-parallax-ipad.min.jpg">
							<source src="media/iPad-3sec.mp4" type="video/mp4" />
							<source src="media/iPad-3sec.webm"  type="video/webm" />
							<source src="media/iPad-3sec.ogv"  type="video/ogg" />
							<object type="application/x-shockwave-flash" data="media/player-flv-maxi.swf">
								<param name="movie" value="media/player-flv-maxi.swf" />
								<param name="allowFullScreen" value="true" />
								<param name="FlashVars" value="flv=iPad-3sec.flv&amp;loop=1&amp;autoplay=1&amp;autoload=1&amp;margin=0&amp;showplayer=never&amp;showloading=never&amp;onclick=none&amp;onclicktarget=none&amp;ondoubleclicktarget=none&amp;buffermessage=&amp;buffershowbg=0&amp;videobgcolor=ffffff" />
							</object>
						</video>
					</div>
				</div>
			</section>

			<section class="cases-result">
				<h3>Sprites en afzonderlijke video's</h3>
				<p>
					Alle video-fragmenten staan voor moderne browsers achter elkaar in 1 bestand.
					Er wordt gebruik gemaakt van sprites: voor elke kamer is aangegeven welk gedeelte van het bestand moet worden afgespeeld.
					Als er maar 1 bestand is, hoef je dit ook maar op 1 moment in te laden.
					Dit gebeurt aan het begin, als je het eerste video-fragment bekijkt.
					Daarna ga je vloeiend door van fragment naar fragment.
				</p>
				<img class="picture-between" src="media/ziggo-ftth-video-sprite.min.jpg" alt="Een visuele weergave van een video-sprite.">
				<p>
					Voor iOS het gebruik van sprites niet ideaal.
					Video’s worden daar afgespeeld in de native player.
					Als je sprites gebruikt, worden in een keer alle fragmenten in de player beschikbaar, zodra je 1 fragment afspeelt.
					Dit is niet de bedoeling, alleen het fragment dat hoort bij de huidige kamer moet te zien zijn.
					Om dit op te lossen hebben we voor iOS een apart video-bestand voor iedere kamer.
				</p>
				<p>
					Ook voor Internet Explorer 8 en ouder werkt het anders.
					Native video’s worden daar niet ondersteund.
					Daarom hebben we voor deze browsers losse Flash-video’s bij iedere kamer.
				</p>
				<p>Lees meer over het gebruik van sprites voor &lsquo;Thuis bij De Groot&rsquo; in de
					blogpost <a href="../../blog/html5-audio-en-video-met-sprites">&ldquo;HTML5 audio en video met sprites&rdquo;</a>.</p>
			</section>
		</section>

		<section class="cases-section">
			<h2>
				<span class="ruler"></span>
				<span class="ruler-text">Kom op bezoek</span>
			</h2>
			<img class="picture-first" src="media/ziggo-ftth-devices.jpg" alt="Bezoek www.thuisbijdegroot.nl op je desktop, tablet of smartphone.">
			<p>
				Het project ‘Thuis bij De Groot’ gaf ons de kans de laatste technieken uit de kast te trekken,
				om zo op ieder device een indrukwekkende ervaring te bieden. We zijn trots op het resultaat.
				De campagne wordt goed ontvangen, binnen de eerste maand van de campagne is de site al meer dan 30.000 keer bezocht.
				We nodigen je dan ook van harte uit zelf een kijkje te nemen op:
			</p>
        <div class="link-wrapper">
            <a class="button-external voorhoede-icon icon-right" target="_blank" href="http://www.thuisbijdegroot.nl">thuisbijdegroot.nl</a>
        </div>
		</section>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script src="scripts/scooch.min.js"></script>
<script src="scripts/thuis-bij-de-groot.js"></script>
{{ super() }}
{% endblock %}


<!-- /thuis-bij-de-groot -->
