{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- logo als font -->

{% block blog %}
<div class="logo-als-font" data-component="logo-als-font">
    <p>
        Een logo dat altijd scherp weergegeven wordt, ongeacht schermresolutie of inzoomen. Wie wil
        dat nou niet? Wij bij De Voorhoede in ieder geval wel.
    </p>
    <p>
        Het logo van De Voorhoede kan
        helemaal uit vectoren opgebouwd worden. We zouden daarom een
        <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics" target="_blank">SVG</a>
        kunnen gebruiken om ons logo weer te geven. Het gebruik van SVG’s wordt alleen helaas niet
        door alle browsers goed ondersteund.
    </p>
    <p>
        Fonts, ofwel lettertypen, zoals Arial, Times New Roman,
        PT Sans (het lettertype van de Voorhoede), worden al ruime tijd ondersteund door alle
        browsers. Het is ook mogelijk een font te maken met iconen, in plaats van met letters. Dit
        noemen we een icon font. Om eens met deze techniek te experimenteren, hebben we het logo van
        De Voorhoede als font gemaakt.
    </p>
    <h2>IcoMoon</h2>
    <p>
        Een manier om zelf een icon font te maken is met behulp van
        <a href="http://icomoon.io/" target="_blank">IcoMoon</a>. Je uploadt zelf een vectorbestand
        van ieder icoon. IcoMoon geneert met dit vectorbestand de font-bestanden en benodigde CSS.
        Dit hebben we ook voor ons logo gedaan. Als we de font-bestanden en de css aan onze website
        toevoegen, kunnen we het icon font gaan gebruiken: <span class="dvh-font">voorhoede</span>
    </p>
    <h2>1 logo, 3 iconen</h2>
    <p>
        Het logo van De Voorhoede bestaat uit 3 kleuren, en witruimte. Een icoon uit een icon font
        kan, net als een letter, maar 1 kleur hebben. Om ons logo weer te geven met alle benodigde
        kleuren, hebben we daarom 3 iconen in ons font nodig. Deze iconen plaatsen we met behulp van
        css over elkaar, om zo ons volledige logo samen te stellen.
    </p>
    <h3>Geel</h3>
    <p>
        We beginnen met ons eerste icoon, dat we een gele kleur geven, en een wat groter
        formaat:
    </p>
    <div class="dvh-logo-wrapper">
        <span class="dvh-font dvh-logo yellow">voorhoede</span>
    </div>
    <h3>Blauw</h3>
    <p>
        Daarna plaatsen we het tweede icoon, in de kleur donkerblauw, er bovenop:
    </p>
    <div class="dvh-logo-wrapper">
        <span class="dvh-font dvh-logo yellow-blue">voorhoede</span>
    </div>
    <h3>Grijs</h3>
    <p>
        Tot slot plaatsen we het derde icoon, in de kleur grijs, er op:
    </p>
    <div class="dvh-logo-wrapper">
        <span class="dvh-font dvh-logo yellow-blue-gray">voorhoede</span>
    </div>
    <p>
        En voila, een logo dat altijd scherp weergegeven wordt, ongeacht schermresolutie en zoom.
    </p>
    <p>
        Wil je meer weten over de code die hierachter zit? Lees dan het
        <a href="http://voorhoede.github.io/logo-using-font/" target="_blank">uitgebreide artikel (in het Engels)</a>.
    </p>
</div>
{% endblock %}

<!-- /logo als font -->
