<!-- section-visual -->
<div class="section-visual clearfix" data-component="section-visual">
	<div class="visual-copy right clearfix">
		<h3 class="visual-text">Voor Ziggo: Thuis bij Familie De Groot</h3>
		<a href="portfolio/thuis-bij-de-groot" class="button-internal voorhoede-icon icon-right">Bekijk case</a>
	</div>
</div>
<!-- /section-visual -->
