@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* section-visual component */

.section-visual {

	@include centered-columns(10);
	@include small();

	margin-top: 4em;
	padding: 0;
	display: block;
	background-color: #fff;
	background: url('../../../assets/images/visual/visual-ftth.min.jpg') center top;
	background-repeat: no-repeat;
	background-size: 100%;

	.visual-copy {
		position: relative;
		width: 50%;
		padding: 4em;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		h3 {
			margin-bottom: 1em;
			text-align: left;
		}
		&.left {
			float: left;
		}
		&.right {
			float: right;
		}
	}
}

.section-visual:after {
	padding-top: 40%;
	display: block;
	content: '';
}

@media only screen and (max-width: 840px) {

	.section-visual {
		.visual-copy {

			@include clearfix();
			width: 100%;
			padding: 2em;
			margin-top: 40%;
			float: none;
			display: block ;
			background-color: white;
			box-shadow: 0 8px 6px -6px $shadow;
			text-align: center;

			h3 {
				margin-bottom: 2em;
				text-align: center;
			}

		}
	}
}

@media only screen and (max-width: 540px) {
	.section-visual {
		margin-top: 140px;
	}
}