<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="De Voorhoede levert betrouwbare front-end code voor moderne en gebruiksvriendelijke web interfaces">
	<title>de Voorhoede | Presentation-oriented templating Syntax</title>
	<script>
		(function (e) {
			e.className = e.className.replace('no-js', 'js');
		}(document.documentElement));
	</script>
	<!--[if lt IE 9]>
	<script>
		(function (d) {
			d.documentElement.className = 'lt-ie9';
			d.createElement('HEADER');
			d.createElement('NAV');
			d.createElement('SECTION');
			d.createElement('FOOTER');
			d.createElement('ARTICLE');
			d.createElement('MAIN');
			d.createElement('FIGCAPTION');
			d.createElement('FIGURE');
			d.createElement('ASIDE');
		}(document));
	</script>
	<![endif]-->

	<meta property="og:title" content="De Voorhoede | Presentation-oriented templating Syntax">
	<meta property="og:description" content="A template system that is meant to express presentation, not program logic.">

	
		<meta property="og:image" content="http://voorhoede.nl/blog/presentation-oriented-templating/media/presentation-syntax.png">
	

	
		<meta property="og:url" content="http://voorhoede.nl/blog/presentation-oriented-templating">
	

	
		<meta property="og:type" content="article">
	
	<meta name="google-site-verification" content="dqF2xDsEUrsiFZNtG7ZIUS2goMiz1cscufbEY8I1X10">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

	
	<link rel="stylesheet" href="/assets/style/base.css">
	<link rel="stylesheet" href="/assets/style/main.css">
	

	
</head>
<body itemscope itemtype="http://schema.org/WebPage">
<div id="page" class="page">
	
	<!-- site-header -->
<header class="site-header" data-component="site-header">
	<div class="header-wrapper">
		<a href="/">
			<div class="heading">
				<div class="image-wrapper">
				<img
						class="site-logo"
						src=" /assets/images/logo.svg"
						onerror="this.src='/assets/images/logo.png'"
						alt="[Logo]"
						>
				</div>
				<div class="header-titles">
					<h1 class="site-title">De Voorhoede</h1>
					<h2 class="site-tagline">front-end developers</h2>
				</div>
			</div>
		</a>
		<nav class="site-nav">
			<ul class="site-menu js-site-menu">
				<!-- fix by automatically loading all the sections from the page? -->
				<li class="js-nav-title"><a href="/portfolio">Portfolio</a></li>
				<li class="js-nav-title"><a href="/#expertise">Expertise</a></li>
				<li class="js-nav-title"><a href="/blog">Blog</a></li>
				<li class="js-nav-title"><a href="/#team">Team</a></li>
				<li class="js-nav-title"><a href="/#contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>

<!-- /site-header -->

	
	<div class="page-content">
		<main id="main">
			
<section class="section-blog page-section"
         data-component="section-blog"
         id="blog"
         itemscope
         itemtype="http://schema.org/Blog">

	
<header class="section-header" data-content="Blog">
	<h2 class="section-title" data-content="Blog">Blog</h2>
</header>

	<div class="item">
		<article class="blog-article">
			<header>
				<h1>Presentation-oriented templating Syntax</h1>
				<time itemprop="dateCreated" datetime="2014-04-23">23 april 2014</time>
				<span class="author" itemprop="author">de Voorhoede</span>
			</header>

			<div class="item-text article-body" itemprop="articleBody">
				
<div class="presentation-oriented-templating" data-component="presentation-oriented-templating">
	<p>
		As a web developer you have probably come across <strong>Presentation-Oriented
		Templating Syntax
		</strong>(<abbr title="Presentation-Priented Templating Syntax">POTS</abbr>) like this:
	</p>


<pre class="code-block language-javascript">
<code>{% block content %}
	&lt;h1&gt;{{ section.title }}&lt;/h1&gt;

	{% for story in stories %}
	&lt;h2&gt;
		&lt;a href="{{ story.url }}"&gt;
			{{ story.title }}
		&lt;/a&gt;
	&lt;/h2&gt;
	&lt;p&gt;{{ story.teaser }}&lt;/p&gt;
	{% endfor %}
{% endblock %}</code></pre>


	<p>
		Without any prior experience of using templating engines, I’m pretty sure it was obvious
		how it worked. At least you knew what result to expect.
	</p>

	<p>
		This is by design: <em>the template system is meant to express presentation,
		not program logic</em>.
	</p>

	<p>
		Django, a Python framework, first introduced this templating syntax which was later
		adapted to work with other frameworks and rendering engines like Jinja (Python),
		Twig (PHP), H2o (PHP), Nunjucks (JavaScript) and Liquid (Ruby). While other different
		programming  languages and frameworks, the templating syntax for each is almost identical.
		Each supports the same notation for variables, filters, conditionals, inheritance,
		includes and comments.
	</p>

	<p>
		This kind of templating engine  provides tags which function similarly to some
		programming constructs –  if tag for boolean tests, a for tag for looping, etc.;
		template inheritance and includes – for managing layouts and components;
	</p>
	<p>
		In the following moments you will be able to get the key points of this kind of
		templating and also some small differences between the different languages that use them.
	</p>
	<h2>
		Why <abbr title="Presentation-Priented Templating Syntax">POTS</abbr> is great:
	</h2>
	<ul>
		<li>it has the same semantic and expressive syntax (notation) to bind data to markup for
			all frameworks using it</li>
		<li>can be used interchangeably between different frameworks and rendering engines</li>
		<li>has advanced methods to extend and include other templates</li>
		<li>is easy to read and write, both for developers and designers</li>
	</ul>

	<p>
		To the advantages pointed before, the best that we could add is that: if you know one,
		you really know how to work with all of them. Right ?
	</p>
	<p>
		Well, while they are pretty much the same, each one has some particular functionality
		that is usually related to the framework/language they are build on.
	</p>

	<p>
		So what are those little details and why should we care about it?
	</p>

	<p>
		First of all, because the syntax is similar on different back-ends, we can be sure that
		we can use it no matter which backend language is used.
	</p>

	<p>
		Secondly, even though they  all look pretty much the same, the project can benefit
		from a specific variation of the syntax.
	</p>

	<p>
		To understand the differences between the variations of templating frameworks using
		<abbr title="Presentation-Priented Templating Syntax">POTS</abbr>,
		we will be focusing on variables, filters, tags/conditionals and template inheritance.
	</p>

	<h2>Syntax key points</h2>
	<p>
		We will be comparing four variations of templating frameworks using
		<abbr title="Presentation-Priented Templating Syntax">POTS</abbr>:
	</p>

	<ul>
		<li>Django ( the ‘original’ Python flavour)</li>
		<li>Twig ( the PHP version)</li>
		<li>Nunjucks ( the JavaScript version)</li>
		<li>Liquid ( the ‘Shopify’ Ruby version)</li>

	</ul>
	<p>
		Since we can use the same data structure, we will use the following as an example:
	</p>

	<pre class="code-block language-javascript">
<code>{
	"title": "Fishing experiences",
	"stories": [
		{
			"title": "In my own town",
			"teaser": "My journey from noob to fishing expert",
			"url": "/story/2",
		},
		{
			"title": "Meristics",
			"teaser": "Introduction to Meristics basics",
			"url": "/story/3",
		}
	]
}</code></pre>
	
	<pre class="code-block language-javascript">
<code>{% block content %}
	&lt;h1&gt;{{ section.title }}&lt;/h1&gt;

	{% for story in stories %}
		&lt;h2&gt;&lt;a href="{{ story.url }}"&gt;{{ story.title }}&lt;/a&gt;&lt;/h2&gt;
		&lt;p&gt;{{ story.teaser }}&lt;/p&gt;
	{% endfor %}
{% endblock %}</code></pre>
	


	<p>And the output would be:</p>

<pre class="code-block language-javascript">
<code>&lt;h1&gt;Fishing experiences&lt;/h1&gt;

&lt;h2&gt;&lt;a href="/story/2"&gt; In my own town &lt;/a&gt;&lt;/h2&gt;
&lt;p&gt;My journey from noob to fishing expert&lt;/p&gt;

&lt;h2&gt;&lt;a href="/story/3"&gt; Meristics &lt;/a&gt;&lt;/h2&gt;
&lt;p&gt;Introduction to Meristics basics&lt;/p&gt;
</code></pre>

	<h3>
		Variables
	</h3>
	
<pre class="code-block language-javascript">
<code>{{ foo.bar }}</code></pre>
	<p>
		The application passes variables to the templates. Variables may have attributes
		or elements on them you can access as well. What a variable looks like heavily depends
		on the application providing it.
	</p>
	<p>
		This is the variable lookup order behind the scenes:
	</p>
	foo.bar
	<ul>
		<li>check if there is an attribute called bar on foo.</li>
		<li>if there is not, check if there is an item 'bar' in foo.</li>
		<li>if there is not, return an undefined object.</li>
	</ul>

	foo['bar']
	<ul>
		<li>check if there is an item 'bar' in foo.</li>
		<li>if there is not, check if there is an attribute called bar on foo.</li>
		<li>if there is not, return an undefined object.</li>
	</ul>

	<strong>Twig</strong> does a slightly different approach:

	<ul>
		<li>check if foo is an array and bar a valid element;</li>
		<li>if not, and if foo is an object, check that bar is a valid property;</li>
		<li>if not, and if foo is an object, check that bar is a valid method (even if bar
		is the constructor - use __construct()instead);</li>
		<li>if not, and if foo is an object, check that getBar is a valid method;</li>
		<li>if not, and if foo is an object, check that isBar is a valid method;</li>
		<li>if not, return a null value.</li>
	</ul>

	foo['bar'] on the other hand only works with PHP arrays:
	<ul>
		<li>check if foo is an array and bar a valid element;</li>
		<li>if not, return a null value.</li>
	</ul>

	<p>
		It's important to know that the curly braces are not part of the variable, but of the
		print statement. If you access variables inside tags, don't put the braces around.
	</p>

	<p>
		If a value is undefined or null, nothing is displayed. The same behavior occurs
		when referencing undefined or null objects.
	</p>

	<p>
		You can also set variables inside the block scope.
	</p>

	<p>
		<strong>Twig</strong> flavored syntax adds extra functionalities like
		<a href="http://twig.sensiolabs.org/doc/templates.html#global-variables">global
		variables</a> to help the developer.
	</p>

	<h2>Filters:</h2>

	<p>
		You can modify variables for display by using filters.
	</p>
	<p>
		Filters look like this:  {{ name | lower }} . This displays the value
		of the  {{ name }}  variable after being filtered through the lower
		filter, which converts text to lowercase. Use a pipe (|) to apply a filter.
	</p>

	<p>
		Filters can be “chained.” The output of one filter is applied to the next.
		{{ text | escape | linebreaks }} is a common idiom for escaping text
		contents, then converting line breaks to < p > tags.
	</p>

	<p>
		Some filters take arguments.  A filter argument looks like this:
		{{ bio | truncatewords:30 }}. This will display the first 30
		words of the bio variable.
		Filter arguments that contain spaces must be quoted; for example, to join
		a list with commas and spaced you’d use  {{ list | join:", " }}.
	</p>

	<p>
		All of the flavored syntaxes have a set of base filters like: capitalize,
		escape (sometimes shortened to just e),  join, last, lenght, lower, random,
		reverse, slice, sort and float.
	</p>
	<p>
		But some of them extend their base with:
	</p>
	<ul>
		<li><strong>Twig</strong> adds
			<a href="http://twig.sensiolabs.org/doc/filters/date_modify.html">date_modify</a>,
			<a href="http://twig.sensiolabs.org/doc/filters/json_encode.html">json_encode</a>,
			<a href="http://twig.sensiolabs.org/doc/filters/nl2br.html">nl2br</a>
		</li>
		<li><strong>Liquid</strong> adds
			<a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#standard-filters">
				truncatewords</a>
		</li>
	</ul>

	<p>
		You can always add your own custom filters.
	</p>

	<h2>Conditionals / Tags</h2>

	<p>Tags look like this: {% tag %}. Tags are more complex than variables:
		Some create text in the output, some control flow by performing loops or logic, and some
		load external information into the template to be used by later variables.</p>

	<p>Some tags require beginning and ending tags (i.e. {% tag %} ... tag
		contents ... {% endtag %}).</p>

	<p>The most common include: if, for, extend, include, macros and comments.</p>

	<h3>If</h3>

	<p>
		if tests a condition and lets you selectively display content. It behaves exactly as
		javascript's if behaves.</p>

	

	<pre class="code-block language-javascript">
<code>{% if fishes %}
	We have some {{fishes}}
{% endif %}</code></pre>

	

	<h3>for</h3>

	<p>for iterates over arrays and dictionaries.</p>
	

<pre class="code-block language-javascript">
<code>{% for item in items %}
	{{ item.title }}
{% endfor %}</code></pre>

	


	<h3>Macros</h3>
	<p>
		Macros are comparable with functions in regular programming languages. They are useful
		to reuse often used HTML fragments to not repeat yourself.
	</p>

	

	<pre class="code-block language-javascript">
<code>{% macro input(name, value, type) %}
	&lt;input type="{{ type|default("text") }}" name="{{ name }}" value="{{ value|escape }}"/&gt;
{% endmacro %}</code></pre>

	

	<p>
		And then they could be used like:
	</p>

	
<pre class="code-block language-javascript"><code>&lt;dl>
	&lt;dt>Fish name&lt;/dt&gt;
	&lt;dd>{{ input_field(fish_name) }}&lt;/dd&gt;
	&lt;dt>Scientific name&lt;/dt&gt;
	&lt;dd>{{ input_field("scientific_name") }}&lt;/dd&gt;
&lt;/dl&gt;</code></pre>

	
	<p>
		One special note about the {% raw %} tag. If you
		are using a server-side template, to not parse that part of the code as a template.
	</p>

<pre class="code-block language-javascript"><code>{% raw %}
	{% if %} this will {{ not be processed }} {% endif %}
{ % endraw %}
</code></pre>

	<h3>Comments</h3>

	<p>You can write comments using . Comments are completely stripped out when rendering.
		Comments are nothing more than a Tag.</p>

	<pre class="code-block language-javascript"><code>{# disabled type of catched fished because of Marine Conservation Institute
	{% for fish in fishes %}
	...
	{% endfor %}
#}</code></pre>

	<h3>Bonus from specific variations:</h3>
	<ul>
		<li>
			<strong>Nunjucks</strong> adds
			<a href="http://jlongster.github.io/nunjucks/templating.html#asynceach">asyncEach</a>
			and <a href="http://jlongster.github.io/nunjucks/templating.html#asyncall">asyncAll</a>
			for working with asynchronous javascript
		</li>
		<li>
			<strong>Liquid</strong> adds
			<a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#if--else">
			unless</a> for negation of if statements,
			and <a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#cycle">cycle
			</a> to alternate  between different tasks.
		</li>
	</ul>

	<h3>Template Inheritance</h3>
	<p>
		Template inheritance is a way to make it easy to reuse templates. When writing a
		template, you can define "blocks" that child templates can override <br/>
		You start by defining a ‘base’ template:
	</p>

	

	<pre class="code-block language-javascript"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
	&lt;head&gt;
	{% block head %}
		&lt;link rel="stylesheet" href="style.css" /&gt;
		&lt;title>{% block title %}{% endblock %}&lt;/title&gt;
	{% endblock %}
	&lt;/head&gt;
	&lt;body&gt;
		&lt;div id="content"&gt;{% block content %}{% endblock %}&lt;/div&gt;
	&lt;/body&gt;
&lt;/html&gt;</code></pre>

	

	<p>And then you extend the base layout, by filling the blocks with content:</p>

	

	<pre class="code-block language-javascript"><code>{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	&lt;h1&gt;Index&lt;/h1&gt;
	&lt;p class="important">
		Welcome to Fishing experiences.
	&lt;/p&gt;
{% endblock %}</code></pre>

	

	<h2>To wrap up</h2>
	<p>
		With variables and tags you can simply cycle through any content. Filters let you
		customize the output given from the data source. Macros help you don’t repeat yourself
		and with templating inheritance you organize your templates in a structured way.
	</p>

	<p>
		If you want to know more you can check this references:
	</p>

	<ul>
		<li>
			<a href="http://en.wikipedia.org/wiki/Template_engine_(web)">
				http://en.wikipedia.org/wiki/Template_engine_(web)
			</a>
		</li>
		<li>
			<a href="http://twig.sensiolabs.org/doc/templates.html">
				http://twig.sensiolabs.org/doc/templates.html
			</a>
		</li>
		<li>
			<a href="http://jlongster.github.io/nunjucks/templating.html">
				http://jlongster.github.io/nunjucks/templating.html
			</a>
		</li>
		<li>
			<a href="https://docs.djangoproject.com/en/1.6/topics/templates/">
				https://docs.djangoproject.com/en/1.6/topics/templates/
			</a>
		</li>
		<li>
			<a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers">
				https://github.com/Shopify/liquid/wiki/Liquid-for-Designers
			</a>
		</li>
	</ul>

	<p>
		Some alternatives:
	</p>
	<ul>
		<li>
			<a href="https://github.com/speedmax/h2o-php">
				H20
			</a>
		</li>
		<li>
			<a href="http://jinja.pocoo.org/">
				Jinja
			</a>
		</li>

		<li>
			<a href="http://paularmstrong.github.io/swig/">
				Swig
			</a>
		</li>
	</ul>
</div>

			</div>
		</article>
	</div>

</section>

		</main>
		
		

<!-- site-footer -->
<section class="site-footer page-section" data-component="site-footer" id="contact"
         itemscope
         itemtype="http://schema.org/Corporation" >

	
<header class="section-header" data-content="Contact">
	<h2 class="section-title" data-content="Contact">Contact</h2>
</header>


	<div class="contact-info">
		<div class="contact-block odd"
		     itemprop="address" itemscope
		     itemtype="http://schema.org/PostalAddress">
			<h3>Adresgegevens
				<span class="plan-route">
					<a href="https://maps.google.nl/maps?q=Rijnsburgstraat+9-11,+Hoofddorppleinbuurt,+Amsterdam,+Nederland&hl=nl&sll=51.71133,5.295509&sspn=0.148912,0.495415&oq=rijnsburgstraat+9-11+&hnear=Rijnsburgstraat+9,+Oud-Zuid,+Amsterdam,+Noord-Holland,+Nederland&t=m&z=16">
						[kaart]
					</a>
				</span>
			</h3>
			<div class="vcard">
				<span class="org v-card-category">De Voorhoede</span>
				<span class="street-address v-card-category" itemprop="streetAddress">Rijnsburgstraat 9 - 11</span>
				<span class="postal-code v-card-category" itemprop="postalCode">1059 AT </span>
				<span class="city v-card-category" itemprop="addressLocality">Amsterdam</span>

			</div>
		</div>

		<div class="contact-block odd"
		     itemprop="contactPoint"
		     itemscope
		     itemtype="contactPoint">
			<h3>Vragen?</h3>
			<div class="vcard">
				<span class="fn v-card-category">Femke Peterson</span>
				<span class="tel v-card-category" itemprop="telephone">
					<a href="tel:0031648979447">+31(0)6 4897 9447</a>
				</span>
				<span class="email v-card-category" itemprop="email">
					<a href="mailto:post@voorhoede.nl">post@voorhoede.nl</a>
				</span>
			</div>
		</div>
		<div class="contact-block odd contact-social">
			<h3>Social Media</h3>
			<ul>
				<li class="icon-twitter voorhoede-icon"><a href="https://twitter.com/devoorhoede" target="_blank">Twitter</a></li>
				<li class="icon-facebook voorhoede-icon"><a href="https://www.facebook.com/DeVoorhoede" target="_blank">Facebook</a></li>
				<li class="icon-googleplus voorhoede-icon"><a href="https://plus.google.com/u/1/b/108338910341361794246/108338910341361794246/posts" target="_blank">Google+</a></li>
				<li class="icon-linkedin voorhoede-icon"><a href="https://www.linkedin.com/company/de-voorhoede" target="_blank">LinkedIn</a></li>
			</ul>
		</div>

		<div class="contact-block odd">
			<h3>Bedrijfsgegevens</h3>
			<dl class="contract-registrations">
				<dt>KvK</dt>
				<dd>56017235 te Amsterdam</dd>
				<dt>Btw</dt>
				<dd itemprop="vatID">NL851944620B01</dd>
				<dt>IBAN</dt>
				<dd>NL20ABNA0442829159</dd>
			</dl>
		</div>
	</div>
</section>
<!-- /site-footer -->

		
	</div>
	
	<!-- site-background -->
<div class="site-background" data-component="site-background">

	<div class="page-background">
		<div class="background-pattern"></div>
			<div class="bg-planes">
				<!-- left planes -->
				<div class="bg-plane bg-left-plane bg-left-plane-1"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-2"></div>
				<div class="bg-plane bg-left-plane bg-plane-medium bg-left-plane-3"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-4"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-5"></div>
				<div class="bg-plane bg-left-plane bg-plane-medium bg-left-plane-6"></div>
				<div class="bg-plane bg-left-plane bg-plane-medium bg-left-plane-7"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-8"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-9"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-10"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-11"></div>
				<!-- end of left planes -->

				<!-- large planes -->
				<div class="bg-plane bg-plane-large bg-middle-plane-1"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-2"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-3"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-4"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-5"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-6"></div>
				<!-- end of large planes -->

				<!-- right planes -->
				<div class="bg-plane bg-right-plane bg-right-plane-1"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-2"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-3"></div>
				<div class="bg-plane bg-right-plane bg-plane-medium bg-right-plane-4"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-5"></div>
				<div class="bg-plane bg-right-plane bg-plane-medium bg-right-plane-6"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-7"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-8"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-9"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-10"></div>
				<div class="bg-plane bg-right-plane bg-plane-medium bg-right-plane-11"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-12"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-13"></div>
				<div class="bg-plane bg-right-planebg-plane-medium bg-right-plane-14"></div>
			</div>
	</div>
</div>
<!-- /site-background -->

	
</div>

<script src="//localhost:35729/livereload.js"></script>


<!-- conditional loading of zepto/jQuery -->
<script>
	(function (d) {
		var
				p = ('__proto__' in {}),
				c = ('function' == typeof d.getElementsByClassName),
				q = ('function' == typeof d.querySelectorAll),
				v = (p && c && q) ? 'zepto' : 'jquery-1.11.0';
		document.write('<script src="/assets/scripts/' + v + '.min.js"><\/script>');
	}(document));
</script>



	<script src="/assets/scripts/vendor.js"></script>
	<script src="/assets/scripts/main.js"></script>







<!---->
<!---->

<!--test-->
</body>
</html>


