{% from "modules/components/section-header/_section-header.html" import sectionHeader %}

<!-- section-team -->
<section class="section-team page-section"
         data-component="section-team"
         id="team"
         itemcope
         itemtype="http://schema.org/Corporation">
	{{ sectionHeader('Team') }}

	<div class="team-description">
		<p itemprop="description">
			De Voorhoede bestaat uit een groep gespecialiseerde front-end developers.
			Wij werken nauw samen met andere disciplines zoals ontwerpers
			en back-end developers. Dit doen wij op ons bureau in Amsterdam of op locatie.
			Bij steeds meer projecten passen wij een agile aanpak – vooral scrum – toe,
			zodat er ruimte blijft voor goede ideeën, de klant inspraak houdt tijdens
			het proces, en we het beste eindresultaat kunnen neerzetten.
		</p>
	</div>

	<div class="team-wrapper">
		<div class="team">
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Celine</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/celine.min.jpg"
					alt="[Foto] Celine"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Dani</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/dani.min.jpg"
					alt="[Foto] Dani"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Declan</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/declan.min.jpg"
					alt="[Foto] Declan"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Femke</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="project manager">
				<img
						class="developer-images"
						itemprop="image"
						src="{{ pathToAssets}}images/developers/current/femke.min.jpg"
						alt="[Foto] Femke"
						height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Jasper</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
						class="developer-images"
						itemprop="image"
						src="{{ pathToAssets}}images/developers/current/jasper.min.jpg"
						alt="[Foto] Jasper"
						height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Jeroen</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
						class="developer-images"
						itemprop="image"
						src="{{ pathToAssets}}images/developers/current/jeroen.min.jpg"
						alt="[Foto] Jeroen"
						height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Joao</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/joao.min.jpg"
					alt="[Foto] Joao"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Maarten</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/maarten.min.jpg"
					alt="[Foto] Maarten"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Renate</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/renate.min.jpg"
					alt="[Foto] Renate"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Sander</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/sander.min.jpg"
					alt="[Foto] Sander"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Sanne</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
					class="developer-images"
					itemprop="image"
					src="{{ pathToAssets}}images/developers/current/sanne.min.jpg"
					alt="[Foto] Sanne"
					height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Thadee</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
						class="developer-images"
						itemprop="image"
						src="{{ pathToAssets}}images/developers/current/thadee.min.jpg"
						alt="[Foto] Thadee"
						height="202" width="135">
			</div>
			<div class="developer" itemscope itemtype="http://schema.org/Person">
				<h4 class="developer-name" itemprop="givenName">Tjerk</h4>
				<meta itemprop="affiliation" content="De Voorhoede">
				<meta itemprop="jobTitle" content="front-end developer">
				<img
						class="developer-images"
						itemprop="image"
						src="{{ pathToAssets}}images/developers/current/tjerk.min.jpg"
						alt="[Foto] Tjerk"
						height="202" width="135">
			</div>
			<div class="developer">
				<h4 class="developer-name">Jij?</h4>
				<a href="/jobs">
					<img
						class="developer-images"
						src="{{ pathToAssets}}images/developers/jij.min.png"
						alt="[Foto] Vacature"
						height="202" width="135">
				</a>
			</div>
		</div>
	</div>

</section>
<!-- /section-team -->
