@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* section-team component */

.section-team {
	.team-description {
		@include centered-columns(9);
		@include small();
		@include text-container();
	}
}

.team-wrapper {
	@include clearfix();
	margin: 4em auto 2em auto;
	width: 620px;

	@media only screen and (max-width: 960px) {
		width: 465px;
	}

	@media only screen and (max-width: 640px) {
		width: 310px;
	}

	@media only screen and (max-width: 420px) {
		width: 260px;

		.developer {
			width: 42%;
		}
	}
}

.developer {
	float: left;
	margin: 0 10px 2em 10px;

	h4 {
		padding-left: 0.66em;
	}

	img {
		@include border-color-left-rgba($dvh-red, $plane-light);
		@include border-color-right-rgba($dvh-yellow, $plane-light);
		border-style: solid;
		border-width: 0 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
	}
}
.lt-ie9 .developer {
	width: 20%;
	padding-left: 10px;

	&:first-child {
		padding-left: 0;
	}

	img {
		width: auto;
	}
}