<!-- blog-excerpt -->
{% macro blogExcerpt(title, slug, text, image, imageAltText, date, odd_or_even ='odd') %}
<div class="blog-excerpt excerpt" data-component="blog-excerpt">
	<a href="/blog/{{ slug }}" class="item illustrated-item {{odd_or_even}}" >
		<div class="item-image">
			<img src="/blog/{{ slug }}/media/{{image}}" alt="{{imageAltText}}" >
		</div>
		<div class="item-text">
			<h3>{{ title }}</h3>
			<time itemprop="dateCreated" datetime="{{date}}">{{date|niceDate}}</time>
			<p>{{ text }}</p>
		</div>
	</a>
</div>
{% endmacro %}
<!-- /blog-excerpt -->

<!-- Sample content for front-end guide -->
{{ blogExcerpt(
title = 'Blog Title',
'blog-item',
'Well, the way they make shows is, they make one show. That show\'s called a pilot.',
'',
'image alt text',
'01-02-2013',
'odd') }}
<!-- /Sample content for front-end guide -->



