@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* blog-excerpt component */

.blog-excerpt {

	h3 {
		margin-bottom: 0.5em;
	}

	.item-image {
		width: 30%;
		@media only screen and (max-width: 840px) {
			margin: 0 auto;
			width: 100%;
		}
	}

	.illustrated-item {

		.item-text {
			@include small();
			width: 70%;
		}
	}
}