{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- scrummen-in-vier-smaken -->

{% block blog %}
<div class="scrummen-in-vier-smaken" data-component="scrummen-in-vier-smaken">
    <p>
        Bij de Voorhoede werken we bij voorkeur
        <a href="http://en.wikipedia.org/wiki/Agile_software_development" target="_blank">agile</a>.
        Dat biedt veel voordelen. Zo vinden we het belangrijk dat de opdrachtgever altijd direct bij
        het proces betrokken is. Op die manier kunnen we als team snel inspelen op veranderende
        wensen of nieuwe inzichten.
    </p>
    <div class="blogpost-illustrated-intro">
        <p>
            Als methode voor onze agile-aanpak gebruiken we in bijna alle gevallen
            <a href="https://www.scrum.org" target="_blank">scrum</a>.
            We scrummen in verschillende varianten. Afhankelijk van complexiteit, omvang en locatie van
            het project, hebben we tot nu toe de volgende 4 smaken scrum in de praktijk gebracht:
            scrummen op ons kantoor, scrummen op meerdere locaties, scrum lite en internationaal
            scrummen.
        </p>
        <figure>
            <img src="media/definition-of-done.min.jpg">
        </figure>
    </div>
    <h2>Smaak 1: Scrummen op ons kantoor</h2>
    <p>
        Voor de meeste klanten scrummen we vanuit ons kantoor. We hebben de beschikking over 3
        professionele scrum-ruimtes die regelmatig in gebruik zijn. In dit geval komen de
        opdrachtgever en mede-teamleden dus een aantal dagen per week bij ons op bezoek. Vinden we
        hartstikke gezellig.
    </p>
    <figure>
        <img src="media/lunchen.jpg">
        <figcaption>Iedereen schuift gewoon aan bij onze lunchtafel.</figcaption>
    </figure>
    <p>
        Hoe ziet zo’n ruimte eruit? Whiteboard-wanden met daarop een Definition of Done. User
        stories die over een scrum board dansen van de ‘to do’ naar de ‘in progress, review’ kolom
        en uiteindelijk landen in de ‘done’ kolom.
    </p>
    <p>
        Onze scrumteams bestaan uit 1 product owner, 1 scrum master en een aantal developers en
        designers. In de scrum-ruimte is er een werkplek voor ieder teamlid. Met dit team werken we
        dag in dag uit met elkaar in 1 ruimte. Best intensief, maar door zo te werken blijft
        iedereen betrokken en is iedereen goed op elkaar afgestemd.
    </p>
    <p>
        We bieden deze scrum-ruimtes ook aan klanten aan, dus kom gerust een keertje kijken.
    </p>
    <h2>Smaak 2: Scrummen op meerdere locaties</h2>
    <p>
        Soms werken we voor een project op meerdere locaties. Dat maakten we bijvoorbeeld mee toen
        we werkten aan ‘interactieve tv voor Ziggo’.
    </p>
    <div class="image-right">
        <p>
            Het testen moest in Den Haag gedaan worden,
            want daar stond de lab-opstelling met alle mogelijke combinaties van TV en settop-boxen. In
            Utrecht bevonden zich alle belangrijke stakeholders, en dat waren er veel. Daarom deden we
            de demo van elke sprint en de planning van de volgende sprint niet in Den Haag, maar in
            Utrecht.
        </p>
        <figure>
            <img src="media/settop-boxen.jpg">
        </figure>
    </div>
    <p>
        Een fysiek scrumboard bleek voor het scrummen op meerdere locaties niet ideaal. Daarom
        hebben we dat virtueel gedaan met behulp van
        <a href="https://www.atlassian.com/software/jira" target="_blank">Jira</a>. Zo bleven het
        omvangrijke scrum-team en de vele stakeholders goed op de hoogte van elkaars activiteiten.
        Het werken met Jira bevalt zo goed, dat we het ook op andere scrumprojecten inzetten.
    </p>
    <h2>Smaak 3: Scrum lite</h2>
    <p>
        Voor kleinere projecten is het niet altijd verstandig om scrum volledig toe te passen. Er
        zijn meerdere situaties te bedenken waarin dit niet werkt. Zo kan het zijn dat de
        opdrachtgever niet altijd voltijd beschikbaar is, of dat samen in 1 ruimte zitten relatief
        hoge reistijden geeft, voor halve projectdagen. Ook kan de begeleiding en communicatie
        teveel overhead veroorzaken. Het volledig toepassen van scrum zou hier ingaan tegen een van
        de belangrijkste principes: ‘Eliminate waste’. Daarom gebruiken we voor kleinere projecten
        graag de lite-versie.
    </p>
    <h3>Kleiner scrumteam</h3>
    <p>
        Bij scrum lite is er is nog steeds 1 product owner die de belangen van de opdrachtgever
        vertegenwoordigt en de eindbeslissingen neemt. Op die manier houdt de klant gedurende het
        hele traject inspraak en blijft het project goed op de rit.
    </p>
    <p>
        Verder werken we in de lite-versie niet met een ‘full-time’ scrummaster, maar neemt een
        developer of project manager deze rol erbij. En tenslotte: hoe klein het team ook is, we
        werken bij voorkeur nog steeds samen op 1 plek. De product owner en scrum begeleider hoeven
        er alleen niet altijd bij te zijn. Maar een minimale voorwaarde is wel dat het hele team,
        inclusief product owner, op 1 dag per week vanaf 1 plek werkt. Deze dag kan dan gebruikt
        worden voor demonstraties, feedback, afstemming en planning.
    </p>
    <p>
        Het gehele team start het traject nog steeds met het definieren van de rolverdeling en het
        gezamenlijk opstellen van een Definition of Done. Dit zorgt ervoor dat iedereen dezelfde
        uitgangspunten heeft. Een gedeeld scrumboard, of een kleiner to-do-board, zorgt er tenslotte
        voor dat iedereen op elk moment inzicht heeft in taken, inschattingen en voortgang.
    </p>
    <h2>Smaak 4: Internationaal scrummen</h2>
    <p>
        Een uitgebreidere variant van scrummen op meerdere locaties is ‘internationaal scrummen’.
        Die smaak ontdekten we voor een nieuwe, Britse opdrachtgever. Het complete projectteam
        bestaat hierbij uit twee sub-teams: een back-end en een front-end team. De klant is zelf
        verantwoordelijk voor de realisatie van het back-end-gedeelte, en doet dit met eigen
        personeel in Engeland en Roemenië. Ons front-end team is verantwoordelijk voor de user
        interface, in de vorm van een web applicatie. Wij werken hieraan vanuit het kantoor van de
        Voorhoede in Amsterdam.
    </p>
    <h3>Nauwe afstemming</h3>
    <p>
        Uiteraard moeten de teams hun werkzaamheden nauw op elkaar afstemmen. De front- en back-end
        van de applicatie communiceren uitsluitend via JSON objecten in XHR requests. De teams
        stellen daarom samen de definities voor deze objecten op, met behulp van tools als
        <a href="http://collabedit.com" target="_blank">Collabedit</a> . Deze definities vormen de
        contracten tussen beide kanten van de applicatie. Deze worden vastgelegd in
        <a href="https://confluence.atlassian.com" target="_blank">Confluence</a>.
    </p>
    <p>
        Twee back-end developers maken deel uit van het front-end team om een goede afstemming te
        garanderen. Bovendien is er slechts 1 product owner voor beide teams, want we werken immers
        aan 1 gezamenlijk product.
    </p>
    <h3>Skypen en vliegen</h3>
    <p>
        Ook in dit project gebruiken we Jira voor een gedeeld virtueel scrumboard. We doen een
        dagelijkse stand-up over Skype met beide teams samen. Meestal is het totale scrumteam dan
        verspreid over 3 plaatsen: in Amsterdam, in Engeland en Roemenië. Maar er zijn uitschieters.
        Zo bellen we vandaag met elkaar vanaf 5 verschillende plaatsen.
    </p>
    <p>
        Dit alles kan face-to-face momenten natuurlijk niet helemaal vervangen. Daarom vliegen we
        iedere twee weken naar elkaar toe om 2 dagen samen te kunnen werken, in Amsterdam, of in
        Engeland. We gebruiken dan 1 dag voor demo, retrospective en planning, en 1 dag om op
        dezelfde locatie met elkaar samen te kunnen werken. En in de avond ertussen gaan we lekker
        met zijn allen uit eten onder genot van een pint, want dat blijft een van de leukste vormen
        van communicatie.
    </p>
</div>
{% endblock %}

<!-- /scrummen-in-vier-smaken -->
