{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-december -->

{% block blog %}
<div class="yammer-best-picks-december" data-component="yammer-best-picks-december">
    <div class="blogpost-illustrated-intro">
        <p>
            Bij De Voorhoede houden we elkaar graag op de hoogte van interessante
            artikelen, handige tooltjes en andere leuke dingen die we op het web
            tegenkomen. Deze delen we met elkaar op <a href="https://www.yammer.com/" target="_blank">Yammer</a>.
            In ‘Yammer: best picks...’ delen we de diamantjes, deze keer van de maand december.
        </p>
        <figure>
            <img itemprop="image" src="media/yammer-logo.min.jpg" alt=" "/>
        </figure>
    </div>
    <h2>JavaScript promises</h2>
    <p>
        Een uitgebreide tutorial over
        <a href="http://www.html5rocks.com/en/tutorials/es6/promises/" target="_blank">native Promises in JavaScript</a>.
    </p>
    <p>
        Voor de nuance nog een artikel met enige
        <a href="http://domenic.me/2012/10/14/youre-missing-the-point-of-promises/">kanttekeningen</a> bij het gebruik van promises.
    </p>
    <h2>Tap delay</h2>
    <p>
        Een <a href="http://updates.html5rocks.com/2013/12/300ms-tap-delay-gone-away" target="_blank">artikel</a> over hoe je tap-acties
        voor mobiel vrij eenvoudig 300ms sneller kunt maken (hoewel nog niet overal mogelijk).
    </p>
    <h2>SVG met fallback</h2>
    <p>
        Het SVG-formaat voor afbeeldingen wordt niet in alle browsers ondersteund. Als je SVG’s
        gebruikt kan het daarom nuttig zijn een fallback toe te voegen. Maar hoe pak je dat aan? Een
        aantal artikelen die kunnen helpen een keuze te maken:
    </p>
    <ul>
        <li><a href="http://css-tricks.com/svg-fallbacks/" target="_blank">Algemeen artikel over SVG fallback</a></li>
        <li><a href="https://twitter.com/scottjehl/status/369190249437483008">&lt;img src=&quot;foo.svg&quot; onerror=&quot;this.src=foo.png&quot;&gt;</a></li>
        <li><a href="http://davidensinger.com/2013/04/inline-svg-with-png-fallback/" target="_blank">Inline SVG met switch & foreignObject</a></li>
        <li><a href="http://toddmotto.com/mastering-svg-use-for-a-retina-web-fallbacks-with-png-script/" target="_blank">SVG detection in JS</a></li>
    </ul>
    <h2>Git</h2>
    <p>
        Een <a href="http://www.youtube.com/watch?v=ZDR433b0HJY" target="_blank">presentatie</a>
        van Scott Chacon die kan helpen om git te beter begrijpen.
    </p>
    <h2>Stop met denken</h2>
    <p>
        Sneller programmeren?
        <a href="http://www.codesimplicity.com/post/the-secret-of-fast-programming-stop-thinking/" target="_blank">Stop met denken!</a>
    </p>
</div>
{% endblock %}

<!-- /yammer-best-picks-december -->
