{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- relevance-of-a-solid-front-end-guide -->

{% block blog %}
<div class="relevance-of-a-solid-front-end-guide" data-component="relevance-of-a-solid-front-end-guide">
	<div class="blogpost-illustrated-intro">
		<p>
			Ever had inconsistency when different disciplines interact in the same project?
			<br>
			<br>
			At De Voorhoede we have realised that <strong>the solution is a solid front-end guide</strong>.
		</p>
		<figure>
			<img src="media/blog-image-presentation.min.jpg" alt="">
		</figure>
	</div>

	<p>
		<b>Q:</b>
		What the heck is a front-end guide?
		<br>
		<b>A:</b>
		An online portal where the styles and interactivity of the front-end project are displayed. The involved parties can use it as their shared library, so all parties are on the same page.
	</p>

	<p>
		There are several advantages: faster workflow, better communication, clear overview, independent visualisation per web component, solid & universal documentation, investing more time on production, one common workspace for all parties…
	</p>

	<p>
		Overall what you gain is consistency, consistency, consistency and consistency.
	</p>

	<p>
		In this article we will explain the following:
	</p>

	<ul>
		<li>
			Benefits of a front-end guide
		</li>
		<li>
			Practical cases in which we have used our front-end guide.
		</li>
		<li>
			Workflow with a front-end guide.
		</li>
	</ul>

	<section>
		<h2>
			Benefits
		</h2>
		<p>
			A website is a product which is almost never done independently. In a project there could be involved: marketers, SEO specialists, content writers, designers, front-end developers, back-end developers… a delightful mix of mindsets working together, with strong opinions regarding the building of a website. For this reason, Voorhoede works with a clear and interactive front-end guide. One online portal, which all the involved parties can use as their library.
		</p>
	</section>
	<section>
		<h2>
			Style guide vs front-end guide
		</h2>
		<p>
			There is a clear distinction between a <a href="http://www.smashingmagazine.com/2010/07/21/designing-style-guidelines-for-brands-and-websites/">design style guide</a> and a front-end guide. The main difference to highlight is: the design style guide covers the visual aspect and is a static document, whereas the front-end guide is interactive and dynamic.
		</p>
	</section>
	<section>
		<h2>
			Elements
		</h2>
		<p>
			To describe our front-end guide we will use two real cases in which De Voorhoede has worked for, Pols Potten and PostNL Drukwerkservice.
		</p>
		<h3>
			Style guide
		</h3>
		<p>
			We started out by including all the design and corporative rules which will be consistent throughout the project. This information is inserted into a style guide section in our front-end guide. We decided that it would be beneficial to use a CSS pre-processor like <a href="http://sass-lang.com/">sass</a>, for several reasons. For example, one basic advantage is that we can use variables for our colors, so if there are any changes in the future it would be easier to modify them. On our style guide section of our front-end guide template we display the <a href="http://coding.smashingmagazine.com/2012/10/04/the-code-side-of-color/">hex color code</a>, a visual representation of the color and the variable name assigned to the color. The same process is also applied to the typography elements, icon fonts and the logo characteristics. All necessary details are provided for the effectivity of the developers.
		</p>
		<figure>
			<img src="media/style-guide-1.min.png" alt="Style guide example from Pols Potten and PostNL Drukwerkservice">
		</figure>

		<figure>
			<img src="media/style-guide-2.png" alt="Style guide example from Pols Potten and PostNL Drukwerkservice">
		</figure>

		<figure>
			<img src="media/style-guide-3.png" alt="Style guide example from Pols Potten and PostNL Drukwerkservice">
		</figure>
	</section>
	<section>
		<h2>
			Modules
		</h2>
		<p>
			We already included all the graphic and basic elements in an interactive page. But now comes the interesting part! A website is basically an interaction of small “pieces” between them which construct together the experience of a website. This division is called <a href="http://www.slideshare.net/jbmoelker/voorhoede-frontend-architecture">front-end architecture</a>, this is a hot topic by itself so I won’t extend about this topic. The interesting core of this concept is the division of elements into smaller parts of a website. If done correctly, the division helps to have a more clear overview. De Voorhoede has created a division into two groups: components and views.
		</p>
		<section>
			<h3>
				Components
			</h3>
			<p>
				A component is an independent reusable structure, self-contained and easy to integrate with it’s own presentation and behaviour.
			</p>
			<p>
				This is an example of a list of components, from our front-end guide:
			</p>
			<figure>
				<img src="media/components-1.png" alt="">
			</figure>
			<p>
				If the user clicks on one of the links they will be directed to the preview of the component. You will be able to see the component and the code it is built of. Below you can see a real case preview of how the component is displayed in our front-end guide. It provides the developer a microscopic view of each component.
			</p>
			<video width="640" height="360" autoplay loop>
				<source src="media/component-view-video.mp4" type="video/mp4" />
				<source src="media/component-view-video.webmhd.webm" type="video/webm" />
				<source src="media/component-view-video.ogv" type="video/ogg" />
				<object width="640" height="360" type="application/x-shockwave-flash" data="video/component-view-video.flv">
					<param name="movie" value="video/component-view-video.flv" />
					<param name="flashvars" value="controlbar=over&amp;image=video/component-video-fallback.png&amp;file=video/component-view-video.mp4" />
					<img src="media/component-video-fallback.png" width="640" height="360" alt="component characteristics"
						 title="No video playback capabilities, please download the video below" />
				</object>
			</video>
			<p>
				Working with components induces the team to a much simpler method of working, filtering all the data into a one page display.
			</p>
		</section>
		<section>
			<h3>
				Views
			</h3>
			<p>
				In a view we combine our components and display them in a complete web page. Basically the views are the pages which the website will have.
			</p>
			<p>
				This is an example of a list of views, from our front-end guide:
			</p>
			<figure>
				<img src="media/views.png" alt="">
			</figure>
		</section>
	</section>
	<section>
		<h2>
			Workflow &amp; front-end guide
		</h2>
		<p>
			The majority of web projects are handled by different companies, therefore a correct workflow between all parties is essential.
		</p>
		<p>
			De Voorhoede is a front-end specialized company so in every project we work with different companies of other disciplines, like design and back-end development. In De Voorhoede we promote working with the <a href="http://voorhoede.nl/blog/scrummen-in-vier-smaken/">Scrum</a> method, due to its efficiency. But for now the reality is that a lot of companies follow a classic <a href="http://en.wikipedia.org/wiki/Waterfall_model">waterfall</a> workflow. Either of these work scenarios reach the same objective, but with a different approach.
		</p>
		<p>
			The average project has three parties in the project, providing a higher need for a solid style guide and front-end guide.
		</p>
		<figure>
			<img src="media/waterfall-overflow.jpg" alt="">
		</figure>
		<p>
			These are the commons steps you would find in a waterfall workflow:
		</p>
		<ol>
			<li>
				Back-end provides us requirements to take into consideration with the front-end development.
			</li>
			<li>
				The design is delivered.
			</li>
			<li>
				We complete and deliver the front-end guide to the back-end party.
			</li>
			<li>
				Back-end uses the front-end guide to complete their tasks.
			</li>
		</ol>
	</section>
	<section>
		<h2>
			Lessons learnt
		</h2>
		<p>
			In conclusion, the front-end guide is pretty handy! The back-end party would be able to work faster with our front-end material. They wouldn’t need to dive in our code files or need regular guidance from De Voorhoede as the front-end guide provides a clear overview. This makes the project more effective, economical, compact and overall consistent.
		</p>
		<p>
			De Voorhoede has created a front-end guide template which has already given us great results. All companies involved feel confident with it. The parties involved can spend less time on communication and more on production.
		</p>
		<p>
			Another gained value its the ease of modification. If the front-end guide needs a modification or an additional element, it can be done instantly due to it’s system based on components.
		</p>
		<section>
			<h3>
				Overall advantages:
			</h3>
			<ul>
				<li>
					Easily correct or enhance any element of the front-end guide.
				</li>
				<li>
					Consistency created by a solid & universal shared documentation.
				</li>
				<li>
					More emphasis on production due to an effective communication.
				</li>
				<li>
					Independent visualisation per view and component.
				</li>
				<li>
					Relevant information (HTML, CSS and javascript) for the developer, separated per component and per view.
				</li>
				<li>
					A new developer can adapt smoothly to the team using the shared front-end guide documentation.
				</li>
			</ul>
		</section>
	</section>
	<section>
		<h2>
			I want to know more!
		</h2>
		<p>
			If you wish to know more about front-end guides, we can recommend the following reading:
		</p>
		<ul>
			<li>
				<a href="http://24ways.org/2011/front-end-style-guides/">Anna Debenham’s presentation on front-end style guides</a>
			</li>
			<li>
				<a href="http://sideproject.io/front-end-and-ui-style-guides/">Brian Krall explains different illustrative examples</a>
			</li>
			<li>
				<a href="http://paulrobertlloyd.com/about/styleguide/">Paul Robert Lloyd’s style guide example</a>
			</li>
			<li>
				<a href="http://www.smashingmagazine.com/2010/07/21/designing-style-guidelines-for-brands-and-websites/">Kat Neville explains the characteristics of a design style guide</a>
			</li>
			<li>
				<a href="http://bradfrostweb.com/blog/post/atomic-web-design/">Brad Frost and his Atomic Design approach</a>
			</li>
			<li>
				<a href="http://www.slideshare.net/jbmoelker/voorhoede-frontend-architecture">Jasper Moelker presentation of Front-End Architecture</a>
			</li>
			<li>
				<a href="http://bem.info/method/">BEM workflow follows the component philosophy  </a>
			</li>
		</ul>
	</section>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /relevance-of-a-solid-front-end-guide -->
