{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup js mvc 6 -->

{% block blog %}
<div class="meetup-js-mvc-6" data-component="meetup-js-mvc-6">
    <div class="blogpost-illustrated-intro">
        <p>
            Woensdag 29 januari wordt het zesde event van Meetup van JS MVC Amsterdam gehouden. Deze
            keer met De Voorhoede als gastheer. Er zijn twee presentaties:
        </p>
        <figure>
            <img itemprop="image" src="media/meetup-js-mvc-amsterdam-small.min.png" alt=" "/>
        </figure>
    </div>
    <h2>Ember.js Application Architecture</h2>
    <p>
        Ben Konrath laat zien hoe je een
        <a href="http://emberjs.com" target="_blank">Ember.js</a>-applicatie ontwerpt. De
        presentatie laat het basisconcept zien, zodat je een vliegende start kunt maken met je
        eerste project in Ember.js.
    </p>
    <h2>ng Architecture: Best Practices for Setting up Angular Project Structures</h2>
    <p>
        Voorhoeder Jasper Moelker geeft een presentatie over de structuur van
        <a href="http://angularjs.org" target="_blank">AngularJS</a>-projecten,  zoals we deze
        hebben ontwikkeld bij De Voorhoede. Deze opzet is toepasbaar op zowel projecten met Angular
        als met andere Frameworks.
    </p>
    <p>
        (Bekijk de slides van dit event in de blog post: <a href="../meetup-js-mvc-6-slides">'Meetup JS MVC #6: slides'</a>)
    </p>
</div>
{% endblock %}

<!-- /meetup js mvc 6 -->
