@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* meetup-js-mvc-9-slides component */

.meetup-js-mvc-9-slides {
	.iframe-jsmvc {
		display: block;
		margin: 1em auto;
	}
}