{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup-js-mvc-9-slides -->

{% block blog %}
<div class="meetup-js-mvc-9-slides" data-component="meetup-js-mvc-9-slides">
	<div class="blogpost-illustrated-intro">
		<p>
			Wednesday the 25th of June the Meetup JS MVC &num;9 took place at De Voorhoede. A
			successful meeting with a big and active audience, and some good presentations. If
			you&apos;ve missed it, or want to check out the content again you&apos;re in luck: the
			speakers have published the slides to their presentations.
		</p>
		<figure>
			<img itemprop="image" src="media/js-mvc-9.min.jpg"
				 alt="It was a full house at De Voorhoede for JS MVC 9."/>
		</figure>
	</div>
	<h2>Web Components with React.JS</h2>
	<span class="inside-article-author">
		By <a href="https://github.com/PixelsCommander" target="_blank">Denis Radin</a>
	</span>
	<figure>
		<iframe class="iframe-jsmvc" src="//www.slideshare.net/slideshow/embed_code/36213996" width="100%" style="height: 356px;" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:1em; max-width: 100%;" allowfullscreen> </iframe>
		<figcaption>
			Source:
			<a href="http://www.slideshare.net/DenisRadin/frontend-tower-of-babylon" target="_blank">
				http://www.slideshare.net/DenisRadin/frontend-tower-of-babylon
			</a>
		</figcaption>
	</figure>
	<p>
		See also Denis Radin's
		<a href="https://github.com/PixelsCommander/ReactiveElements" target="_blank">
			Reactive Elements on GitHub
		</a>.
	</p>

	<h2>ConditionerJS</h2>
	<span class="inside-article-author">
		By <a href="https://github.com/rikschennink" target="_blank">Rik Schennink</a>
	</span>
	<figure>
		<script async class="speakerdeck-embed" data-id="a4e5b1f0df30013128d71ecb83560054" data-ratio="1.6" src="//speakerdeck.com/assets/embed.js"></script>
		<figcaption>
			Source:
			<a href="https://speakerdeck.com/rikschennink/frizz-free-javascript-with-conditionerjs" target="_blank">
				https://speakerdeck.com/rikschennink/frizz-free-javascript-with-conditionerjs
			</a>
		</figcaption>
	</figure>
	<p>
		Read more about the contents of this presentation on
		<a href="http://www.smashingmagazine.com/2014/04/03/frizz-free-javascript-with-conditionerjs/" target="_blank">Smashing Magazine</a>.
		See also the <a href="http://conditionerjs.com" target="_blank">ConditionerJS docs</a>.
	</p>

	<h2>JS MVC Amsterdam</h2>
	<p>For more information about next events and to see the reactions to this event, visit
		<a href="http://www.meetup.com/JavaScript-MVC-Meetup-Amsterdam/events/182288022/" target="_blank">JS MVC Amsterdam's Meetup page</a>.
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /meetup-js-mvc-9-slides -->
