@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* making-of-voorhoede-nl component */

.making-of-voorhoede-nl {
	.section-header span.section-title {
		font-size: 135px;
		color: $dvh-blue;

		@media only screen and (max-width: 840px) {
			font-size: 90px;
		}
		@media only screen and (max-width: 520px) {
			font-size: 60px;
		}
		@media only screen and (max-width: 385px) {
			font-size: 40px;
		}
	}

	.example-section-header {
		 z-index: 0;
		 padding: 0;
		 &:before {
			 top: 0;
		 }
		 &:after {
			 top: -.255em;
			 left: -15%;
			 @media only screen and (max-width: 840px) {
				 top: -.255em;
			 }
			 @media only screen and (max-width: 520px) {
				 top: -.34em;
				 left: -25%;
			 }
		 }
		 .section-title:after {
			 top: 0;
			 left: 2%;
		 }
	}

	.cases-item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		box-shadow: none;
		&.odd h3{
			text-align: left;
		}
		&.even h3{
			text-align: right;
		}
		@media only screen and (max-width: 840px) {
			margin-bottom: 0;
		}
	}

	.cases-item.item .item-text {
		@media only screen and (max-width: 840px) {
			text-align: left;
			h3 {
				text-align: center;
			}
		}
	}

	.item-image {
		img {
			width: 254px;
			max-width: 100%;
			border: 1px solid $shadow;
			display: block;
			margin: 0 auto;
		}
		@media only screen and (max-width: 840px) {
			padding-bottom: 1em;
		}
	}

}


.example-section-header-figure {
	@include background-rgba($dvh-green, 0.2);
	padding-top: 2em;
	padding-bottom: 2em;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		z-index: 1;
		background: url(#{$path-images}dot-background-new2.png) 0 0 repeat;
		@include rotate();
		@media only screen and (max-width: 840px) {
			background: url(#{$path-images}dot-background-small-new.png) 0 0 repeat;
		}
		@media only screen and (max-width: 520px) {
			background: url(#{$path-images}dot-background-very-small-new.png) 0 0 repeat;
		}
	}
}


/****************** Step 0 ******************/

.making-of-step-0 {
	.example-section-header-figure {
		background: none;
	}

	.section-header,
	.example-section-header {
		visibility: hidden;
	}

	.page-background,
	.background-pattern {
		visibility: hidden;
	}
}

/****************** Step 1 ******************/

.making-of-step-1 {
	.example-section-header-figure {
		background: none;
		&:before {
			display: none;
		}
	}

	.page-background,
	.background-pattern {
		visibility: hidden;
	}

	.section-header,
	.example-section-header {
		@include rotate(0);
		&:before,
		&:after {
			visibility: hidden;
		}
	}

	.section-header,
	.section-title {
		text-transform: none;
	}

	.section-title:after {
		visibility: hidden;
	}
}

/****************** Step 2 ******************/

.making-of-step-2 {
	.example-section-header-figure {
		background: none;
		&:before {
			display: none;
		}
	}

	.page-background,
	.background-pattern {
		visibility: hidden;
	}

	.section-header,
	.example-section-header {
		@include rotate(0);
		&:before,
		&:after {
			visibility: hidden;
		}
	}

	.section-title:after {
		visibility: hidden;
	}
}

/****************** Step 3 ******************/

.making-of-step-3 {
	.example-section-header-figure {
		background: none;
		&:before {
			display: none;
		}
	}

	.page-background,
	.background-pattern {
		visibility: hidden;
	}

	.section-header,
	.example-section-header {
		@include rotate(0);
	}

	.section-title:after {
		visibility: hidden;
	}
}

/****************** Step 4 ******************/

.making-of-step-4 {
	.example-section-header-figure {
		background: none;
		&:before {
			display: none;
		}
	}

	.page-background,
	.background-pattern {
		visibility: hidden;
	}

	.section-header,
	.example-section-header {
		@include rotate(0);
	}
}

/****************** Step 5 ******************/

.making-of-step-5 {
	.example-section-header-figure {
		background: none;
		&:before {
			display: none;
		}
	}

	.page-background,
	.background-pattern {
		visibility: hidden;
	}
}

/****************** Step 6 ******************/

.making-of-step-6 {
	.example-section-header-figure {
		&:before {
			display: none;
		}
	}

	.site-background .bg-plane {
		@include rotate(0);
	}

	.background-pattern {
		visibility: hidden;
	}
}

/****************** Step 7 ******************/

.making-of-step-7 {
	.example-section-header-figure:before {
		@include rotate(0);
	}

	.site-background .bg-plane {
		 @include rotate(0);
	 }

	.site-background .background-pattern {
		@include rotate(0);
	}
}

/****************** Step 8 ******************/

//No special styling for step 8


/****************** view depending on browser support ******************/
//Example headers in between text are not displayed, unless the page is accessed with a browser that
//supports our interactivity

.making-of-interactive-example {
	display: none;
}

.making-of-interactive {
	.making-of-interactive-example {
		display: block;
	}
	.making-of-interactive-example.button-internal {
		display: inline-block;
		@media only screen and (max-width: 840px) {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.legacy-notification {
		display: none;
	}
	.text-container.before-header {
		margin-bottom: 2em;
	}
	.text-container.after-header {
		margin-top: 1em;
	}
}