{% extends "modules/views/_single-portfolio-item/_single-portfolio-item.html" %}
<!-- making-of-voorhoede-nl -->

{% block portfolio %}
<div class="making-of-voorhoede-nl" data-component="making-of-voorhoede-nl">
	<section class="cases-section">
		<p>
			Bij De Voorhoede werken we continu aan de realisatie van websites voor onze klanten.
			Natuurlijk hebben we zelf ook een website nodig. En niet zomaar eentje. Voor het design
			werkten we samen met <a href="http://unitid.nl/" target="_blank">UNITiD</a>.
			Wat onze site bijzonder maakt, zijn de achtergrond en de headers. Deze zijn niet puur
			uit afbeeldingen opgebouwd, zoals je misschien zou verwachten. De achtergrond en headers
			zijn zoveel mogelijk opgebouwd uit code.
		</p>
		<p>
			In ‘The making of Voorhoede.nl’ laten we stap voor stap zien hoe de achtergrond en
			headers van onze website gemaakt zijn.
		</p>
		<p class="legacy-notification">
			Een interactieve versie van deze pagina is te bekijken met moderne browsers: Chrome,
			Safari, Firefox, Opera, Internet Explorer 10 en hoger, Android 3 en hoger, iOS Safari 5
			en hoger.
		</p>
	</section>
	<section class="cases-section">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">Pop-art van print naar web</span>
		</h2>
		<p>
			Het design van voorhoede.nl is geinspireerd door pop-art. De cartoon-stijl is onder meer
			te zien in schilderijen en zeefdrukken van Roy Lichtenstein:
		</p>
		<figure class="centered-image image-between">
			<img src="media/making-of-voorhoede-lichtenstein.min.jpg" alt="Een voorbeeld van een schilderij in de cartoon-stijl">
			<figcaption>Fragment van ‘Girl With Hair Ribbon’, Roy Lichtenstein, 1965</figcaption>
		</figure>
		<p>
			In de bovenstaande afbeelding zie je het gebruik van de zogenaamde
			‘<a href="http://en.wikipedia.org/wiki/Ben-Day_dots" target="_blank">Ben-Day dots</a>’.
			Door gebruik van stipjes in primaire kleuren en witruimte ontstaat er een optische
			illusie van kleurmenging.
		</p>
		<p>
			In de analoge techniek is er een witte achtergrond met daarop gekleurde stipjes. In onze
			digitale versie hebben we een gekleurde achtergrond. Daar overheen leggen we een witte
			laag met transparante ‘gaatjes’. Van de gekleurde achtergrond zie je alleen wat er door
			die transparante gaatjes te zien is. Dit zorgt voor een stippatroon.
		</p>
	</section>
	<section class="cases-section">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">De basis</span>
		</h2>
		<p>
			Voor het creëren van ons design moeten verschillende stappen worden doorlopen. Eerst
			maken we de headers, hieronder plaatsen de achtergrondvlakken en tot slot plaatsen we
			over de vlakken en headers een patroon.
		</p>
		<p class="making-of-interactive-example">Hiervoor beginnen we bij de basis: een leeg scherm:</p>
		<div class="button-wrapper">
			<button class="making-of-interactive-example button-internal" data-step="0" type="button">
				Stap 0: Verwijder achtergrond en header
			</button>
		</div>
	</section>
	<section class="cases-section">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">Headers</span>
		</h2>
		<p>
			De headers op voorhoede.nl zijn geen afbeeldingen, ze zijn opgebouwd uit tekst. In de
			html-structuur zijn ze wat ze horen te zijn: heading tags. Het gebruik van ‘echte’ tekst
			in plaats van afbeeldingen heeft verschillende voordelen:
		</p>
		<ul class="cases-list">
			<li>
				Voor zowel zoekmachines als screenreaders is het belangrijk dat de titel in de
				juiste semantische structuur op de pagina staat. Dit houdt de opbouw van de tekst
				duidelijk.
			</li>
			<li>
				Als de titel ooit verandert, hoeft er geen nieuwe afbeelding te worden gemaakt.
				Ook kun je dezelfde code hergebruiken voor titels op andere plaatsen in de website.
			</li>
			<li>
				Tekst wordt sneller geladen in de browser dan afbeeldingen. Het verschil zie je
				bijvoorbeeld op een mobiel apparaat met slecht bereik.
			</li>
			<li>
				Fonts blijven op elk formaat scherp. Je kunt ze onbeperkt schalen, zonder dat je een
				pixel-effect ziet.
			</li>
		</ul>
		<p>
			De headers maken we allereerst aan in de HTML-structuur. Vervolgens doorlopen we
			verschillende stappen voor de styling, en zetten we ze op de juiste plaats.
		</p>
	</section>
	<section class="cases-section">
		<section class="cases-item item illustrated-item odd">
			<div class="item-image">
				<img src="media/step-1.min.png" alt="">
			</div>
			<div class="item-text">
				<h3>Header aanmaken</h3>
				<p>
					We zetten de header als een <code class="language-markup">&lt;h2&gt;</code> in
					de HTML. We stellen zijn formaat in, afhankelijk van het formaat browservenster
					waarop de pagina wordt bekeken. Verder geven we hem een plaats, kleur en
					lettertype.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="1" type="button">Stap 1: Header aanmaken</button>
			</div>
		</section>
		<figure class="making-of-interactive-example example-section-header-figure">
			<div class="example-section-header section-header" data-content="Test">
				<span class="section-title" data-content="Test">Test</span>
			</div>
		</figure>
	</section>
	<section class="cases-section">
		<section class="cases-item item illustrated-item even">
			<div class="item-image">
				<img src="media/step-2.png" alt="">
			</div>
			<div class="item-text">
				<h3>Hoofdletters</h3>
				<p>
					We willen alle headers in hoofdletters op onze pagina weergeven. We veranderen
					de kleine letters in hoofdletters met CSS:
					<code class="language-css">text-transform: uppercase</code>.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="2" type="button">Stap 2: Hoofdletters</button>
			</div>
		</section>
		<figure class="making-of-interactive-example example-section-header-figure">
			<div class="example-section-header section-header" data-content="Test">
				<span class="section-title" data-content="Test">Test</span>
			</div>
		</figure>
	</section>
	<section class="cases-section">
		<section class="cases-item item odd illustrated-item">
			<div class="item-image">
				<img src="media/step-3.png" alt="">
			</div>
			<div class="item-text">
				<h3>Drie lagen</h3>
				<p>
					Van de letters maken we drie lagen. Hiervoor zetten we een
					<code class="language-css">:before</code> en
					<code class="language-css">:after</code> pseudo-element op het parent-element
					van de <code class="language-markup">&lt;h2&gt;</code>, met
					&lsquo;Portfolio&rsquo; als <code class="language-css">content</code>. We geven
					ze een kleur, formaat en plaats.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="3" type="button">Stap 3: Drie lagen</button>
			</div>
		</section>
		<figure class="making-of-interactive-example example-section-header-figure">
			<div class="example-section-header section-header" data-content="Test">
				<span class="section-title" data-content="Test">Test</span>
			</div>
		</figure>
	</section>
	<section class="cases-section">
		<section class="cases-item item even illustrated-item">
			<div class="item-image">
				<img src="media/step-4.png" alt="">
			</div>
			<div class="item-text">
				<h3>Vierde laag</h3>
				<p>
					Nu plaatsen we een vierde, donkergele laag. Dit doen we door op de
					<code class="language-markup">&lt;h2&gt;</code> zelf ook een pseudo-element
					<code class="language-css">:after</code> te zetten. Ook deze krijgt een plaats.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="4" type="button">Stap 4: Vierde laag</button>
			</div>
		</section>
		<figure class="making-of-interactive-example example-section-header-figure">
			<div class="example-section-header section-header" data-content="Test">
				<span class="section-title" data-content="Test">Test</span>
			</div>
		</figure>
	</section>
	<section class="cases-section">
		<section class="cases-item item odd illustrated-item">
			<div class="item-image">
				<img src="media/step-5.png" alt="">
			</div>
			<div class="item-text">
				<h3>Roteren</h3>
				<p>
					De header komt iets schuin te staan. We roteren hem met -5 graden, met behulp
					van CSS3 <code class="language-css">transform: rotate(-5deg);</code>.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="5" type="button">Stap 5: Header roteren</button>
			</div>
		</section>
		<figure class="making-of-interactive-example example-section-header-figure">
			<div class="example-section-header section-header" data-content="Test">
				<span class="section-title" data-content="Test">Test</span>
			</div>
		</figure>
	</section>
	<section class="cases-section">
		<p>
			Nu zijn de headers zoals we ze willen hebben. We gaan aan de slag met de
			achtergrondvlakken, die onder de headers komen te liggen. Daarna leggen we over de
			headers en vlakken een stippatroon.
		</p>
	</section>
	<section class="cases-section">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">Achtergrond</span>
		</h2>
		<p>
			Op de achtergrond van onze website willen we gekleurde vierkante vlakken. Deze kunnen we
			eenvoudig uit code creëren. De vlakken blijven altijd scherp, ongeacht het
			schermformaat.
		</p>
		<p>
			Over deze vlakken en de eerder gemaakte headers heen leggen we een witte afbeelding met
			transparante stipjes. We hebben drie variaties van de afbeelding, voor grote,
			middelgrote en kleine browservensters. De afbeeldingen zijn ieder 1KB. Dit betrekkelijk
			kleine formaat vormt een kleine belasting op de performance van de website.
		</p>
		<p>
			Vervolgens roteren we de vlakken en het patroon, zodat de stipjes en vlakken
			dezelfde richting krijgen als de headers.
		</p>
		<section class="cases-item item illustrated-item even">
			<div class="item-image">
				<img src="media/step-6.png" alt="">
			</div>
			<div class="item-text">
				<h3>Vlakken</h3>
				<p>
					We maken vlakken aan in de HTML als
					<code class="language-markup">&lt;div&gt;</code>s. We geven ze een kleur,
					formaat en plaats. Met JavaScript meten we hoe lang de content van de pagina is.
					Als het aantal <code class="language-markup">&lt;div&gt;</code>s in de HTML niet
					genoeg is om de pagina mee te vullen, zetten we er een kopie van de
					<code class="language-markup">&lt;div&gt;</code>s onder.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="6" type="button">Stap 6: Vlakken</button>
			</div>
		</section>
		<section class="cases-item item illustrated-item odd">
			<div class="item-image">
				<img src="media/step-7.png" alt="">
			</div>
			<div class="item-text">
				<h3>Patroon</h3>
				<p>
					De afbeelding voor het patroon bevat maar 1 stipje. We voegen de
					hem als <code class="language-css">background</code> toe aan een
					<code class="language-markup">&lt;div&gt;</code>. Omdat we de
					<code class="language-markup">&lt;div&gt;</code> een formaat geven dat groter is
					dan de afbeelding, wordt deze herhaald tot de achtergrond is opgevuld. We
					zetten de headers en vlakken met CSS
					<code class="language-css">z-index</code> &lsquo;naar achteren&rsquo;, zodat het
					patroon er bovenop komt te liggen.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="7" type="button">Stap 7: Patroon</button>
			</div>
		</section>
		<section class="cases-item item illustrated-item even">
			<div class="item-image">
				<img src="media/step-8.png" alt="">
			</div>
			<div class="item-text">
				<h3>Achtergrond roteren</h3>
				<p>
					De achtergrondvlakken en het stipjes-patroon staan nu loodrecht op de pagina. Om
					ze uit te lijnen met header, geven we ook de vlakken en het patroon een rotatie,
					met <code class="language-css">transform: rotate(-5deg);</code>.
				</p>
				<button class="making-of-interactive-example button-internal" data-step="8" type="button">Stap 8: Achtergrond roteren</button>
			</div>
		</section>
	</section>
	<section class="cases-section">
		<h2>
			<span class="ruler"></span>
			<span class="ruler-text">Done: Voorhoede.nl</span>
		</h2>
		<p>
			Nu we de headers en achtergrond-vlakken hebben gemaakt, en het patroon op zijn plaats
			hebben staan, hebben we alle stappen doorlopen. En zie daar: onze Voorhoede-huisstijl.
		</p>
	</section>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
	{{ super() }}
{% endblock %}

<!-- /making-of-voorhoede-nl -->
