{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- hoe-leg-ik-moeder-front-end-uit -->

{% block blog %}
<div class="hoe-leg-ik-moeder-front-end-uit" data-component="hoe-leg-ik-moeder-front-end-uit">
	<div class="blogpost-illustrated-intro">
		<p>
			Wij front-enders hebben een prachtig vak. Maar leg dat maar eens uit aan anderen. Aan je
			moeder bijvoorbeeld, die maar weinig met computers heeft. Bij de Voorhoede zijn we met alle
			front-enders een middag bij elkaar gaan zitten. Om, speciaal voor moederdag, het verhaal
			voor eens en voor altijd helder en compleet te krijgen. Als je zelf ook front-ender bent of
			veel met front-enders te maken hebt, komt het je mogelijk ook van pas. Daar gaan we.
		</p>
		<figure>
			<img itemprop="image" src="media/excerpt.min.png" alt="Front-end development is voor onze moeders een raadsel."/>
		</figure>
	</div>
	<h2>Mam vraagt: Wat is dat, Front-end development?</h2>
	<p>
		<em>Jij: Front-end development is het maken (&ldquo;developen&rdquo; in goed Nederlands) van
		front-end code voor bijvoorbeeld websites.</em>
	</p>
	<p>
		De instructies in de front-end code worden door een browser (zoals bijvoorbeeld Internet
		Explorer of Google Chrome) gelezen. Daarmee tekent de browser web-pagina&apos;s, zoals
		degene waar je nu bijvoorbeeld naar kijkt!
	</p>
	<figure class="has-badge">
		<img src="media/code-naar-web.min.jpg" alt="De browser zet de code om in een website.">
		<img class="badge" src="media/knipoog.min.png" alt="">
	</figure>
	<p>
		De front-end code vertelt aan je browser hoe de website eruit moet zien: de vormen, kleuren,
		letters, plaatjes, knoppen etc. Ook vertelt hij bijvoorbeeld aan de browser naar welke
		andere webpagina hij moet gaan als je op een link klikt.
	</p>
	<h2>Mam: Dus als je front-end code hebt, dan heb je een website?</h2>
	<p>
		<em>Jij: Ja, met front-end code en een browser heb je al een website. Wat meer complexe
			websites hebben behalve front-end code ook een zogenaamde back-end.</em>
	</p>
	<p>
		De back-end code neemt via de front-end code opdrachten aan van de persoon die de website
		gebruikt, doet er iets mee, en geeft weer via de front-end code iets terug. Denk
		bijvoorbeeld aan een webshop. Je ziet iets leuks, en wilt het kopen. Je klikt op de knop
		&lsquo;In winkelwagen&rsquo;.
	</p>
	<img src="media/backend-frontend.min.png" alt="Back-end en front-end wisselen informatie uit.">
	<p>
		Die knop is gemaakt met front-end code. In de front-end code
		staat, dat als er op de knop gedrukt wordt, bepaalde informatie aan de back-end code moet
		worden gestuurd. De back-end code zorgt dat het juiste artikel in je winkelwagen wordt
		toegevoegd, en geeft een seintje aan de front-end code dat bij het winkelwagen-icoon
		bovenaan de pagina een &lsquo;1&rsquo;(&lsquo;1 artikel in winkelwagen&rsquo;) moet worden
		toegevoegd.
	</p>
	<img src="media/winkelwagen.min.png" alt="Mam: Dus zo werkt een web-shop ongeveer&hellip;">
	<h2>Mam: Ik weet het niet hoor, vroeger waren beroepen ‘echter’ en niet zo virtueel...</h2>
	<p>
		<em>Jij: Tijden veranderen. Sommige beroepen gaan van vader op zoon. Sommige beroepen
			sterven uit en andere beroepen komen er voor terug.</em>
	</p>
	<p>
		De tijd van front-end development is nu volop gaande. Front-end development is het ambacht
		van de 21ste eeuw, je zou er zo een gilde voor kunnen oprichten. Front-enders zijn mensen
		die iets maken en verstand hebben van stevige en stabiele code, net zoals een meubelmaakster
		weet hoe zij een stevige kast maakt.
	</p>
	<img src="media/grafiek.min.png" alt="Schema: het aantal meubelmakers daalt met de jaren, terwijl het aantal
	front-enders alleen maar stijgt.">
	<h2>Mam: Maar wat doe je nou de hele dag als front-end developer?</h2>
	<p>
		<em>Jij: Praten en veel programmeren! Een front-end developer typt regels met code, die
			samen het uiterlijk en een deel van de werking van een website bepalen.</em>
	</p>
	<h3>Mam: Wat is HTML eigenlijk?</h3>
	<p>
		<em>Jij: Wat een interesse, Mam! HTML is de taal die gebruikt wordt om de tekst van een
			webpagina te schrijven.</em>
	</p>
	<p>
		Van elk stukje tekst kun je aangeven wat het is, bijvoorbeeld: een kopje, een
		tabel, een paragraaf of een link. Dat ziet er bijvoorbeeld zo uit:
	</p>
	<pre class="code-block language-markup"><code>&lt;h1 class=&quot;site-title&quot;&gt;De Voorhoede&lt;/h1&gt;
&lt;h2 class=&quot;site-tagline&quot;&gt;front-end developers&lt;/h2&gt;</code></pre>
	<p>
		De browser weet als hij dit stukje ziet, dat hij een groot en een kleiner kopje moet laten
		zien: een &lsquo;heading 1&rsquo; (h1) en een &lsquo;heading 2&rsquo; (h2). We hebben nu de
		tekst, maar we hebben de browser nog niet verteld hoe die tekst er precies uit moet zien:
		welke kleur, welke soort letters etc. Dit is wat de browser er zelf van maakt:
	</p>
	<div class="example-moeder-html">
		<h1>De Voorhoede</h1>
		<h2>front-end developers</h2>
	</div>
	<p>
		Naast de tekst, vertelt de HTML de browser ook waar de andere benodigde code en de plaatjes
		te vinden zijn, en wat voor instellingen gebruikt moeten worden.
	</p>
	<h3>Mam: Jij was toch nooit goed in talen op school?</h3>
	<p>
		<em>Jij: Klopt misschien wel, maar nu schrijf ik in meerdere talen.</em>
	</p>
	<p>De tweede taal die een front-end developer gebruikt is CSS, bijvoorbeeld:</p>
	<pre class="code-block language-css"><code>.site-title {
	font-family: pt-sans-bold;
	color: #00373d;
	text-transform: uppercase;
}
.site-tagline {
	font-family: Questrial;
	color:#798386;
}</code></pre>
	<p>
		Na het lezen van dit stukje code weet de browser in welke kleur (&lsquo;color&rsquo;) en in
		welk lettertype (&lsquo;font-family&rsquo;) hij de bovenstaande headings moet laten zien, en
		dat de letters van de titel hoofdletters moeten worden (&lsquo;uppercase&rsquo;). Nu maakt
		de browser er dit van:
	</p>
	<div class="example-moeder-css">
		<h1 class=”site-title”>De Voorhoede</h1>
		<h2>front-end developers</h2>
	</div>
	<h3>Mam: Wat moet je nu nog met die derde taal? Zijn deze niet genoeg?</h3>
	<p>
		<em>Jij: Als je behalve tekst en een mooie opmaak ook nog wilt dat er ‘iets gebeurt’ op je
			website, dan heb je vaak JavaScript nodig.</em>
	</p>
	<p>
		Met JavaScript kun je websites dynamisch en interactief maken. Bijvoorbeeld de web-pagina
		waar je nu naar kijkt. Als je omhoog scrollt, komt de menubalk tevoorschijn. Zo hoef je niet
		helemaal tot bovenaan de pagina te scrollen als je door wilt gaan naar een andere pagina op
		de website.
	</p>
	<p>
		Nu een stukje code. Hier is een stukje HTML met een knopje, ofwel ‘button’. Hij krijgt de
		&lsquo;klasse&rsquo;-naam &ldquo;mijnKnopje&rdquo;:
	</p>
	<pre class="code-block language-markup"><code>&lt;button class=&quot;mijnKnopje&quot;&gt;Gratis advies&lt;/button&gt;</code></pre>
	<p>
		Nu een stukje JavaScript. Met de functie &ldquo;gratisAdvies&rdquo;, kun je een
		waarschuwings-schermpje laten zien, een &lsquo;alert&rsquo;:
	</p>
	<pre class="code-block language-javascript"><code>var gratisAdvies = function () {
  alert(&quot;Pas goed op met oversteken!&quot;);
};</code></pre>
	<p>
		Nu nog zorgen dat als je op &ldquo;mijnKnopje&rdquo; klikt, de functie
		&ldquo;gratisAdvies&rdquo; uitgevoerd wordt:
	</p>
	<pre class="code-block language-javascript"><code>document.querySelector(&quot;.mijnKnopje&quot;).addEventListener(&quot;click&quot;, function(event) {
	gratisAdvies();
});</code></pre>
	<p>Probeer het maar eens al je wilt, en druk op deze knop:</p>
	<button class="button-internal mijnKnopje">Gratis advies</button>
	<h2>Mam: Het klinkt als eenzaam werk, kom je wel genoeg onder de mensen?</h2>
	<p>
		<em>Jij: Ik werk juist heel veel samen! Een front-end developer werkt haast nooit alleen,
			maar juist in een multidisciplinair team.</em>
	</p>
	<p>
		Stel je voor: Een bedrijf / organisatie / vriend etc. heeft een idee en wil dat er
		bijvoorbeeld een website gemaakt wordt. Om dit (goed) voor elkaar te krijgen moet er over
		verschillende onderdelen van de website nagedacht worden.
	</p>
	<ul>
		<li>
			Stap 1: de eigenaar van de website heeft een idee, een doel dat hij of zij wil bereiken.
		</li>
		<li>
			Stap 2: Op basis hiervan wordt een nieuwe website ontworpen, of een bestaande vernieuwd.
			Het ontwerpen van de structuur van de website en de manier waarop alle schermen
			ingedeeld worden, is het terrein van de interactie-ontwerper.
		</li>
		<li>
			Stap 3: Volgende stap is om het ontwerp van de interactie-ontwerper te vertalen naar een
			visueel ontwerp, denk aan: kleuren, contrast, typografie, exacte positie van knoppen,
			menu&apos;s, foto&apos;s etc. Dit doet de visual designer.
		</li>
		<li>
			Stap 4: De front end developer maakt de &lsquo;tekeningen&rsquo; uit stap 3 na met code.
			Het visueel ontwerp wordt dus gebruikt als een soort bouwtekening. Belangrijk hierbij is
			dat de website er op allerlei apparaten goed uit ziet, ook met kleine schermpjes.
			Tegenwoordig bezoeken mensen natuurlijk ook heel vaak websites met hun mobiel of tablet.
		</li>
		<li>
			Stap 5: De back-end developer &lsquo;stopt&rsquo; de code van de front end developer in
			het systeem op de server, zodat er bij iedere klik op de knop van de gebruiker de juiste
			informatie vanuit het systeem naar de browser gestuurd wordt.
		</li>
	</ul>
	<!--<img src="" alt="Eigenaar - interaction - visual - front-end - back-end">-->
	<h2>Mam: Eet je wel genoeg fruit?</h2>
	<div class="image-right-text-div">
		<div>
			<p>
				<em>Jij: Jaaaaa mam!</em>
			</p>
			<p>
				Bij De Voorhoede eten we iedere dag vers fruit en zoveel mogelijk biologische salades en
				brood (dankzij de <a href="http://www.debuurtboer.nl" target="_blank">Buurtboer</a>).
			</p>
		</div>
		<figure>
			<img src="media/buurtboer.min.jpg" alt="Vitamientjes genoeg met de lunch verzorgd door de Buurtboer.">
		</figure>
	</div>

</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
<script src="scripts/hoe-leg-ik-moeder-front-end-uit.js"></script>
{{ super() }}
{% endblock %}

<!-- /hoe-leg-ik-moeder-front-end-uit -->
