@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* hoe-leg-ik-moeder-front-end-uit component */

.blog-article .hoe-leg-ik-moeder-front-end-uit {
	.example-moeder-html {
		h1,
		h2 {
			display: block;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			font-family: 'Times Bold';
			font-weight: bold;
			line-height: 1;
			color: #000;
			text-transform: none;
		}

		h1 {
			font-size: 1.9em;
			margin: 0.67em 0;
			-webkit-margin-before: 0.67em;
			-webkit-margin-after: 0.67em;
		}
		h2 {
			padding-top: 0;
			font-size: 1.4em;
			margin: 0.83em 0;
			-webkit-margin-before: 0.83em;
			-webkit-margin-after: 0.83em;
		}
	}

	.has-badge {
		position: relative;
		margin-top: 2.5em;
	}
	.badge {
		position: absolute;
		width: 25%;
		top: -20%;
		right: -5%;
	}

	.image-right-text-div {
		@include clearfix();
		div {
			float: left;
			width: 50%;
			padding-right: 5%;
			@media only screen and (max-width: 840px) {
				width: 100%;
				padding-right: 0;
			}
		}
		figure {
			float: left;
			width: 45%;
			margin-top: 0;
			@media only screen and (max-width: 840px) {
				float: none;
				width: 100%;
				max-width: 320px;
				margin-top: 1.5em;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.example-moeder-css {
		margin-bottom: 1em;
	}

	.button-internal {
		margin-bottom: 1em;
	}
}

.blog-article .hoe-leg-ik-moeder-front-end-uit .example-moeder-css {
	h1 {
		font-family: pt-sans-bold;
		color: #00373d;
		text-transform: uppercase;
	}
	h2 {
		font-family: Questrial;
		color:#798386;
	}
}

.hoe-leg-ik-moeder-front-end-uit {

	.example-moeder-css,
	.example-moeder-html {
		padding: 1.5em;
		border: 1px solid #ccc;
	}

}