@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* section-expertise component */

.section-expertise {

	.item.odd .item-text {
		padding-left: 12em;
	}

	.item.even .item-text {
		padding-right: 12em;
	}

	.interface-expertise {
		background: url('#{$path-images}interface-expertise.min.png') no-repeat left top;
	}

	.device-expertise {
		background: url('#{$path-images}device-expertise.min.png') no-repeat right top;
	}

	.lab-expertise {
		background: url('#{$path-images}lab-expertise.min.png') no-repeat left top;
	}

	@media only screen and (max-width: 840px) {
		.item {
			.expertise {
				background: url('#{$path-images}device-expertise.min.png') no-repeat center top;
				padding: 9em 0 0 0 !important;
			}

			h3 {
				text-align: center;
			}

			p {
				text-align: left;
			}
		}
	}
}
