{% from "modules/components/section-header/_section-header.html" import sectionHeader %}

<!-- section-expertise -->
<section class="section-expertise page-section"
		data-component="section-expertise"
		id="expertise">
	{{ sectionHeader('Expertise') }}
	<div class="item odd">
		<div class="item-text expertise interface-expertise">
			<h3>Moderne web interfaces</h3>
			<p>
				De Voorhoede is gespecialiseerd in het realiseren van gebruiksvriendelijke web
				applicaties en interfaces.
				Wij leveren gestructureerde, schaalbare en onderhoudbare front-end code. Hierbij
				gebruiken wij de laatste webtechnieken en -standaarden. Onze producten hebben een
				semantische contentstructuur (o.a. HTML5), heldere en verfijnde presentatie (CSS3)
				en ondersteunen intuitief gedrag en interactie (JavaScript).
			</p>
		</div>
	</div>
	<div class="item even">
		<div class="item-text expertise device-expertise">
			<h3>Voor ieder device</h3>
			<p>
				Wij ontwikkelen voor mobiel, tablet, desktop en andere apparaten die toegang
				hebben tot het web.
				Door responsive design zorgen wij voor de optimale ervaring op ieder device. In
				ons device lab testen wij onze producten op echte apparaten zodat we zeker weten
				dat alles goed werkt bij de gebruiker.
			</p>
		</div>
	</div>
	<div class="item odd">
		<div class="item-text expertise lab-expertise">
			<h3>Lab & prototypes</h3>
			<p>
				Om de grenzen van het web te verkennen houden wij bij De Voorhoede regelmatig
				interne workshops.
				We experimenteren met nieuwe technieken zoals <a href="blog/driedimensionaal-in-de-browser/">3D in de browser</a> en aansturing
				van devices via spraak, gebaren, locatie (gps), orientatie en beweging.
			</p>
		</div>
	</div>
</section>
<!-- /section-expertise -->
