<!-- section-header -->
{% macro sectionHeader(title) %}
<header class="section-header" data-content="{{ title }}">
	<h2 class="section-title" data-content="{{ title }}">{{ title }}</h2>
</header>
{% endmacro %}

{{ sectionHeader('Example') }}

<!-- /section-header -->
