{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-april -->

{% block blog %}
<div class="yammer-best-picks-april" data-component="yammer-best-picks-april">
	<div class="blogpost-illustrated-intro">
		<p>
			At De Voorhoede we like to keep each other posted about interesting articles, nifty
			tools and other nice things we find on the web. We share this on
			<a href="https://www.yammer.com/" target="_blank">Yammer</a>. In &lsquo;Yammer: Best
			Picks...&rsquo; we share the highlights with you, this time of the month April.
		</p>
		<figure>
			<img itemprop="image" src="media/yammer-logo.min.jpg" alt=" "/>
		</figure>
	</div>
	<h2>The first 14KB</h2>
	<p>
		In this video Paul Irish talks about
		<a href="https://www.youtube.com/watch?v=R8W_6xWphtw" target="_blank">web performance and the first 14KB</a>.
	</p>
	<h2>AngularJS Batarang</h2>
	<p>
		With this 8 minute video, you can learn all about the Chrome extension
		<a href="https://www.youtube.com/watch?v=q-7mhcHXSfM" target="_blank">AngularJS Batarang</a>
		, a debugger for AngularJS.
	</p>
	<h2>Nested Views in Angular</h2>
	<p>
		An interesting post by Jan Varwig about
		<a href="http://jan.varwig.org/archive/how-to-do-nested-views-in-angularjs-hint-dont" target="_blank">nested views in Angular</a>.
		He discusses why, in Angular, views are not used to structure an application, and how
		structure is achieved instead.
	</p>
	<h2>Living with a lag</h2>
	<p>
		See what it would be like to live with a lag, in this
		<a href="https://www.youtube.com/watch?v=_fNp37zFn9Q" target="_blank">video using Oculus Rift</a>.
	</p>
	<h2>Superhero.js</h2>
	<p>
		On <a href="http://superherojs.com/" target="_blank">Superhero.js</a> you will find a nice
		collection of articles on creating, testing and maintaining JavaScript code. All nicely
		categorized and continuously updated.
	</p>
	<h2>JavaScript API</h2>
	<p>
		A nice overview of common JavaScript mistakes and how to avoid them, on these
		<a href="https://speakerdeck.com/ariya/javascript-api-and-its-design-principles" target="_blank">slides by Ariya Hidayat</a>.
	</p>
	<h2>Escape from XP</h2>
	<p>
		Microsoft has a good sense of humor:
		<a href="http://www.modern.ie/en-us/virtualization-tools#escape-from-xp" target="_blank">escape from XP</a>
		in this online game.
	</p>
	<h2>Magic of CSS</h2>
	<p>
		Are you interested in learning CSS?
		<a href="http://adamschwartz.co/magic-of-css/chapters/preface/" target="_blank">‘The Magic of CSS’</a>
		is a nice way to get started. This online textbook by Adam Schwartz has a clear way of
		explaining, and it’s full of interactive examples and links to good in-depth articles about
		each subject.
	</p>
	<h2>Tether</h2>
	<p>
		The JavaScript library <a href="http://tether.io/" target="_blank">Tether</a> is made to
		efficiently make an absolutely positioned element stay next to another element on the page.
	</p>
	<h2>SEO</h2>
	<p>
		Learn more about SEO, crawlers and JavaScript on
		<a href="https://developers.google.com/webmasters/ajax-crawling/docs/getting-started" target="_blank">Google Developers</a>.
		For a somewhat easier read, see also this article on the same subject on
		<a href="http://seogadget.com/javascript-framework-seo/ " target="_blank">SEO Gadget</a>.
	</p>
	<h2>Stand-up the &lsquo;Rong&rsquo; way</h2>
	<p>
		Get efficient with this
		<a href="http://www.youtube.com/watch?v=oLmDe8pAc6I&feature=youtu.be" target="_blank">tutorial on doing stand-up meetings</a>.
		Or not&hellip;
	</p>
</div>
{% endblock %}
<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /yammer-best-picks-april -->
