@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* $_COMPONENT_NAME_$ component */

.html5-audio-en-video-met-sprites {

	.iframe-wrapper {
		&.iframe-caniuse-video, &.iframe-caniuse-audio {
			padding: 1em 0;
		}
		&.iframe-caniuse-video {
			iframe {
				height: 380px;
			}
		}
		&.iframe-caniuse-audio {
			iframe {
				height: 325px;
			}
		}
	}
}