{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- html5-audio-en-video-met-sprites -->

{% block blog %}
<div class="html5-audio-en-video-met-sprites" data-component="html5-audio-en-video-met-sprites">
	<p>
		Voor Ziggo’s campagne ‘Thuis bij De Groot’ hebben we gebruik gemaakt van audio- en
		video-sprites. Een sprite is een enkel bestand, waarin je meerdere video-of audiobestanden
		samenvoegt. Het gebruik van sprites had voor dit project vele voordelen ten opzichte van het
		gebruik van losse audio- en video-bestanden. Het zorgde ook voor enkele uitdagingen.
	</p>
	<div class="blogpost-illustrated-intro">
		<p>
			Het resultaat mag er zijn: een website met veel video en audio, die toch soepel laadt en
			waar je vloeiend doorheen gaat. Zie ook onze
			<a href="http://voorhoede.nl/cases/thuis-bij-de-groot/">‘Uitgelicht’-pagina</a>, met meer
			algemene informatie over het project. In deze blogpost nemen we de technische details
			over het gebruik van audio- en video-sprites onder de loep.
		</p>
		<figure>
			<img src="media/thuisbijdegroot.min.jpg" alt="De campagnesite op thuisbijdegroot.nl.">
		</figure>
	</div>
	<div>
		<h2>Voordelen van sprites</h2>
		<p>
			Sprites kom je vaak tegen voor afbeeldingen. Ze worden gebruikt om het aantal HTTP-verzoeken
			dat voor een webpagina wordt gedaan te verminderen. Deze techniek kan ook worden toegepast
			op audio en video.
		</p>
		<h3>HTTP-verzoeken</h3>
		<p>
			De belangrijkste reden om sprites te gebruiken is ook hier het verminderen van het aantal
			HTTP-verzoeken. HTTP-verzoeken vertragen het inladen van de website, dus hoe minder
			verzoeken, hoe beter. Als we ieder videofragment in een apart bestand hadden gezet, dan
			hadden we voor elf video’s ook elf HTTP-verzoeken gehad. Doordat we nu één samengesteld
			videobestand hebben, wordt er hiervoor ook maar één HTTP-verzoek gedaan.
		</p>
		<p>
			Wil je meer weten over HTTP-verzoeken en web performance, bekijk dan eens deze (uitgebreide)
			<a href="http://parleys.com/play/5148922b0364bc17fc56ca0c/chapter4/about" target="_blank">presentatie</a>
			van Ilya Grigorik.
		</p>
		<h3>Buffering</h3>
		<p>
			Er zit nog een voordeel aan het gebruik van sprites. Tijdens het afspelen van het eerste
			fragment van de sprite, wordt het gehele bestand gedownload. De volgende fragmenten uit het
			bestand kun je nu direct afspelen, zonder eerst te downloaden.
		</p>
		<h3 id="activeren">Activeren</h3>
		<p>
			Op mobiele apparaten is het nodig om audio en video door een gebruikersinteractie te
			activeren, meestal door een klik op een play-icoon. De ontwikkelaars van software voor
			mobiele apparaten hebben dit principe allemaal geïmplementeerd. Dit is om te voorkomen dat
			gebruikers onverwacht over hun datalimiet gaan, door het automatisch downloaden van grote
			videobestanden. Door het al dan niet klikken op het play-icoon bepaalt de gebruiker of het
			bestand wordt gedownload.
		</p>
		<p>
			Het gebruik van sprites heeft hier een extra voordeel: de bezoeker hoeft maar één keer de
			audio of video te activeren. Na het activeren van het eerste fragment wordt het gehele
			bestand gedownload. Daarna kunnen de volgende fragmenten, net als op desktop, automatisch
			worden afgespeeld. De gebruiker hoeft zo niet voor ieder bestand apart op een play-knop te
			drukken.
		</p>
	</div>
	<div>
	<h2>Implementatie</h2>
	<p>
		In de code moet een aantal stappen doorlopen worden om de sprites te kunnen gebruiken. Voor
		audio en video zijn dit vrijwel dezelfde stappen. Er moet voor ieder fragment worden
		ingesteld welk deel van het totale bestand moet worden afgespeeld. Verder moet er code
		geschreven worden voor het afspelen zelf. De audio-sprites in dit project zijn voor
		achtergrondgeluiden, niet behorend bij de videobeelden. De video-sprites bevatten ook het
		geluid behorende bij de beelden.
	</p>
	<p>
		In dit project is gebruik gemaakt van jQuery, voornamelijk om het werken met de DOM
		makkelijker te maken en verschillen tussen browsers te ondervangen. De code-voorbeelden in
		dit hoofdstuk gaan er vanuit dat jQuery beschikbaar is.
	</p>
	<div class="language-javascript">
		<h3>Audio</h3>
		<p>
			De afbeelding hieronder laat een visuele weergave van de audio-sprite zien. De verschillende
			fragmenten zijn hier te onderscheiden door de hoogte van de blauwe lijn. Een lijn op 0.0
			geeft stilte aan:
		</p>
		<figure>
			<img src="media/ziggo-ftth-audio-sprite.min.jpg" alt="Een visuele representatie van een audio-sprite.">
		</figure>
		<h4>Howler.js</h4>
		<p>
			Voor de audio-sprites gebruiken we een plug-in,
			<a href="http://goldfirestudios.com/blog/104/howler.js-Modern-Web-Audio-Javascript-Library" target="_blank">howler.js</a>.
			Wat jQuery doet voor DOM manipulatie, doet howler.js voor audio in de browser. Tevens zorgt
			howler.js voor caching en maakt het mogelijk om meerdere geluiden tegelijk af te spelen.
			Fade in/out, mute per geluid en een globale mute zijn ook standaard functies van howler.js.
			Met 9kb (3kb gzipped) is howler.js een kleine toevoeging, maar bespaart een hoop extra werk.
		</p>
		<h4>Tijdcodes</h4>
		<p>
			Om de fragmenten goed af te spelen is het belangrijk dat we de exacte tijdcodes hebben van
			zowel het begin als het einde van het fragment. Met howler.js kunnen we de tijdcodes in een
			object literal meegeven, zoals in het voorbeeld hieronder. We geven hier ieder fragment een
			naam. Ook geven we de bestandsnaam van de sprite op. De fragmenten hebben allemaal een array
			met de begintijd en de lengte (in milliseconden). Zo begint het fragment genaamd
			<code>room5</code> op 52 seconden (gerekend vanaf het begin van de sprite). Dit fragment
			duurt 10 seconden:
		</p>
	<pre class="code-block"><code>var audioTimecodes = {
		'urls': ['inc/sprites/audio.mp3', 'inc/sprite/audio.ogg'],
		'sprite': {
		'room0'	: [0, 6360],
		'room1'	: [7000, 10800],
		'room2'	: [18000, 9100],
		'room3'	: [28000, 10000],
		'room4'	: [39000, 12300],
		'room5'	: [52000, 10000],
		'room6'	: [63000, 10000],
		'room7'	: [74000, 10000],
		'room8'	: [85000, 10000],
		'room9'	: [96000, 6850],
		'room10': [103000, 11000]
		}
		};
	</code></pre>
		<p>
			Omdat niet alle browsers dezelfde bestandsformaten ondersteunen, geven we twee varianten van
			dezelfde sprite op, een .mp3 en .ogg versie. Op de website van
			<a href="https://developer.mozilla.org/en/" target="_blank">Mozilla Developer Network</a> is
			een uitgebreide vergelijking van
			<a href="https://developer.mozilla.org/en-US/docs/HTML/Supported_media_formats#Browser_compatibility" target="_blank">formaten en browser ondersteuning</a>
			te vinden.
		</p>
		<h4>Afspelen</h4>
		<p>
			Met <code>new Howl</code> maken we een nieuwe instantie aan, met <code>audioTimecodes</code>
			als configuratie. Dit slaan we op in de variabele <code>sound</code> om later te gebruiken:
		</p>
	<pre class="code-block"><code>var audioTimecodes = {
		'urls': ['inc/sprites/audio.mp3', 'inc/sprite/audio.ogg'],
		'sprite': {
		'room0'	: [0, 6360],
		'room1'	: [7000, 10800],
		'room2'	: [18000, 9100],
		'room3'	: [28000, 10000],
		'room4'	: [39000, 12300],
		'room5'	: [52000, 10000],
		'room6'	: [63000, 10000],
		'room7'	: [74000, 10000],
		'room8'	: [85000, 10000],
		'room9'	: [96000, 6850],
		'room10': [103000, 11000]
		}
		};
	</code></pre>
		<p>
			Nu kunnen we met de <code>sound.play('room1')</code>method het fragment op 7000
			milliseconden afspelen met een lengte van 10800 milliseconden. Met
			<code>sound.play('room2')</code> spelen we het fragment op 18000 af voor 9100 milliseconden,
			etc.
		</p>
	</div>
	<div>
		<h3>Video</h3>
		<p>
			In de afbeelding hieronder zie je de video-sprite. Hierin zie je fragmenten die op
			verschillende plaatsen in de website worden getoond. Toch staan ze als één lange film samen
			in één bestand:
		</p>
		<figure>
			<img src="media/ziggo-ftth-video-sprite.min.jpg" alt="Een visuele representatie van een video-sprite.">
		</figure>
		<div>
			<h4>MediaElements.js</h4>
			<p>
				<a href="http://mediaelementjs.com/" target="_blank">MediaElements.js</a> is een plug-in die
				verschillen tussen browsers voor de video API rechttrekt. Wat deze pluging ook doet is een
				Flash fall-back verzorgen voor browsers die het HTML5 video element niet ondersteunen.
				MediaElements.js geeft de Flash fall-back dezelfde events als het HTML5 video element.
				Hierdoor kunnen we de Flash fall-back vanuit JavaScript op dezelfde manier aanspreken als
				het HTML5 video-element.
			</p>
		</div>
		<div class="language-markup">
			<h4>HTML5 video-element</h4>
			<p>
				Voor het embedden van een video gebruiken we het
				<a href="http://www.w3.org/wiki/HTML/Elements/video" target="_blank"><code>video</code>-element</a>.
				De verschillende bestandsformaten in de
				<a href="http://www.w3.org/wiki/HTML/Elements/source" target="_blank"><code>source</code>-elementen</a>
				zorgen voor een brede browser-ondersteuning:
			</p>
	<pre class="code-block"><code>&lt;video id="video-player"&gt;
		&lt;source src="inc/sprites/video.mp4" type="video/mp4"&gt;
		&lt;source src="inc/sprites/video.webm" type="video/webm"&gt;
		&lt;source src="inc/sprites/video.ogv" type="video/ogg"&gt;
		&lt;object type="application/x-shockwave-flash" data="flashmediaelement.swf"&gt;
		&lt;param name="movie" value="flashmediaelement.swf" /&gt;
		&lt;param name="flashvars" value="file=inc/sprites/video.mp4" /&gt;
		&lt;/object&gt;
		&lt;/video&gt;
	</code></pre>
			<p>
				In het voorbeeld zijn de afspeel-acties gekoppeld aan een click-actie, maar dit kan even
				goed een scroll- of swipe-actie zijn.
			</p>
			<p>
				We geven aan het <code>video</code>-element geen
				<a href="http://www.w3.org/wiki/HTML/Elements/video#HTML_Attributes"target="_blank"><code>preload</code>-attribuut</a>
				mee. De browser interpreteert de afwezigheid daarvan als
				<code>preload="auto"</code>, waardoor de video direct wordt ingeladen. We laten
				ook het <code>poster</code>- en <code>controls</code>-attribuut leeg. Als het
				<code>poster</code>-attribuut leeg is, wordt het eerste frame als poster
				gebruikt. Dat is wat we hier willen. We voegen geen controls toe, omdat we de
				besturing van de video zelf in de hand willen houden.
			</p>
		</div>
		<div class="language-javascript">
			<h4>Tijdcodes</h4>
			<p>
				Ook voor video moeten er tijdcodes ingesteld worden. We geven we de fragmenten hieronder een
				begin- en eindtijd. Net als bij de audio-sprite geven we de verschillende fragmenten een
				naam:
			</p>
	<pre class="code-block"><code>var videoTimeCodes = {
		"intro": {
		"start":"00:00:00:00",
		"end": 	"00:00:21:00"
		},
		"room0": {
		"start":"00:00:23:05",
		"end": 	"00:00:29:00"
		},
		"room1": {
		"start":"00:00:30:05",
		"end": 	"00:00:36:00"
		},
		"room2": {
		"start":"00:00:37:05",
		"end": 	"00:00:43:00"
		}
		};
	</code></pre>
			<p>
				We hebben voor video gekozen voor een tijdsnotatie in uren, minuten, etc, gescheiden door
				een dubbele punt. Dit vergroot de leesbaarheid, maar heeft als nadeel dat we deze notatie
				niet direct aan het video-element op kunnen geven. Het video-element verwacht een notatie in
				seconden en milliseconden, gescheiden door een punt (bijvoorbeeld: 00:00:23:05 wordt 23.05).
				Voor het omzetten gebruiken we de <code>timeCodeToSeconds</code>-functie:
			</p>
	<pre class="code-block"><code>function timeCodeToSeconds(timeCode) {
		var block = timeCode.split(':');
		return (+block[0]) * 60 * 60 + (+block[1]) * 60 + (+block[2]) + '.' + (block[3]);
		}
	</code></pre>
		</div>
		<div class="language-javascript">
			<h4>Afspelen: HTML5-video methods en events</h4>
			<p>
				Bij de audio sprite regelde de howler.js plug-in het starten en stoppen van de fragmenten.
				Voor video moeten we dit zelf doen. Gelukkig kunnen we gebruik maken van verschillende
				<a href="http://www.w3.org/wiki/HTML/Elements/video#IDL_Attributes_and_Methods" target="_blank">methods</a>
				en
				<a href="http://www.w3.org/wiki/HTML/Elements/video#Media_Events" target="_blank">events</a>
				voor <a href="http://www.w3.org/wiki/HTML/Elements/video" target="_blank">HTML5 video</a>.
			</p>
			<p>
				Om de begintijd van een specifiek fragment in te stellen, kunnen we aan
				<code>currentTime</code> een starttijd opgeven. Om daarna ook daadwerkelijk de video af te
				spelen roepen we de <code>play()</code>-functie op het video element aan:
			</p>
	<pre class="code-block"><code>var videoElement = $('#video-player')[0];
		var roomId = 'room0';

		$('#video-1').click(function() {
		var startTime = timeCodeToSeconds(videoTimeCodes[roomId].start);

		videoElement.currentTime = startTime;
		videoElement.play();
		});
	</code></pre>
			<p>
				Om de video op de eindtijd ook echt te laten stoppen met afspelen, maken we gebruik van de
				<code>pause()</code>-functie.
			</p>
			<p>
				Het video element heeft een event <code>timeupdate</code>. Tijdens het afspelen verplaats je
				je binnen een video van tijdscode naar tijdscode, dit wordt ‘time update’ genoemd. Het event
				<code>timeupdate</code> wordt dus voortdurend afgevuurd als een video aan het spelen is.
			</p>
	<pre class="code-block"><code>var endTime = timeCodeToSeconds(videoTimeCodes[roomId].end);

		videoElement.addEventListener('timeupdate', function() {
		var currentTime = this.currentTime;

		if (currentTime >= endTime) {
		videoElement.pause();
		}
		}, false);
	</code></pre>
			<p>
				In het voorbeeld hierboven kijken we wanneer de <code>currentTime</code> groter is dan, of
				gelijk is aan de <code>endTime</code>. De eindtijd halen we uit het
				<code>videoTimeCodes</code>-object.
			</p>
			<p>
				Het <code>timeupdate</code>-event wordt met
				<a href="http://www.ibm.com/developerworks/web/library/wa-ioshtml5/#list14" target="_blank">tussenpozen</a>
				van enige milliseconden afgevuurd. Hierdoor kan het zijn dat de exacte tijdecode van de
				<code>endTime</code> wordt overgeslagen. Daarom controleren we niet alleen of de
				<code>endTime</code> en <code>currentTime</code> gelijk zijn, maar ook of
				<code>currentTime</code> groter is dan <code>endTime</code>. Is dit het geval, dan zetten we
				de video op <code>pause()</code>.
			</p>
			<p>
				Met het bovenstaande codevoorbeeld kunnen we ieder fragment aan de hand van een
				<code>roomId</code> afspelen, en stopt het zodra de eindtijd bereikt is. Dit kunnen we
				uiteraard niet alleen op een click-actie, maar ook bijvoorbeeld op een scroll- of
				swipe-actie uitvoeren.
			</p>
		</div>
	</div>
	</div>
	<div class="language-markup">
		<h2>Compatibiliteit</h2>
		<p>
			Niet elke browser of platform ondersteunt de HTML5 audio en video op de manier zoals je
			misschien zou verwachten. De belangrijkste browsers die het niet ondersteunen zijn, voor dit
			project, Microsoft Internet Explorer 8 en lager. Voor deze browsers gebruiken we een Flash
			fall-back voor video. Ook hebben we daar geen achtergrondgeluiden, dus geen audio-sprites.
		</p>
		<p>
			Een overzicht van browser / platform ondersteuning voor HTML5 video:
		</p>
		<div class="iframe-wrapper iframe-caniuse-video">
			<iframe src="http://caniuse.com/video/embed/stats=none" frameborder="0"></iframe>
		</div>
		<p>
			Een overzicht van browser / platform ondersteuning voor HTML5 audio:
		</p>
		<div class="iframe-wrapper iframe-caniuse-audio">
			<iframe src="http://caniuse.com/audio/embed/stats=none" frameborder="0"></iframe>
		</div>
		<h3>Mobiele apparaten en autoplay</h3>
		<p>
			Zoals hierboven genoemd bij <a href="#activeren">Activeren</a>, is het bij
			mobiele apparaten niet mogelijk om automatisch video af te spelen. De gebruiker moet
			toestemming geven voor het downloaden van de data, meestal door het aanklikken van een
			play-icoon. Het <code>autoplay</code>-attribuut werkt niet voor mobiele apparaten. Er zullen
			bovendien altijd controls op de audio- of video-elementen staan.
		</p>
		<h3>iOS specifiek</h3>
		<div class="image-right">
			<p>
				Op Apple’s iOS is er een aantal zaken specifiek voor het HTML5 audio- en video-element, die
				afwijken van de specificaties.
			</p>
			<figure>
				<img src="media/blog-sprites-mobiel-activeren.min.jpg" alt="Op mobiele apparaten krijg je voor HTML5 audio en video een play-knop.">
			</figure>
		</div>
		<h4>Èèn audio of video element tegelijk</h4>
		<p>
			Op iOS is het media element (dit is zowel het audio als video element) een zogenaamde
			‘singleton’. Dit betekent dat er maar één audio of video tegelijk kan worden afgespeeld. Als
			er bijvoorbeeld geluid aan het spelen is en er wordt een video gestart, zal het geluid
			afgekapt worden. <br/>Op iOS versie 5.1.1 is het zelfs zo, dat als er meer dan 4 media elementen
			op de pagina staan, de browser crasht.
		</p>
		<h4>Mute op iOS</h4>
		<p>
			Een uitzondering waar niet omheen gewerkt kan worden is het volume regelen van audio of
			video op iOS. Op iOS heeft alleen de gebruiker hier controle over door middel van de fysieke
			knoppen op het apparaat. Dit betekent ook dat het geheel
			<a href="https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html#//apple_ref/doc/uid/TP40009523-CH5-SW11" target="_blank">uitzetten van het geluid</a>
			vanuit JavaScript niet mogelijk is.
		</p>
		<h4>Inline video’s op iPhone</h4>
		<p>
			Vanaf iOS versie 4.2 is het niet mogelijk om een video binnen de pagina af te spelen,
			video’s zullen altijd in de native player van iPhone openen. In de native player zijn de
			besturingselementen (play / pause, progressbar, etc.) altijd zichtbaar en te gebruiken. Met
			de progressbar kun je door alle fragmenten op de sprite spoelen. In dit project hebben we er
			daarom voor gekozen om losse video’s te gebruiken voor iOS 4.2 en hoger.
		</p>
		<p>
			Op versies van iOS lager dan 4.2 is het afspelen in de native player te voorkomen door het
			attribuut <code>webkit-playsinline</code> aan het video element toe te voegen.
		</p>
	</div>
	<div>
		<h2>Het resultaat</h2>
		<p>
			Het gebruik van sprites heeft voor dit project gezorgd voor betere laadtijden en een
			vloeiende rondleiding door de site, van video naar video. Er worden zo min mogelijk
			HTTP-verzoeken gedaan, video’s staan direct klaar om af te spelen en de noodzaak van
			handmatige activatie van video’s is zoveel mogelijk beperkt. Meer weten over dit project?
			Bekijk dan onze
			<a href="http://voorhoede.nl/cases/thuis-bij-de-groot/">‘Uitgelicht’-pagina</a>.
		</p>
	</div>
</div>
{% endblock %}

<!-- /html5-audio-en-video-met-sprites -->
