{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- driedimensionaal-in-de-browser -->

{% block blog %}
<div class="driedimensionaal-in-de-browser" data-component="driedimensionaal-in-de-browser">
	<p>
		De Voorhoede organiseert zo nu en dan een in-house workshop.
		Een leuke manier om op de hoogte te blijven van de laatste technologie.
		Deze keer ging de workshop over 3D-animaties in de browser.
	</p>
	<p>
		Voorhoeder Arend gaf een introductie over <a href="http://www.khronos.org/webgl" target="_blank">
		WebGL</a>, een tool waarmee je 3D graphics in de browser kunt weergeven.
		Om er snel mee aan de slag te kunnen, raadde Arend aan één van deze frameworks te gebruiken:
		<a href="http://threejs.org" target="_blank">three.js</a>, <a href="http://www.babylonjs.com/" target="_blank">Babylon.js</a>,
		<a href="https://github.com/processing-js/processing-js/#readme" target="_blank">Processing.js</a>
		of <a href="http://www.voodoojs.com/" target="_blank">Voodoo.js</a>.
	</p>
	<p>
		We deelden ons op in twee teams, team rood en team blauw. Toevallig kwamen beide
		teams op het idee om iets met het logo van De Voorhoede te gaan doen. Hieronder
		kun je de resultaten zien van de noeste arbeid van beide teams. Helaas wordt deze
		technologie nog niet door alle browsers ondersteund. Op dit moment kun je de
		animaties zien met Firefox of Chrome.
	</p>
	<p>
		Team blauw maakte het logo in 3D, met een complexe beweging van
		alle elementen waaruit het logo opgebouwd is:
	<div class="iframe-wrapper">
		<figure class="preview-3d">
			<iframe src="http://voorhoede.github.io/3d-logo/shield/">
				Viewing these results required a browser with WebGL support.
			</iframe>
			<figcaption>
				Preview van het 3D logo, gemaakt door het blauwe team.
			</figcaption>
		</figure>
	</div>
	</p>
	<p>
		Team rood maakte ‘De Semantische moraalridder’, met het Voorhoede-logo als schild:
	<div class="iframe-wrapper">
		<figure class="preview-3d">
			<iframe src="http://voorhoede.github.io/3d-logo/knight/" scrolling="no">
				Viewing these results required a browser with WebGL support.
			</iframe>
			<figcaption>
				Preview van de 3D ridder, ontwikkeld door het rode team.
			</figcaption>
		</figure>
	</div>
	</p>
	<p>
		Benieuwd hoe we dit gemaakt hebben? Lees dan het volledige artikel
		op <a href="http://voorhoede.github.io/3d-logo/" target="_blank">Github</a>.
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /driedimensionaal-in-de-browser -->
