{% extends "modules/views/_base-view/base-view.html" %}
{% from "modules/components/section-header/_section-header.html" import sectionHeader %}

{% block content %}
<section class="section-blog page-section"
         data-component="section-blog"
         id="blog"
         itemscope
         itemtype="http://schema.org/Blog">

	{{ sectionHeader('Blog') }}
	<div class="item">
		<article class="blog-article">
			<header>
				<h1>{{content.title}}</h1>
				<time itemprop="dateCreated" datetime="{{content.date}}">{{content.date|niceDate}}</time>
				<span class="author" itemprop="author">{{content.author}}</span>
			</header>

			<div class="item-text article-body" itemprop="articleBody">
				{% block blog %}
				{% endblock %}
			</div>
		</article>
	</div>

</section>
{% endblock %}
