{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- google-glass-in-the-port-of-rotterdam -->

{% block blog %}
<div class="google-glass-in-the-port-of-rotterdam" data-component="google-glass-in-the-port-of-rotterdam">
	<p>
		The last few months at De Voorhoede I have worked on a project for my thesis.
		This blog post is the first of a small series of blog posts, about the project.
		For this project, I'm doing research and making a testable prototype for a Google Glass application.
		The application has the goal to improve safety of mechanics in the port of Rotterdam.
		To start off, I will describe the general setting where my application will be used.
	</p>

	<img itemprop="image" src="media/container-terminal.min.jpg" alt="container terminal in Rotterdam"/>

	<h2>Port of Rotterdam</h2>
	<p>The port of Rotterdam is one of the largest and most advanced ports of the world. Yearly, more than 33.000 sea-ships ship more than 440 million tons of goods. A large portion consists of bulk goods like oil and ore, but there is also a considerate amount of break-bulk goods in containers.</p>

	<p>To handle such large quantities, container terminals are running 24 hours, 365 days a year. Container terminals in Rotterdam are highly optimised for cost efficiency and productivity. Thats why parts of the handling process are fully automatic.</p>

	<img itemprop="image" src="media/agv-area.min.jpg" alt="AGV area"/>

	<h2>Automated Guided Vehicles</h2>
	<p>When a sea ship enters a terminal, quay cranes load the containers off the ship onto the shore, on a Automated Guided Vehicle (AGV).  The AGV moves the container from the crane to the stack. The stack is where the containers are stored until inland transport is ready.</p>

	<p>The AGV and the area where the AGV is driving, between the quay crane and stack, is where we will put our focus on. The AGV moves the containers fully automatically. It moves along a transponder grid in the pavement of the terminal. Its movement is controlled by software called TEAMS (see below), made by <a href="http://www.tba.nl">TBA</a>.</p>

	<img itemprop="image" src="media/teams.min.jpg" alt="Overview of the TEAMS GUI"/>

	<h2>Maintenance and safety</h2>
	<p>Like all mechanical equipment, AGVs can break down. When this happens, a mechanic has to go into the AGV area to fix it. A part of the area where the AVGs move will be blocked, so the mechanic is not in danger of being hit by another AVG. Blocking an area is done by an operator in the control-room, with the use of the TEAMS software.</p>

	<p>This situation is what my thesis is about. How can a Google Glass application assist and increase the safety of a mechanic when he is working in the AGV area? I did a lot of research to answer this question. Not only desktop-research, but also field research. I went to the port of Rotterdam, to see the dispatching of containers for myself. For my user research I also interviewed mechanics. This gave me a much better insight into what the end user's goals and needs are.</p>

	<img itemprop="image" src="media/interview.min.jpg" alt="Interview with a mechanic"/>

	<p>With all the information I gathered, I'm now in the middle of designing the actual application. My plan is to finish the first version at the end of this month.</p>

	<h2>Stay tuned</h2>
	<p>In the coming weeks, I will write some more blogposts about my thesis and this project. I will discuss how I came up with this topic, and why I chose Google Glass to be the platform for my application. And, of course, I will write more about the application itself. So stay tuned!</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /google-glass-in-the-port-of-rotterdam -->
