@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* section-intro component */

.section-intro {
	@include centered-columns(10);
	@include clearfix();
	margin-top: 3em;

	.intro-title {
		@include small();
		float: left;
		width: 50%;
		margin-top: 1em;
	}

	.intro-text {
		@include small();
		@include text-container();

		float: left;
		margin-left: 3%;
		width: 47%;
	}


	@media screen and (max-width: 980px)  {
		.intro-title {
			width: 100%;
			margin-top: 2em;
		}

		.intro-text {
			width: 100%;
			margin-left: 0;
			margin-top: 2em;
		}
	}

	@media screen and (max-width: 840px) {
		& {
			width: 100%;
		}
	}

	@media screen and (max-width: 540px)  {
		.intro-title {
			font-size: 1.353em;
		}

		.intro-text {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 385px)  {
		.intro-title {
			font-size: 1.176em;
		}
	}
}
