<!-- section-intro -->
<section class="section-intro page-section"
         id="intro"
     data-component="section-intro">
	<h1 class="intro-title">
		Betrouwbare front&#8209;end code voor moderne en gebruiksvriendelijke web interfaces
	</h1>

	<p class="intro-text">
		De Voorhoede is gespecialiseerd in front&ndash;end development. We leveren nette code in HTML, CSS en JavaScript. In de regel zijn we snel inzetbaar. Heb je binnenkort echte front-enders nodig? <br/>
		Mail Femke Peterson via <a href="mailto:post@voorhoede.nl">post@voorhoede.nl</a> of kijk bij <a href="#contact">contact</a>.
	</p>
</section>
<!-- /section-intro -->
