@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* $_COMPONENT_NAME_$ component */

.our-better-way {
	blockquote{
		font-style: italic;
		font-size: .9em;
		padding: 1em;
		opacity: .9;
	}
	.notes{
		font-size: .8em;
	}
}