{% extends "modules/views/_single-portfolio-item/_single-portfolio-item.html" %}
<!-- top-100-gemeenten -->

{% block portfolio %}
<div class="top-100-gemeenten" data-component="top-100-gemeenten">
	<p>Samen met <a href="http://unitid.nl" target="_blank">UNITiD</a> maakten wij de website 100 gemeenten. De slimme diagrammen en tabellen zijn te bekijken op devices van telefoon tot desktop en in oudere browsers. Er is veelvuldig gebruikt gemaakt van SVG voor scherpe en schaalbare graphics met een goede fallback voor browsers en devices die dit niet ondersteunen.</p>
	<p>Op dit moment zijn wij druk bezig met het ontwikkelen van een 2e 2014 versie die in april live zal gaan. Hierover later meer!</p>
	<br/>
	<a href="http://100gemeenten.nl" target="_blank" class="button-external voorhoede-icon">Bekijk hier alvast de website</a>

</div>
{% endblock %}

<!-- /top-100-gemeenten -->
