{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-oktober -->

{% block blog %}
<div class="yammer-best-picks-oktober" data-component="yammer-best-picks-oktober">
	<div class="blogpost-illustrated-intro">
		<p>
			Bij De Voorhoede houden we elkaar graag op de hoogte van interessante
			artikelen, handige tooltjes en andere leuke dingen die we op het web
			tegenkomen. Deze delen we met elkaar op <a href="https://www.yammer.com/" target="_blank">Yammer</a>.
			In ‘Yammer: best picks...’ delen we de diamantjes, deze keer van de maand oktober.
		</p>
		<figure>
			<img itemprop="image" src="media/yammer-logo.min.jpg" alt=" "/>
		</figure>
	</div>
	<h2>Fronteers 2013</h2>
	<p>
		Dit jaar werd de Fronteers Conferentie gehouden op 10 en 11 oktober.
		Voor wie er niet bij kon zijn, hier de talks op <a href="http://vimeopro.com/fronteers/13/" target="_blank">
		Vimeo</a>.
	</p>
	<h2>DevDocs</h2>
	<p>
		Met <a href="http://devdocs.io/" target="_blank">DevDocs</a> kun je verschillende API documentaties
		met elkaar combineren in een snelle, georganiseerde en doorzoekbare interface.
	</p>
	<h2>HorseJS</h2>
	<p>
		Droge JavaScript-humor op <a href="https://twitter.com/horse_js/" target="_blank">Twitter</a>.
	</p>
	<h2>Testing strategies for AngularJS</h2>
	<p>
		Interessante <a href="http://www.youtube.com/watch?v=UYVcY9EJcRs" target="_blank">screencast</a>
		over waarom tests schrijven lastig is, wat erbij komt kijken,
		wat je wel en niet moet testen en hoe je dit dan uiteindelijk doet.
	</p>
</div>
{% endblock %}

<!-- /yammer-best-picks-oktober -->
