@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* portfolio-excerpt component */

.portfolio-excerpt {
	margin: 0 auto;
	position: relative;
	width: 83.3%;

	.item {
		width: 100%;
	}

	h3,
	p {
		text-align: left;
	}


}

@media only screen and (max-width: 840px) {
	.portfolio-excerpt  {
		width: 100%;
	}
}
