<!-- portfolio-excerpt -->
{% macro portfolioExcerpt(title, slug, text, image, imageAltText, case, odd_or_even = 'odd') %}
<div class="portfolio-excerpt excerpt {{case}}" data-component="portfolio-excerpt">
	<a href="/portfolio/{{ slug }}" class="item illustrated-item {{odd_or_even}}" >
		{% if case == "case" %}
			<div class="ribbon">
				<span>case</span>
			</div>
		{% endif %}
		<div class="item-image">
			<img src="/portfolio/{{ slug }}/media/{{image}}" alt="{{imageAltText}}" >
		</div>
		<div class="item-text">
			<h3>{{ title }}</h3>
			<p>{{ text }}</p>
		</div>
	</a>
</div>
{% endmacro %}
<!-- /portfolio-excerpt -->

<!-- portfolio-excerpt -->
{% macro portfolioExcerptSmall(title, slug, image, imageAltText, case) %}
<div class="portfolio-excerpt excerpt {{case}}" data-component="portfolio-excerpt">
	<a href="/portfolio/{{ slug }}" class="item illustrated-item" >
		{% if case == "case" %}
		<div class="ribbon">
			<span>case</span>
		</div>
		{% endif %}
		<div class="image-wrapper">
			<img src="/portfolio/{{ slug }}/media/{{image}}" alt="{{imageAltText}}">
		</div>
		<h3>{{ title }}</h3>
	</a>
</div>
{% endmacro %}
<!-- /portfolio-excerpt -->

<!-- Sample content for front-end guide -->
{{ portfolioExcerpt(
title = 'Portfolio Title',
'portfolio-item',
'Well, the way they make shows is, they make one show. That show\'s called a pilot.',
'',
'img alt text',
'odd',
'case') }}
<!-- /Sample content for front-end guide -->



