{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- front-end-style-guides -->

{% block blog %}
<div class="front-end-style-guides" data-component="front-end-style-guides">
	<p>
		De projecten waaraan we bij De Voorhoede werken zijn over het algemeen groot. Daarom denken
		we vanaf het begin van ieder project goed na over de organisatie en structuur van de code.
		Daarmee waarborgen we consistentie en is de code goed onderhoudbaar. Om het schrijven van
		consistente code te stimuleren, organiseren we de code in modules die we vastleggen in een
		front-end style guide. Het opstellen van een front-end style guide kost natuurlijk tijd, maar
		betaalt zich uiteindelijk dubbel en dwars terug.
	</p>
	<h2>Modulaire code</h2>
	<p>
		Object Oriented CSS (<a href="https://github.com/stubbornella/oocss/wiki" target="_blank">OOCSS</a>) en
		Scalable and Modular Architecture for CSS (<a href="http://smacss.com/" target="_blank">SMACSS</a>)
		zijn twee populaire methoden voor het schrijven van modulaire code.
		Beide technieken gaan uit van het defini&#235;ren van <i>componenten</i>
		(ook wel <i>modules</i> of <i>objecten</i> genoemd). Componenten kunnen worden
		gezien als de verschillende bouwstenen waaruit een interface bestaat.
	</p>
	<figure>
		<img src="media/interface-components.min.jpg" alt="de componenten van een interface"/>
		<figcaption>
			Componenten van een interface (bron: <a href="http://coding.smashingmagazine.com/2012/04/16/a-new-front-end-methodology-bem/" target="_blank">
			Smashing Magazine)</a>
		</figcaption>
	</figure>
	<p>
		Componenten zijn op zichzelf staand<sup><a href="#footnote-1">1</a></sup>:
		je kan een component als het ware oppakken en op een andere pagina neerzetten,
		zonder dat je daarmee de layout breekt.
		Doordat een component onafhankelijk is van de omgeving waarin het voorkomt,
		hoeft het maar één keer gedefinieerd te worden. Dit zorgt voor minder
		herhaling van code en daarmee uiteindelijk voor schonere stylesheets.
	</p>
	<h2>Front-end style guides</h2>
	<p>
		<a href="http://24ways.org/2011/front-end-style-guides/" target="_blank">Front-end style guides</a>
		zijn een perfect hulpmiddel om de componenten van een interface op
		een centrale plek vast te leggen. Een front-end style guide is een HTML-pagina,
		waarin de belangrijkste componenten worden gedefinieerd, en waarin wordt vastgelegd
		hoe en waar deze worden gebruikt.
	</p>
	<p>
		Er zijn verschillende vormen van style guides, de meeste bekende is waarschijnlijk
		de <a href="http://www.brandingidentitydesign.com/19-minimalist-style-guides/#.UnuZvpSieL0" target="_blank">
			branding en identity style guide</a>. Het belangrijkste verschil tussen deze style guides
		en een front-end style guide is dat een front-end style guide specifiek gemaakt is voor het web,
		opgebouwd uit code die werkt in de browser<sup><a href="#footnote-2">2</a></sup>.
		Dit heeft twee belangrijke voordelen:
	</p>
	<ol class="frontend-style-guide-benefits">
		<li>
			Een front-end style guide is een dynamisch document: het opzetten ervan begint bij de
			start van het project, maar wanneer er in de loop van het project veranderingen of
			aanvullingen zijn op het design, kan de style guide gemakkelijk aangepast worden.
		</li>
		<li>
			De markup en styling van componenten die in de style guide zijn vastgelegd, kunnen
			in de applicatie eenvoudig gereproduceerd worden, simpelweg door de bijbehorende
			code te kopiëren en plakken.
		</li>
	</ol>
	<h2>Hoe zet je een front-end style guide op?</h2>
	<p>
		Het opzetten van een front-end style guide kan je op verschillende manieren doen, afhankelijk
		van onder andere de grootte van het project. We beginnen bij De Voorhoede vaak met het
		uitprinten van het design.
	</p>
	<figure>
		<img src="media/printout-voorhoede-site.min.jpg" alt="print van het design van De Voorhoede site"/>
		<figcaption>
			Het uitprinten van het design kan helpen bij het benoemen van componenten.
		</figcaption>
	</figure>
	<p>
		Op deze manier kan je elk component gemakkelijk op papier benoemen.
		Bij elke component kan je ook noteren wat de functie ervan is en waar en wanneer het
		component voorkomt.
	</p>
	<div class="about-file-structure">
		<div class="file-structure-info">
			<p>
				Deze componenten leggen we vervolgens vast in een HTML-pagina. Elk component
				wordt gedefinieerd in een aparte sectie.
			</p>
			<p>
				De Voorhoede maakt bij veel projecten gebruik van een preprocessor,
				zoals <a href="http://sass-lang.com/" target="_blank">SASS</a>. In dit geval leggen
				we de styling van componenten vast in <i>partials</i> : aparte bestanden met stukken
				css die in andere bestanden geïmporteerd kunnen worden. Door elk component in een
				apart bestand te definiëren, houden we de code modulair.
			</p>
		</div>
		<figure>
			<img src="media/file-structure.min.png" alt="file structure van De Voorhoede site"/>
		</figure>
	</div>
	<p>
		We leggen onder andere het gebruik van kleuren, tekstelementen en iconen vast.
	</p>
	<h3>Kleuren</h3>
	<p>
		Vaak definiëren we in de style guide een kleurenpalet. Hierbij geven we een
		illustratie van elke kleur die in de interface wordt gebruikt, samen
		met de bijbehorende kleurcodes. Wanneer we een preprocessor gebruiken, definiëren we ook de
		variabelen.
	</p>
	<p>
		De Voorhoede werkte mee aan de vernieuwde <a href="http://www.rtl.nl" target="_blank">
		zender- en programmawebsites</a> van RTL Digital Media en schreef daarvoor een front-end style guide.
		Het kleurenpalet dat we hiervoor definieerden ziet er als volgt uit:
	</p>
	<ul class="color-palette">
		<li title="rtl4-orange">
			<span class="swatch"></span>
			<span class="color style-guide-info">#FF9A00</span>
			<span class="variable style-guide-info">$rtl4</span>
		</li>
		<li title="rtl5-red">
			<span class="swatch"></span>
			<span class="color style-guide-info">#FF1304</span>
			<span class="variable style-guide-info">$rtl5</span>
		</li>
		<li title="rtl7-yellow">
			<span class="swatch"></span>
			<span class="color style-guide-info">#FFC500</span>
			<span class="variable style-guide-info">$rtl7</span>
		</li>
		<li title="rtl8-pink">
			<span class="swatch"></span>
			<span class="color style-guide-info">#FF06AE</span>
			<span class="variable style-guide-info">$rtl8</span>
		</li>
		<li title="main-text">
			<span class="swatch"></span>
			<span class="color style-guide-info">#222222</span>
			<span class="variable style-guide-info">$main-text</span>
		</li>
		<li title="light-text">
			<span class="swatch"></span>
			<span class="color style-guide-info">#666666</span>
			<span class="variable style-guide-info">$light-text</span>
		</li>
	</ul>
	<h3>Tekstelementen</h3>
	<p>
		In onze style guides laten we ook zien welke typografie wordt gebruikt voor de
		diverse tekstelementen, zoals header styles, paragraphs, blockquotes etc.
		We leggen zowel block-level links als inline-level links vast. Het voordeel
		van een front-end style guide ten opzichte van andere types style guides is dat
		ook dynamische elementen, zoals de focus, hover en active state, kunnen worden vastgelegd.
	</p>
	<p>
		In de front-end style guide die we maakten voor RTL Digital Media legden we, naast andere
		tekstelementen, ook de links (inclusief hun focus en hover states) vast:
	</p>
	<ul class="section-content-link-list">
		<li>
			<a href="#" class="block-link">
				<span class="rtl4-link-text secondary-link-text link-text">Bekijk de video</span>
				<span class="secondary-link-icon link-icon icon icon-screen"></span>
			</a>
		</li>
		<li>
			<a href="#" class="block-link">
				<span class="rtl5-link-text secondary-link-text link-text">Bekijk de video</span>
				<span class="secondary-link-icon link-icon icon icon-screen"></span>
			</a>
		</li>
		<li>
			<a href="#" class="block-link">
				<span class="rtl7-link-text secondary-link-text link-text">Bekijk de video</span>
				<span class="secondary-link-icon link-icon icon icon-screen"></span>
			</a>
		</li>
		<li>
			<a href="#" class="block-link">
				<span class="rtl8-link-text secondary-link-text link-text">Bekijk de video</span>
				<span class="secondary-link-icon link-icon icon icon-screen"></span>
			</a>
		</li>
	</ul>
	<h3>Icons</h3>
	<p>
		In een front-end style guide kan overzichtelijk vastgelegd worden welke icons
		in de interface voorkomen en waar elke icon voor staat. De Voorhoede maakt
		graag gebruik van <a href="http://css-tricks.com/examples/IconFont/" target="_blank">icon fonts</a>.
		In dit geval leggen we ook de bijbehorende glyph van de icon vast.
	</p>
	<p>
		Voor de zender- en programmawebsites van RTL Digital Media maakten we gebruik van
		<a href="http://entypo.com">Entypo</a>. De icons en de bijbehorende glyph definieerden we
		als volgt in de front-end style guide:
	</p>
	<ul class="icon-section">
		<li>
			<span class="icon-info">link</span>
			<span class="icon icon-link"></span>
			<span class="glyph">*</span>
		</li>
		<li>
			<span class="icon-info">external link</span>
			<span class="icon icon-external-link"></span>
			<span class="glyph">/</span>
		</li>
		<li>
			<span class="icon-info">watch video</span>
			<span class="icon icon-screen"></span>
			<span class="glyph">.</span>
		</li>
		<li>
			<span class="icon-info">close</span>
			<span class="icon icon-close"></span>
			<span class="glyph">[</span>
		</li>
		<li>
			<span class="icon-info">warning</span>
			<span class="icon icon-warning"></span>
			<span class="glyph">c</span>
		</li>
		<li>
			<span class="icon-info">play</span>
			<span class="icon icon-play"></span>
			<span class="glyph">{</span>
		</li>
	</ul>
	<h2>Eerder devices testen</h2>
	<p>
		Zoals gezegd wordt een front-end style guide in code opgezet. Hierdoor kan
		al in de beginfase van een project in verschillende browsers en op verschillende
		devices getest worden<sup><a href="#footnote-2">2</a></sup>. Is een tekst nog steeds leesbaar op kleine schermen? Is
		er voldoende contrast op schermen met een lage resolutie? Ook kan er worden getest voor
		uitzonderlijke gevallen: wat gebeurt er wanneer een titel erg lang is, of als tekst
		over meerdere regels loopt? Deze vragen kunnen met behulp van de style guide
		in een vroeg stadium beantwoord worden.
	</p>
	<h2>Een front-end style guide loont</h2>
	<p>
		Het maken van een front-end style guide laat je nadenken over de structuur van de code die je
		schrijft. Dit resulteert in modulaire en consistente code. Bovendien kan al in een vroeg
		stadium op verschillende devices en in diverse browsers getest worden.
		Het opstellen van een style guide kost tijd, maar deze investering betaalt zich uiteindelijk
		ruimschoots terug door meer betekenisvolle code, die makkelijk te onderhouden is.
	</p>
	<footer>
		<ol class="footnotes">
			<li id="footnote-1">Snook, J. Scalable and Modular Architecture for CSS. Ottawa: Snook.ca Web Development, Inc., 2012</li>
			<li id="footnote-2">Debenham, A. A Pocket Guide to Front-end Style Guides. Penarth: Five Simple Steps, 2013</li>
		</ol>
	</footer>
</div>
{% endblock %}

<!-- /front-end-style-guides -->
