@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* $_COMPONENT_NAME_$ component */

//paths
$blog-path-to-media: "../../blog/front-end-style-guides/media/";

//fonts

@font-face {
	font-family: "blog-style-guides-icon-font";
	src: url("#{$blog-path-to-media}blog-style-guides-icons.otf");
	src: url('#{$blog-path-to-media}blog-style-guides-icons.eot'); /* IE9 Compat Modes */
	src: url('#{$blog-path-to-media}blog-style-guides-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$blog-path-to-media}blog-style-guides-icons.woff') format('woff'), /* Modern Browsers */
	url('#{$blog-path-to-media}blog-style-guides-icons.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('#{$blog-path-to-media}blog-style-guides-icons.svg#4260795ad0f81b1474d734fd38f51ff6') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family:"rtl_light";
	src: url("#{$blog-path-to-media}titillium-light.eot"),
	url("#{$blog-path-to-media}titillium-light.eot#iefix"),
	url("#{$blog-path-to-media}titillium-light.woff"),
	url("#{$blog-path-to-media}titillium-light.ttf");
}

.front-end-style-guides {
	// RTL colors, included for blog on front-end style guides

	$rtl4: 				#FF9A00;
	$rtl5: 				#FF1304;
	$rtl7: 				#FFC500;
	$rtl8: 				#FF06AE;
	$rtl4-hover: 		#FFB34D;
	$rtl5-hover: 		#FF4D4D;
	$rtl7-hover: 		#FFE056;
	$rtl8-hover: 		#F880D9;
	$main-text:			#222222;
	$main-text-hover:	#5D5D5D;
	$light-text:		#666666;
	$light-text-hover:	#939393;
	$twitter-text:		#00228C;
	$block-link-color:	#FFFFFF;
	$header-link-color:	#AAAAAA;

	// RTL background colors

	$components-background:		#FFFFFF;
	$top-header-background:		#222222;
	$link-icon-background:		#000000;
	$tertiary-link-background:	#EDEDED;



	// block links

	.block-link {
		text-decoration: none;
	}

	.link-text {
		font-family: rtl_light;
		float: left;
	}

	.link-icon {
		background-color: $link-icon-background;
		color: #FFF;
		float: left;
	}

	.secondary-link-text {
		font-size:1rem;
		padding:1px 12px 2px;
	}

	.secondary-link-icon {
		font-size:1.71rem;
		padding:6px 0;
		width:24px;
	}

	// channel links (RTL colors)

	.rtl4-link-text {
		color:$block-link-color;
		background-color:$rtl4;

		&:hover, &:focus {
			background-color:$rtl4-hover;
		}
	}

	.rtl5-link-text {
		color:$block-link-color;
		background-color:$rtl5;

		&:hover, &:focus {
			background-color:$rtl5-hover;
		}
	}

	.rtl7-link-text {
		color:black;
		background-color:$rtl7;

		&:hover, &:focus {
			background-color:$rtl7-hover;
		}
	}

	.rtl8-link-text {
		color:$block-link-color;
		background-color:$rtl8;

		&:hover, &:focus {
			background-color:$rtl8-hover;
		}
	}

	.style-guide-info {
		font-size: 0.9em;
	}

	// color palette

	.color-palette {
		float: none;
		margin: 0 auto 2em auto;
		width: 81.82773%;
		border: 1px solid #ccc;
		list-style: none;
		margin-top: 20px;
		overflow: hidden;
		padding: 20px 20px 0 20px;

		li {
			float: left;
			margin: 0 9px 14px 9px;

			&:last-child {
				margin-right: 0;
			}
			@media only screen and (max-width: 1080px) {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				margin: 0 0 10px 0;
				width: 50%;
			}
		}
		@media only screen and (max-width: 1080px) {
			width: 80%;
			margin-top: 20px;
			padding-bottom: 20px;
		}
	}

	.swatch {
		display: block;
		width: 48px;
		height: 50px;
		border-width: 10px;
		border-style: solid;
		border-color: #e3e3e3;
		@media only screen and (max-width: 1080px) {
			margin: 0 auto;
		}
	}

	[title="rtl4-orange"] .swatch {
		background-color: $rtl4;

		&:hover,
		&:focus {
			background-color: $rtl4-hover;
		}
	}

	[title="rtl5-red"] .swatch {
		background-color: $rtl5;

		&:hover,
		&:focus {
			background-color: $rtl5-hover;
		}
	}

	[title="rtl7-yellow"] .swatch {
		background-color: $rtl7;

		&:hover,
		&:focus {
			background-color: $rtl7-hover;
		}
	}

	[title="rtl8-pink"] .swatch {
		background-color: $rtl8;

		&:hover,
		&:focus {
			background-color: $rtl8-hover;
		}
	}

	[title="main-text"] .swatch {
		background-color: $main-text;

		&:hover,
		&:focus {
			background-color: $main-text-hover;
		}
	}

	[title="light-text"] .swatch {
		background-color: $light-text;

		&:hover,
		&:focus {
			background-color: $light-text-hover;
		}
	}

	.color {
		padding-top: 10px;
	}

	.color, .variable {
		display: block;
		text-align: center;
	}

	// icons

	.icon-section {
		float: none;
		margin: 0 auto 2em auto;
		width: 81.82773%;
		border: 1px solid #ccc;
		list-style: none;
		margin-top: 20px;
		overflow: hidden;
		padding: 20px;

		li {
			border: 1px solid #ccc;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			float:left;
			margin: 0 1.6% 10px 1.6%;
			padding: 5px;
			width: 30%;
			font-size: 0.88em;
			&:last-child {
				margin-right: 0;
			}
			@media only screen and (max-width: 650px) {
				min-height: 125px;
			}
		}

		.icon {
			display:block;
			padding-top:4px;
		}

		.icon-info {
			display:block;
			text-align: center;
		}
	}

	.icon {
		font-family: "blog-style-guides-icon-font";
		font-size: 2.4em;
		line-height: 0.5;
		text-align: center;

		&:before {
			font-size: 1.3em;
		}
	}

	.icon-link:before {
		content: "*";
	}
	.icon-external-link:before {
		content: "/";
	}
	.icon-screen:before {
		content: ".";
	}
	.icon-close:before {
		color:#999999;
		content: "[";
	}
	.icon-warning:before {
		content: "c";
	}
	.icon-pencil:before {
		content: "&";
	}
	.icon-play:before {
		content: "{";
	}

	.icon-name, .glyph {
		display: block;
		margin-top: 10px;
		text-align: center;
	}

	.glyph {
		color: $light-text;
		font-size: 1.2em;
	}

	// buttons and links

	.section-content-link-list {
		border: 1px solid #ccc;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		list-style: none;
		margin: 20px auto;
		overflow: hidden;
		padding: 20px;
		width: 190px;

		li {
			margin-bottom: 20px;
			overflow: hidden;
			width: 147px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				margin: 0 auto;
			}
		}

		.secondary-link-icon {
			font-size: 1em;

			&:before {
				font-size: 2em;
			}
		}
	}

	.cinder-item-with-view-more-link {
		border: 1px solid #555555;
		height: 80px;
		width: 80px;
		position: relative;

		&:after {
			content:"*";
			width: 0;
			height: 0;
			border-left: 16px solid transparent;
			border-top: 16px solid transparent;;
			border-right: 16px solid $rtl4;
			border-bottom: 16px solid $rtl4;
			color:#FFF;
			font-family:icon-font;
			font-size: 2.4em;
			line-height:0.3;
			position:absolute;
			bottom:0;
			right:0;
		}
	}


	h5 {
		clear: left;
		margin-top: 1em;
	}

	figure {
		text-align: center;
	}

	figcaption {
		line-height: 0.8;
	}

	.frontend-style-guide-benefits {
		font-size: 1em;
		margin-bottom: 0;
		padding-left: 0;
	}

	.about-file-structure {
		@include clearfix;
		padding: 0 0 1em 0;

		figure, .file-structure-info {
			float: left;
		}

		figure {
			margin: 0.5em 0;
			width: 50%;
		}

		.file-structure-info {
			width: 50%;
		}
	}

	.footnotes {
		font-size: 13px;
		margin-top: 2.5em;
		padding-left: 1.25em;
	}

	.about-file-structure {
		@include clearfix;
		padding: 0 0 1em 0;


		figure {
			margin: 0.5em 0;
			width: 50%;
		}

		.file-structure-info {
			width: 50%;
		}

		figure, .file-structure-info {
			float: left;
			@media only screen and (max-width: 975px) {
				float: none;
				width: 100%;
			}
		}
	}
}