{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- cursus-javascript -->

{% block blog %}
<div class="cursus-javascript" data-component="cursus-javascript">
	<p>
		In samenwerking met de
		<a href="http://www.hva.nl/opleiding/voltijd/communication-and-multimedia-design/" target="_blank">Hogeschool van Amsterdam</a>
		organiseert De Voorhoede een cursus in JavaScript fundamentals. We hebben nog een (beperkt)
		aantal plaatsen vrij voor enthousiaste beginnende JavaScripters.
	</p>
	<h2>JavaScript fundamentals</h2>
	<p>
		Ben je op zoek naar een stap verder in je ontwikkeling? En wil je graag (beter) leren werken
		met JavaScript? De cursus &lsquo;JavaScript fundamentals&rsquo; bij De Voorhoede is dan
		misschien iets voor jou. Het is een beginnerscursus, maar het is wel nuttig als je enige
		voorkennis hebt. Kijk voor een introductie in JavaScript bijvoorbeeld op
		<a href="http://www.codecademy.com/tracks/javascript" target="_blank">Codecademy</a>,
		<a href="http://channel9.msdn.com/Series/Javascript-Fundamentals-Development-for-Absolute-Beginners" target="_blank">Channel 9</a>
		of <a href="http://msdn.microsoft.com/en-us/library/6974wx4d(v=vs.94).aspx" target="_blank">Microsoft Developer Network</a>.
		Verder is het nodig dat je een basiskennis hebt van HTML en CSS.
	</p>
	<p>
		De docent, <a href="https://twitter.com/joost_faber" target="_blank"> Joost Faber</a>,
		hebben we gevonden in samenwerking met de HvA. Aan de HvA verzorgt Joost lessen in front-end
		development, met een focus op responsive design en JavaScript. Tijdens de cursus zullen we
		veel JavaScript schrijven met verschillende functies, patterns en best practices. Na afloop
		van de cursus kun je vragen beantwoorden als:  &lsquo;Hoe werkt de browser?&rsquo;,
		&lsquo;Hoe werkt de DOM?&rsquo;, &lsquo;Hoe werken HTML, CSS en JS samen?&rsquo; en
		&lsquo;Hoe kies ik een framework?&rsquo;.
	</p>
	<h2>Maak kennis met De Voorhoede</h2>
	<p>
		De cursus is klassikaal, en vindt plaats bij De Voorhoede in Amsterdam.
		Behalve dat je kunt werken aan je JavaScript-skills, biedt de cursus ook een mooie
		gelegenheid om kennis te maken met De Voorhoede. Misschien wordt dit wel het begin van een
		langere werkrelatie. We maken graag kennis met (beginnende) programmeurs, afstudeerders of
		enthousiastelingen die in de avonduren aan websites knutselen.
	</p>
	<h2>Ben jij de ideale kandidaat?</h2>
	<p>
		Onze ideale kandidaten zijn mensen die hun niveau willen verhogen en zich verder willen
		ontwikkelen. We denken aan jonge front-enders die hun skills willen uitbreiden. Of aan
		studenten die een duidelijke affiniteit met development hebben. Ook denken we aan mensen die
		aan het werk zijn in een ander (aangrenzend?) werkvlak, maar zich willen gaan richten op
		development.
	</p>
	<h2>Alles op een rijtje</h2>
	<ul class="blog-list">
		<li>
			Kick-off op vrijdag 7 februari, van 16:00 tot 18:00. Hierin richten we alle computers in
			en maken we kennis, onder het genot van een biertje;
		</li>
		<li>
			8 cursus-bijeenkomsten. Vanaf 13 februari iedere 2 weken op donderdagmiddag, van 15:00
			tot 18:00;
		</li>
		<li>Als afsluiter organiseren we een hackathon;</li>
		<li>Er worden opdrachten gegeven om thuis verder  aan te werken;</li>
		<li>Nog een beperkt aantal plaatsen beschikbaar, totaal zijn er +/- 15 cursisten;</li>
		<li>De cursus vindt plaats bij De Voorhoede, Rijnsburgstraat 9 - 11, Amsterdam;</li>
		<li>Basiskennis van HTML/CSS is nodig om de lessen te kunnen volgen;</li>
		<li>Neem je eigen computer mee;</li>
		<li>De Voorhoede biedt de cursus kostenloos aan. Wel verwachten we serieuze deelname.</li>
	</ul>
	<p>
		Iets voor jou? Stuur dan voor 31 januari  je motivatie en CV naar:
		<a href="mailto:post@voorhoede.nl">post@voorhoede.nl</a>
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /cursus-javascript -->
