{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- yammer-best-picks-november -->

{% block blog %}
<div class="yammer-best-picks-november" data-component="yammer-best-picks-november">
    <div class="blogpost-illustrated-intro">
        <p>
            Bij De Voorhoede houden we elkaar graag op de hoogte van interessante
            artikelen, handige tooltjes en andere leuke dingen die we op het web
            tegenkomen. Deze delen we met elkaar op <a href="https://www.yammer.com/" target="_blank">Yammer</a>.
            In ‘Yammer: best picks...’ delen we de diamantjes, deze keer van de maand november.
        </p>
        <figure>
            <img itemprop="image" src="media/yammer-logo.min.jpg" alt=" "/>
        </figure>
    </div>
    <h2>Workflow in Chrome DevTools</h2>
    <p>
        Interessante <a href="http://youtu.be/O3W1yuq-ZlE" target="_blank">presentatie</a>
        van Paul Irish over nieuwe mogelijkheden in Chrome DevTools.
        Het is nu mogelijk om je hele projectmap met code en assets in Dev Tools toe te voegen,
        en deze vanuit daar aan te passen. Ook zijn er nieuwe mogelijkheden voor remote debuggen.
    </p>
    <h2>Wilson Page: An Introduction To DOM Events</h2>
    <p>
        Goed geïllustreerd
        <a href="http://coding.smashingmagazine.com/2013/11/12/an-introduction-to-dom-events/" target="_blank">artikel</a>
        over DOM events, met code snippets en demo's.
    </p>
    <h2>Vanamco Device Lab Stand</h2>
    <p>
        Om te kunnen testen of een website op alle devices goed werkt, heb je een ‘device lab’
        nodig. Deze <a href="http://devicelab.vanamco.com/" target="_blank">houder</a> is speciaal
        ontworpen om een device lab mee te organiseren.
    </p>
    <h2>Addy Osmani: Mobile Workflow</h2>
    <p>
        Het testen en debuggen van websites voor mobiele devices kan veel tijd kosten. Een aantal
        tools die het debuggen van websites voor mobiele apparaten gemakkelijker kunnen
        maken, vind je op deze
        <a href="https://speakerdeck.com/addyosmani/mobile-workflow?slide=16" target="_blank">slideshow</a>.
    </p>
</div>
{% endblock %}

<!-- /yammer-best-picks-november -->
