{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- second-google-glass-meetup-amsterdam -->

{% block blog %}
<div class="second-google-glass-meetup-amsterdam" data-component="second-google-glass-meetup-amsterdam">
	<div class="blogpost-illustrated-intro">
		<p>
			De Voorhoede was aanwezig bij de 2de editie van de
			<a href="http://www.meetup.com/Google-Glass-Explorers-Amsterdam/events/162682692/">Dutch Google Glass meetup</a>.
			Deze werd gehouden op vrijdag 28 maart in Pand Noord te Amsterdam.
			Er waren 2 presentaties, gevolgd door een aantal korte “show and tell”-presentaties van Google Glass applicaties.
		</p>
		<figure>
			<img itemprop="image" src="media/meetup-2nd-glass-explores-small.min.jpg" alt="Tweede Google Glass meetup in Amsterdam"/>
		</figure>
	</div>
	<h2>Presentatie: SXSW</h2>
	<p>
		De Meetup begon met een presentatie van
		<a href="http://www.the-saints.nl/">Infostrada</a>
		over het
		<a href="http://sxsw.com/">SXSW festival</a>
		in Austin Texas.
		De spreker vertelde over een aantal gadgets die hij daar had gezien, zoals de
		<a href="http://www.kiwiwearables.com/">Kiwi Move</a>
		en de Skully Helmet.
		De laatste is een moterhelm met een camera en een ‘heads up’ display, waarmee je altijd kan zien wat achter je gebeurt.
		Misschien wel een concurrent van Google Glass?
	<div class="youtube-video-wrapper">
		<iframe class="youtube-video" src="//www.youtube.com/embed/b7AYfq9uIY8?rel=0&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
	</p>
	<h2>Presentatie: Betalen met Glass</h2>
	<p>
		Bij de tweede presentatie kwam Raimo van de Klein aan het woord.
		Hij liet een applicatie zien die hij had gemaakt.
		Hiermee kun je met Glass betalen in een restaurant,
		door een QR code te scannen en daarna te knikken.
		Daarnaast vertelde hij ook over zijn algemene bevindingen met Google Glass.
		Hij legde uit dat het belangrijkste bij het maken van Glassware is,
		dat je weet wat de context van de gebruiker is.
		Daarbij haalde hij
		<a href="http://microinteractions.com/about-the-book/">de Microinteractions van Dan Saffer</a>
		aan.
		Hij zag verder voornamelijk een markt voor Glass bij Business to Business toepassingen,
		en dan voornamelijk beroepen waarbij je beide handen gebruikt.
	</p>
	<h2>Show and tell</h2>
	<p>
		De ‘show and tell’-presentaties duurden zo’n 5 minuten.
		Developers lieten prototypes zien van Glassware die ze hadden gemaakt.
	</p>
	<h3>Couchmovies</h3>
	<p>
		Zo was er
		<a href="http://info.nl/">Info.nl</a>
		die een proof of concept hadden gemaakt voor
		<a href="http://bol.com">bol.com</a>
		genaamd
		<a href="https://labs.info.nl/bol-glass-demo/home.php">Couchmovies</a>.
		Met de applicatie is het mogelijk om nieuwe films te vinden op bol.com die aansluiten op de films die je thuis op tv kijkt.
	</p>

	<h3>Wondverzorging</h3>
	<p>
		Hierna kwam
		<a href="http://www.wearesomehow.com/">Somehow</a>.
		Zij die vertelden over een pilot die ze hadden gedaan met
		<a href="http://vimeo.com/85230365">een Glass-applicatie voor wondzorg</a>
		(let op: Er komt een wond in beeld).
		De applicatie zorgt ervoor dat een expert op afstand een patiënt met een wond kan behandelen.
	</p>

	<h3>Layar</h3>
	<p>
		<a href="https://www.layar.com/">Layar</a> liet een aantal experimenten zien met Layer-applicaties voor Google Glass.
		Zo hadden ze een 3D-panorama gemaakt die je kunt bekijken door Glass.
		Ook hadden ze een Glass-applicatie gemaakt van de welbekende Layar Funda applicatie voor mobiel of tablet.
		Hiermee kun je de omgeving bekijken en zien welke huizen te koop zijn,
		om daarna een routebeschrijving naar een specifiek huis op te vragen.
		Er waren tijdens het ontwikkelproces een aantal dingen waar de makers tegen op liepen.
		Zo was de Glass snel oververhit en was de batterijduur maar erg kort bij gebruik van de applicaties.
	</p>

	<h3>Sportuitslagen</h3>
	<p>
		<a href="https://statsforglass.com/">Stats for Glass</a>
		is een applicatie van Infostrada,
		die op dit moment in beta-versie is.
		Met de applicatie is het mogelijk om updates te krijgen van je favoriete sport/club.
		Zo krijg je bijvoorbeeld een bericht in beeld wanneer Ajax heeft gescoord,
		en kun je dan gelijk de beelden van het doelpunt opvragen.

	</p>

	<h3>Smart Home</h3>
	<p>
		Als laatste was er een presentatie van David Oldenburger van
		<a href="http://unitid.nl/">UNITiD</a>.
		Hij vertelde over een onderzoek dat ze hebben uitgevoerd naar de relevantie van Google Glass in een Smart Home.
		Een Smart Home is ‘het huis van de toekomst’,
		waarbij alle apparaten sensoren hebben en op elkaar afgestemd zijn.
		Uit het onderzoek kwam naar voren dat Google Glass hier best een rol kan spelen,
		maar dat bijna alle bedachte functionaliteiten net zo goed en vaak nog beter op andere apparaten,
		zoals mobiel of tablet, kunnen worden uitgevoerd.
		Zijn conclusie was dan ook dat er niet geforceerd applicaties voor Google Glass moeten worden gemaakt,
		maar er eerst goed moet worden gekeken naar de toegevoegde waarde van Glass.
		Dan kom je snel,
		zoals Raimo eerder ook al zei,
		bij een Business to Business-toepassing gericht op een beroep waarbij je beide handen niet vrij hebt.

	</p>

	<h2>De moeite waard</h2>
	<p>
		Al met al een interessante middag waarbij er veel ideeën werden uitgewisseld.
		Leuk om te zien wat andere bedrijven in Nederland met Google Glass doen,
		en zeker de moeite waard om er de volgende keer weer bij te zijn.
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /js folder of this item -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /second-google-glass-meetup-amsterdam -->
