<!-- site-background -->
<div class="site-background" data-component="site-background">

	<div class="page-background">
		<div class="background-pattern"></div>
			<div class="bg-planes">
				<!-- left planes -->
				<div class="bg-plane bg-left-plane bg-left-plane-1"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-2"></div>
				<div class="bg-plane bg-left-plane bg-plane-medium bg-left-plane-3"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-4"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-5"></div>
				<div class="bg-plane bg-left-plane bg-plane-medium bg-left-plane-6"></div>
				<div class="bg-plane bg-left-plane bg-plane-medium bg-left-plane-7"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-8"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-9"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-10"></div>
				<div class="bg-plane bg-left-plane bg-left-plane-11"></div>
				<!-- end of left planes -->

				<!-- large planes -->
				<div class="bg-plane bg-plane-large bg-middle-plane-1"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-2"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-3"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-4"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-5"></div>
				<div class="bg-plane bg-plane-large bg-middle-plane-6"></div>
				<!-- end of large planes -->

				<!-- right planes -->
				<div class="bg-plane bg-right-plane bg-right-plane-1"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-2"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-3"></div>
				<div class="bg-plane bg-right-plane bg-plane-medium bg-right-plane-4"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-5"></div>
				<div class="bg-plane bg-right-plane bg-plane-medium bg-right-plane-6"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-7"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-8"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-9"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-10"></div>
				<div class="bg-plane bg-right-plane bg-plane-medium bg-right-plane-11"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-12"></div>
				<div class="bg-plane bg-right-plane bg-right-plane-13"></div>
				<div class="bg-plane bg-right-planebg-plane-medium bg-right-plane-14"></div>
			</div>
	</div>
</div>
<!-- /site-background -->
