@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* PORTFOLIO VIEW */

.portfolio-items {
	@include clearfix();
	margin: 0 auto;
	width: 90%;

	@media only screen and (max-width: 1082px) {
		width: 400px;
	}

	@media only screen and (max-width: 488px) {
		width: 100%;
	}

	.portfolio-excerpt {
		float: left;
		margin: 0 16px;
		width: 400px;

		@media only screen and (max-width: 1082px) {
			float: none;
			margin: 0;
			width: 100%;
		}

		@media only screen and (max-width: 488px) {
			margin: 0 auto;
			width: 90%;
		}



		h3 {
			font-size: 1.625em;
			line-height: 1;
		}

		.image-wrapper {
			text-align: center;
			margin-bottom: 15px;
			min-height: 100px;
		}
		@media only screen and (min-width: 488px) {
			.item {
				min-height: 386px;
			}
			.image-wrapper {
				min-height: 247px;
			}
		}
	}
}

.portfolio-article {
	h1 {
		font-size: 1.6em;
		line-height: 1;
		margin-top: 10px;
		margin-bottom: .37em;
	}
}
