{% extends "modules/views/_base-view/base-view.html" %}
{% from "modules/components/section-header/_section-header.html" import sectionHeader %}
{% from "modules/components/portfolio-excerpt/_portfolio-excerpt.html" import portfolioExcerptSmall %}

{% block keywords %}<meta name="keywords" content="portfolio, de voorhoede, front-end specialists, web development, responsive design, html5, css3, javascript">{% endblock %}

{% block content %}
{{ sectionHeader('Portfolio') }}

	<div class="portfolio-items">

{% for item in content.portfolio %}
	{% if loop.index < 7 %}
	{{ portfolioExcerptSmall(
		item.title,
		item.slug,
		item.excerpt.image,
		item.imageAltText,
		item.isCase
	)
	}}
	{% endif %}
{% endfor %}

	</div>

{#
<div class="link-wrapper">
	<a href="#" class="button-inline voorhoede-icon icon-down js-show-more-link"
	   data-view="portfolio">Meer projecten</a>
</div>
#}

{% endblock %}
