@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* meetup-behavior-design-4 component */

.meetup-behavior-design-4 {

	.blogpost-illustrated-intro p {
		width: 100%;
	}
	section {
		margin-top: 2em;
	}
}