{% extends "modules/views/_single-blog-item/_single-blog-item.html" %}
<!-- meetup-behavior-design-4 -->

{% block blog %}
<div class="meetup-behavior-design-4" data-component="meetup-behavior-design-4">
	<div class="blogpost-illustrated-intro">
		<p>
			April 24th De Voorhoede was at the
			<a href="http://www.meetup.com/Behavior-Design-AMS/events/173715882/" name="Behavior Design Amsterdam">Behavior Design Amsterdam</a>
			meetup for the first time.
			This meetup-group talks about how you can base your design on human behaviour or,
			the other way around, how you can design to influence human behaviour.
			A very interesting topic for us as front-end developers as well.
			In our agile scrum working approach we work closely with interaction designers.
			Understanding about each others work field is a key aspect in this process.
			That aside I’m always curious what the underlying principles are of the stuff I develop.
			So enough reasons to go to this meetup!
		</p>

	</div>

	<section>
		<img itemprop="image" src="media/karsalfrink.min.jpg"  alt="Kars Alfrink"/>
		<h2>First talk: Principles of behavior design</h2>

		<p>
			First talk was from <a href="http://leapfrog.nl/" name="Kars Alfrink">Kars Alfrink</a>,
			the principal designer at
			<a href="http://whatsthehubbub.nl/" name="Hubbub">Hubbub</a>.
			He talked about the principles of behavior design based on the
			<a href="http://www.implementationscience.com/content/6/1/42/">COM-B system</a>.
			COM-B is a ‘behaviour system’,
			involving three essential conditions: capability, opportunity, and motivation.
		</p>
		<p>
			Kars used an intriguing quote in his presentation:
			“Just because you can measure it, doesn’t mean you should”.
			He explained that measuring is the first step in commoditization.
			Commoditization is the process by which goods and services that once had economic value
			and distinction end up becoming simple commodities in the eyes of the market consumers.
			Commoditization of design is bad,
			because it makes everything look and feel the same.
			At the end this will result in dull design, not interesting to the user.
		</p>
		<p>
			Kars gave an example in games,
			where coded (and measured) behaviour prevents the user to be co-owner of the game.
			If you give the players more freedom,
			and give them the chance to play the game with there own rules,
			they will be much more connected and involved with your game.
		</p>
	</section>

	<section>
		<img itemprop="image" src="media/dariugavrila.min.jpg"  alt="Kars Alfrink"/>
		<h2>Second talk: ‘Smart’ cars</h2>

		<p>
			Second talk was from <a href="http://www.gavrila.net/">Dariu Gavrila</a>.
			He is a senior research scientist at
			<a href="http://www.daimler.com/" name="Daimler">Daimler R&D</a>.
			There he is leading a team that works on ‘smart’ cars, cars that see (and act).
			The fruit of his labor can be found in the Mercedes-Benz E-class and S-Class models (2013).
			The amount of technology that is put in those cars is incredible.
			For example, the cars have 8 cameras with all kinds of sensors that collect data.
			With that data you can do all sorts of things.
			For instance, scanning the road in front of the car for bumps and adjust the shock absorbers accordingly.
			You can glide over the road that way.
			Or what about adaptive cruise control,
			with which the car can drive itself?
		</p>
		<h3>Pedestrian safety</h3>
		<p>
			The most important thing Dariu talked about was pedestrian safety.
			The smart cars can see when a pedestrian suddenly crosses the road,
			and can give the driver a warning or even use the brake by itself.
			Detecting whether there is actually somebody crossing the road is very hard.
			Thats why the cameras and sensors used in the cars are very advanced,
			and can make an almost 3d image of the surroundings.
		</p>
		<div class="youtube-video-wrapper">
			<iframe class="youtube-video" src="//www.youtube.com/embed/6pF0GF3W-HQ?rel=0&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<p>
			Dariu also talked about what the future has in store for us.
			Daimler is now busy making the system even smarter.
			They want to predict in advance if a pedestrian wants to cross the road.
			Dariu and his team are using facial recognition and analyse the movement to see if this is the case.
			With facial recognition it is possible to see if a person sees the approaching car.
			They are also testing with camera’s facing the driver,
			so they can see if the driver is looking the right direction to see if a person is crossing the road.
		</p>
	</section>

	<section>
		<img itemprop="image" src="media/nireyal.min.jpg"  alt="Nir Eyal"/>
		<h2>Third talk: Habit forming</h2>

		<p>
			The final talk was from <a href="http://www.nirandfar.com/" name="Nir Eyal">Nir Eyal</a>, author of the book
			<a href="http://www.nirandfar.com/hooked" name="Hooked: How to Build Habit-Forming Products">‘Hooked: How to Build Habit-Forming Products’</a>.
			He studies behaviour design and habit forming.
			Nir talked about how technology pursuits people.
			How big companies like Twitter, Facebook and WhatsApp manage to make people develop new behaviour.
		</p>

		<h3>The Hook</h3>
		<p>
			If your website or application has a business model that requires daily use to succeed,
			it’s important your website makes the user form a new habit.
			ir has made a framework called ‘Hook’, that can help you achieve this.
			The Hook framework contains 4 elements: Trigger, Action, Reward and Investment.
		</p>

		<img itemprop="image" src="media/hooked.min.jpg" alt="Hooked Framework"/>

		<h4>Trigger</h4>
		<p>
			A trigger can be external, like a button or alarm, or internal, like an emotion.
			An example of an internal trigger is people visiting Facebook when they are lonely,
			or using Google if they are unsure about some information.
			A good design keeps this internal trigger in mind.
			Something that is mostly forgotten.
		</p>

		<h4>Action</h4>
		<p>
			The next element is the action.
			This is what the user does after the trigger.
			The action should be a very small thing,
			and is done in anticipation of a reward.
			Like hitting the search button on Google, or pressing play on Youtube.
		</p>

		<h4>Reward</h4>
		<p>
			The reward is what follows the action.
			A real eye-opener to me was that the reward itself is not the most important thing.
			The anticipation for the reward is much more powerfull.
			This is called ‘the power of the unknown’.
			The reward can have many forms.
			For example, it can be a piece of content,
			like a search result on Google or a video on Youtube.
		</p>

		<p>
			This was the part that fascinated me most of Nir talk.
			It made me look at some web applications in a totally different way.
			Netflix for instance.
			I never understood why they don’t show a list of movies and tv series that are being added each month.
			Instead you have a slow and endless scroll page, where you go through all the content.
			Now I know why: because of the power of the unknown.
			You never know if you’ll find something good between all the mediocre content.
			And it works, at least for me.
			I regularly go back to Netflix, just to see if maybe I can find something I like.
		</p>

		<h4>Investment</h4>
		<p>
			The last element is the investment.
			Investment loads the next trigger of the ‘hook’.
			Every message on WhatsApp is an investment.
			It’s an open invitation for an external trigger to be returned.
			The external trigger in this case is the message you get when you receive a reply.
		</p>
		<p>
			There is a lot more behind the hook framework from Nir Eyal.
			I just bought his book and I’m planning to write more about the ‘hook’ in the future.
		</p>
	</section>

	<h2>Recommended</h2>
	<p>
		This was a great Meetup.
		Very high level of speakers and very diverse talks.
		From more philosophical to practical, with real life examples.
		I can really recommend
		<a href="http://www.meetup.com/Behavior-Design-AMS/" name="Behavior Design Amsterdam group">this meetup-group</a>
		for anyone who is interested in design and human behaviour.
		There is something for everyone!
	</p>
</div>
{% endblock %}

<!-- place the scripts in a /scripts folder of this item and use regular html script tags to load below (relative to scripts/) -->
{% block scripts %}
{{ super() }}
{% endblock %}

<!-- /meetup-behavior-design-4 -->
